[2018-06-15 18:59] pm47 commented on #1127
By capacity they are, apparently, but whatever. Maybe all their channels got closed because of this bug?  :stuck_out_tongue_closed_eyes:

I hope eclair isn't IE in your analogy ;-). It's much more low level than that, more like what if they spoke different TCP: that just wouldn't work. Besides, nobody here is arguing that this issue shouldn't be fixed, and actually it has been fixed. I guess they

[2018-06-15 20:32] juscamarena commented on #1368
Ran:

cd $GOPATH/src/github.com/roasbeef/btcwallet/cmd/dropwtxmgr
dropwtxmgr --db ~/.lnd/data/chain/bitcoin/mainnet/wallet.db

Rescanned all wallet transactions and can send funds fine now. I just have the two lingering pending open channels referencing already spent outputs.

[2018-06-15 23:42] Roasbeef commented on #1119
So you're saying the parent transaction isn't being removed?

[2018-06-15 23:43] Roasbeef commented on #1368
Cool, so will close this for now, but make a new issue to ensure that we remove these pending channels if we fail to actually broadcast the final funding transaction.

[2018-06-15 23:43] #1368 closed

[2018-06-15 23:46] Roasbeef commented on #1379
Nothing changed in `lnd` related to the networking. Instead it seems that it's your network configuration which as changed. The `-nat` command will try on a best effort basis, but if your router doesn't support either of those protocols, then you'll need to turn to other measures.

You also never described what error you see on your end.

[2018-06-15 23:47] Roasbeef commented on #1396
It's unable to connect to the `bitcoind` instance. Make sure that your `bitcoind` has been compiled with `zmq`, and is also listening on the proper ports. It looks like the issue here is networking between your containers, not `lnd` itself from what I can gather.

[2018-06-15 23:48] Roasbeef commented on #1395
Your have permission issues. It's unable to write a temporary file that it needs to write in order to complete the installation process. You may need to modify the permissions on the user you're using to execute that command.

[2018-06-15 23:49] #1305 closed

[2018-06-15 23:55] Roasbeef commented on #1388
Perhaps try with a distinct node? If the node you're trying to connect to is faulty for some reason, then makes sense that we can't actually complete the funding process. I'd also look in the logs to see how far we get in the funding process.

[2018-06-15 23:55] #1386 closed

[2018-06-16 00:26] leishman opened #1398 "low CLTV creates routing errors"
### Background

Here is a link to the slack convo for reference, but I will summarize below: https://lightningcommunity.slack.com/archives/C6BKD3RKR/p1529106498000126

I had set my `time_lock_delta` setting to 4 (from the 144 default) using `lncli updatechanpolicy`. I do not remember if I was able to successfully make payments with this setting, but I think I was. A few days later I tried to pay `

[2018-06-16 00:29] HugoDoyon commented on #1395
Indeed Thank you!

[2018-06-16 00:29] #1395 closed

[2018-06-16 00:50] tim222tim commented on #1388
I have reproduced this same exact behavior connecting with 6 to 8 different nodes, all since 0.4.2. This did not happen with earlier versions.

[2018-06-16 00:55] Roasbeef commented on #1388
I guess what I'm trying to say, is that it's an issue worth tackling if you can reproduce locally with distinct nodes. Otherwise, we don't know what commit the remote nodes are running which may have had bugs which are patched in the newer commits.

The fact that your transactions are never broadcast, means that the remote node didn't even respond to the first message. But looking at the logs, we

[2018-06-16 01:00] tim222tim commented on #1388
Ok. I'm not sure what you mean by distinct nodes. Can you give me specific instructions on how to proceed? I would be happy to run any procedures that you recommend.

[2018-06-16 01:27] windsok commented on #1397
I can confirm that I also have this issue when generating a np2wkh address on litecoin mainnet with litecoind

[2018-06-16 02:49] windsok opened #1401 "Feature Request - spend all remaining outputs when opening a channel"
### Background

When opening a channel, sometimes the user will want to spend all of their on-chain wallet balance, to ensure that there are no dust UTXO's leftover that are uneconomical to spend.

Currently, a user can try to manually specify the number of satoshi's and hope that all the funds will be spent, but this is prone to user error (I managed to leave some dust UTXO's when trying to do th

[2018-06-16 02:50] #1186 closed

[2018-06-16 02:51] Roasbeef commented on #1401
Duplicate of #619.

[2018-06-16 02:51] #1401 closed

[2018-06-16 02:52] Roasbeef commented on #619
AFAIK, this issue is still up for grabs!

[2018-06-16 04:03] jagottsicher commented on #1396
thanks for the push into that direction. I'll check that and learn about zmq.

[2018-06-16 08:53] tim222tim commented on #1388
Sorry. I just reread your message and understand now that you'd like me to run a second node and run this test between the two nodes locally. I could try that. Can I run a second node on the same machine? If so, can you point me to instructions on how do keep those configurations separate?

[2018-06-16 09:10] simonhorlick commented on #619
This would actually be super useful. I might pick it up if nobody else has raised a PR.

[2018-06-16 10:00] jrmillerwork commented on #1212
I'd like to try this.

[2018-06-16 10:07] halseth commented on #1212
@jrmillerwork There's already a PR up for this: #1228

[2018-06-16 10:17] jrmillerwork commented on #1212
Okay, thanks. How to determine that there is a PR for a given issue?

[2018-06-16 10:19] halseth commented on #1212
If you look above, there's a fee issues/PRs referencing this issue. If you click the PR you can see that it says "Fixes #1212" 😄

[2018-06-16 10:19] mariodian commented on #1379
I checked from the outside and the 10009 is listening.

NAT is enabled on my router but I don't know whether it supports UPnP or NAT-PMP and since it's made for Asian market (dlink 6740c) there's not much info about it either.

When it comes to errors, I don't see anything in logs. Just those two thin clients (Zap and LND Thin Wallet) tell me they can't connect to my node.

Zap: _Error: 14 UNAVAIL

[2018-06-16 10:54] jrmillerwork commented on #1235
I would like to try this.

[2018-06-16 17:31] BobleChinois opened #1403 "Openchannel fails - rpc error: code = Code(189) desc = You gave bad parameters:Unknown chain-hash"
### Background

I can't open a channel with node 02dd4cef0192611bc34cd1c3a0a7eb0f381e7229aa3309ae961a7fc0076b4d2bb6@35.198.136.5:9735.
I tried other node and could open a channel.

### Your environment

* version of `lnd` : "0.4.2-beta commit=b5a228808b0446d6758a23e24d6c686aab9936fc"
* which operating system : Linux Celeri 4.15.0-23-generic #25-Ubuntu SMP Wed May 23 18:02:16 UTC 2018 x86_64 x86_64

[2018-06-16 20:22] baryluk opened #1404 "Add ability to remove invoices"
### Background

`lncli listinvoices` lists all settled and non settled invoices. AFAIK this list is not really used for many things. The main selling point of having this list, is `lnd` being able to reject payment if it is for incorrect amount or is double payment. (I am not sure if `lnd` does that on incoming message yet tho).

However, this list is never garbage collected.

I want to be able to

[2018-06-16 20:27] baryluk commented on #1318
I have seen no mention that telemetry will be persisted (i.e. ACID semantic for guaranteed message delivery).

[2018-06-16 21:38] phillyfan1138 opened #1405 "No ability to do CORS"
### Background

I'm trying to enable a website (that I've built, ergo trusted) to access my lightning node from a separate domain.  However, I have cross domain issues.  As far as I can tell there are no options to enable CORS in lnd.

I've tried to edit the code to allow CORS in much the same way as tlsextraip is added in the config but I receive "unknown option cors" from the log.  Using https:/

[2018-06-16 22:24] zx9r opened #1406 "lnd --lnddir=xxx not working properly with configuration file"
### Background

When starting lnd with parameter --lnddir=somedir, the config file is read from ~/.lnd/lnd.conf instead of reading from somedir/lnd.conf

At the moment you have to specify also --configfile to read the config file from another directory or a config file with other filename

### Your environment

* version of `lnd`: "0.4.2-beta commit=7cf5ebe2650b6798182e10be198c7ffc1f1d6e19"
* whic

[2018-06-16 23:14] TheBlueMatt opened #1407 "node_announcements are sent in format violation of BOLT 7"
BOLT 7 states:
"The origin node:...MUST NOT include more than one address descriptor of the same type.", however, lnd happily relays along such node announcements (see, eg, the node with alias "BallLightning" which has two IPv4 entires).

[2018-06-16 23:39] githorray commented on #1407
[code]

[2018-06-17 03:50] simonhorlick commented on #619
For the openchannel case I feel like the main issue here is that the user has to guess the fee. For example the following flow is frustrating:
[code]

We could take the fee from local_amt by default, but the change of behaviour might surprise users. We could also add a new option such as --include-fee that makes it explicit that the local_amt includes the fee.

Finally, do we want to commit 100% t

[2018-06-17 05:15] robclark56 opened #1408 "REST unlockwallet command seems to be unavailable"
### Background

Calls to REST /v1/unlockwallet return  `Not Found`

### Your environment

* version of `lnd`
V0.4.2

* which operating system (`uname -a` on *Nix)
Linux RaspiBolt 4.14.30-v7+ #1102 SMP Mon Mar 26 16:45:49 BST 2018 armv7l GNU/Linux
Hardware = 64 bit
OS = 32 bit

* version of `btcd`, `bitcoind`, or other backend
Bitcoin Core RPC client version v0.16.0

* any other relevant environmen

[2018-06-17 07:01] dabura667 commented on #619
This should be sufficient.

This could also be another arg.

So in summary:

1. Add `--include-fee` arg to openchannel and sencoins.
2. Add `--ignore-fee-buffer` for openchannel (assuming lnd is already calculating some buffer for fees that it is not allowing to be used for openchannel) to ignore the buffer and allow sending all funds to an openchannel.

[2018-06-17 07:19] Amiga500 opened #1409 "With Bitcoin Core 0.16.1 and LND 0.4.2 ram usage is very low on Raspberry Pi 3 B Plus"
With Bitcoin Core 0.16.1 and LND 0.4.2 ram usage is very low on Raspberry Pi 3 B Plus.

![raspibolt_memory](https://user-images.githubusercontent.com/16525337/41505743-66b2828a-720f-11e8-9492-a4853f4911d8.png)

[2018-06-17 18:28] JohnnyBackflip opened #1410 "lnd_test.go:69: Failed: (test multi-hop htlc remote chain claim)"
### Background

I get this Error when running make check:

    	lnd_test.go:69: Failed: (test multi-hop htlc remote chain claim): exited with error:
    		*errors.errorString commit transaction not spending fundingtx: (*btcutil.Tx)(0xc420e38ff0)({
    		 msgTx: (*wire.MsgTx)(0xc4208b4680)({
    		  Version: (int32) 2,
    		  TxIn: ([]*wire.TxIn) (len=1 cap=1) {
    		   (*wire.TxIn)(0xc4205db4a0)

[2018-06-18 02:08] superquest opened #1411 "Problem with Golang installation documentation for Linux"
### Background

[The instructions to install golang](https://github.com/lightningnetwork/lnd/blob/master/docs/INSTALL.md#preliminaries) fail for me

### Your environment

* version of `lnd`
NA

* which operating system (`uname -a` on *Nix)
Linux thundroid 4.14.47-132 #1 SMP PREEMPT Sun Jun 3 22:33:16 UTC 2018 armv7l armv7l armv7l GNU/Linux

* version of `btcd`, `bitcoind`, or other backend
NA

* a

[2018-06-18 02:53] simonhorlick commented on #619
I was confusing the fee for the funding tx and the commitment tx. In this PR I only really care about the funding tx.

[2018-06-18 05:38] pinheadmz commented on #1306
@Roasbeef after applying the patch I get a new error in the log. I encountered the `bad-txns-vout-empty` after a crash, dunno maybe database got corrupted. Here's my version:
`LTND: Version 0.4.2-beta commit=7cf5ebe2650b6798182e10be198c7ffc1f1d6e19`

and the new error after following that patch described above:
[code]
any thoughts on recovery? thanks

[2018-06-18 06:36] hpbock commented on #1299
@Roasbeef bitcoind is running locally as the same user as lnd.

[2018-06-18 07:35] engenegr commented on #1271
Hi.

The problem still persists.

http://paste.debian.net/1029646

Why I post it: my node operates for a long time (several weeks) without setting up `minrelaytxfee` so I'm not sure that it is correct behavior.

Now I will check it with this option enabled.

[2018-06-18 13:37] mecampbellsoup opened #1414 "Broken build?"
### Background

I can no longer `make && make install` because the `dep` build tool dependency is not found.

### Your environment

* short SHA `fc658dbf`
* Darwin MEC-MBP.local 17.6.0 Darwin Kernel Version 17.6.0: Tue May  8 15:22:16 PDT 2018; root:xnu-4570.61.1~1/RELEASE_X86_64 x86_64
* 0.16.0 bitcoind

### Expected behaviour

Should build the tip of my local git branch.

### Actual behaviour

[

[2018-06-18 13:53] Roasbeef commented on #1359
Well `lnd` _has_ been "released". However we can do it in two phases perhaps: first deprecate it, then warn that it'll be removed, then just remove it all together.

[2018-06-18 13:54] Roasbeef commented on #1414
This isn't an issue with the build. This is an issue with your local environment. You don't have dep installed, or it isn't found in your path.

[2018-06-18 13:54] #1414 closed

[2018-06-18 13:56] Roasbeef commented on #1299
Unable to reproduce myself, have had `lnd` running for weeks in many cases (restart often as I do dev on many of them). As posted above, if you use the profiling argument, then you can attach locally or remotely in order to obtain a heap dump. If you can obtain and monitor this, then you can see exactly where memory is being allocated.

[2018-06-18 13:59] Roasbeef commented on #1306
You were initially running on a prior commit before 0.4.2 when you hit this? Well as in you may have been running on a prior one, you ran into this issue (which was fixed see https://github.com/lightningnetwork/lnd/issues/1247), but then updated and encountered this?

If you basically insert a "continue" in that loop in the `Start()` method, then you should be able to progress past this.

[2018-06-18 14:00] mecampbellsoup commented on #1414
Well according to the install instructions, `dep` is supposed to be installed via `make`...

![image](https://user-images.githubusercontent.com/2043821/41540485-5daa17e6-72de-11e8-823f-aaa1e499c4ff.png)

[2018-06-18 14:00] Roasbeef commented on #1411
Well it depends on your distro. We also link _directly_ to the official golang instructions as well, as a fall back, as some distros may not have that proper pacakge.

[2018-06-18 14:00] #1411 closed

[2018-06-18 14:00] Roasbeef commented on #1410
What commit are you running? Can you fill in the rest of the issue template?

[2018-06-18 14:01] #1409 closed

[2018-06-18 14:01] Roasbeef commented on #1409
Thanks!

[2018-06-18 14:04] Roasbeef commented on #1408
If you've already started the daemon, then you don't need to hit unlock wallet. If you started with `--noencryptwallet` (which you definitely _should not_ on mainnet), then the unlocker service won't start up at all. Once you've unlocked the wallet, then the service is no longer needed, as the wallet is already unlocked.

[2018-06-18 14:04] #1408 closed

[2018-06-18 14:10] Roasbeef commented on #1405
Are you familiar with the way the golang http middleware is usually implemented? There're buncha libs that allow you to add them on as higher level functions on the regular `http.Handler` essentially.

[2018-06-18 14:19] Roasbeef commented on #1379
Oh you're trying to connect over _RPC_, not the p2p network? Yeah I'd check that you generated the TLS cert properly as required. If that's properly generated, then I'd check with the authors of those respective projects.

[2018-06-18 14:20] Roasbeef commented on #1388
Yes you can run a second node on the same machine. You'll need to set a new `lnddir`, and also set the various listening ports (see `lnd -h` or `sample-lnd.conf`) to distinct values so they don't conflict.

[2018-06-18 14:31] Roasbeef commented on #1403
That means you're on say testnet, but trying to connect to mainnet. Make sure you're on the same chain as the node you're trying to connect to.

[2018-06-18 14:31] #1403 closed

[2018-06-18 14:35] Roasbeef commented on #1414
Yep, but if your $PATH isn't set up properly, this it won't be picked up.

[2018-06-18 14:38] robclark56 commented on #1408
Roasbeef: Understand what you are saying, but

1. Did not start with --noencryptwallet
1. Process followed was:
  * Stop lnd
  * start lnd
  * issue REST unlockwallet command while wallet was locked
  * get 'Not Found'

Surely REST unlockwallet would be expected to respond in this case?

Rob

[2018-06-18 14:43] robclark56 commented on #1408
Hangon ..... eat my words .... think I see my mistake

:-(

[2018-06-18 14:52] mecampbellsoup commented on #1414
I thought the behavior is that `make` installs `dep`, which should Just Work ™️ as long as `go` and `$GOPATH` are properly set, correct?

[2018-06-18 14:55] hpbock opened #1415 "panic: htlc index mismatch: 4 vs 6"
### Background

panic: htlc index mismatch: 4 vs 6

### Your environment

* [INF] LTND: Version 0.4.2-beta commit=7cf5ebe2650b6798182e10be198c7ffc1f1d6e19
* Linux odroid 4.14.47-139 #1 SMP PREEMPT Sun Jun 3 20:08:16 -03 2018 armv7l armv7l armv7l GNU/Linux
* bitcoind V0.16.1
* fails as well on a raspberry pi 3

### Steps to reproduce

Start LND and wait for inbound connection from 86.123.35.199.

#

[2018-06-18 14:56] halseth commented on #1394
?

[2018-06-18 14:59] Roasbeef commented on #1414
Yes, but if `make` execute (and you see in installing dep), then that would mean that your path is messed up somehow. Evidence that this is the case is the passing build: https://travis-ci.org/lightningnetwork/lnd/builds/393621878. Travis starts as a blank state, and we use the make file to install all the required dependancies.

[2018-06-18 14:59] Roasbeef commented on #1415
Was this channel created _after_ your updated, or _before_? As a bug related to this was recently resolved and packaged w/ 0.4.2, but only applies for channels created _after_ that version.

[2018-06-18 15:01] JohnnyBackflip commented on #1410
Sry, im on commit 4344

[2018-06-18 15:01] Roasbeef commented on #1410
You'll need to provide a hash prefix longer than that.

[2018-06-18 15:03] hpbock commented on #1415
The [channel](https://1ml.com/channel/576807098504577025) was created with V0.4.1-beta before the update to V0.4.2-beta.

[2018-06-18 15:08] Roasbeef commented on #1415
I see, so then that's the issue. This has been fixed in the newer versions, but for now you can apply this patch to get around the issue (as the channel is borked on disk, but new commits won't get into this invalid state):
[code]

[2018-06-18 15:10] halseth commented on #1398
@leishman Any possibility you've got from when this happened, or that you can repro and capture logs? I'm wondering if you did the fee update, but then it wasn't properly updated for you own channels...

Do you know if  `ShortChannelID: (lnwire.ShortChannelID) 527196:849:1` is your channel?

[2018-06-18 15:12] JohnnyBackflip commented on #1410
For you? For lnd? For me? What 's a hash prefix in this context?

[2018-06-18 15:23] Perlover commented on #1394
My question was: if now the seed restore for channel not realised - have i only way to backup binary files?

    $datadir/chain/bitcoin/mainnet/wallet.db
    $datadir/graph/mainnet/channel.db

Right? Or it will not help to restore LN node?

[2018-06-18 15:25] sangaman opened #1416 "Feature Request: Fallback bitcoin nodes"
I'm running lnd on a separate server from bitcoind. This means there's a possibility for the bitcoin node to go down while the lnd node stays up. Currently it appears that lnd stays running when this occurs, and restores connectivity to the bitcoin node once it comes back online. That's nice, but what I would really like is the ability to specify a "fallback" bitcoin node in the configuration, suc

[2018-06-18 15:27] Perlover commented on #1299
@Roasbeef , did you try to **first time start of lnd after installing**? I have same error always in many OSes (CentOS 6, Linux Mint 18.3) in first time after installing. When i run after first crash the lnd it continues work without problem of memory. May be this bug is related with first time graph building of LN....

[2018-06-18 15:36] pinheadmz commented on #1306
I was running `lnd version 0.4.1-beta commit=6fa93a78c18180a3bc77116b749b3c5e279d5a33` until June 11 when I upgraded to the commit listed above. Yesterday (on the new version)I had a system crash and got the `txns-empty` error after restarting, so I tried applying the patch (line #458 in `contractcourt/chain_arbitrator.go b/contractcourt/chain_arbitrator.go`):
[code]
...and now I get this nil poin

[2018-06-18 15:54] mariodian commented on #1379
Yes sorry for not making that clear.

Is there any tut on how to properly create the certificate?

[2018-06-18 16:37] Roasbeef commented on #1416
Duplicate of #520.

[2018-06-18 16:37] #1416 closed

[2018-06-18 16:38] Roasbeef commented on #1410
What commit are you running? 4344 doesn't uniquely identify a commit.

[2018-06-18 16:40] sangaman commented on #520
+1 I think this would be a very handy feature.

[2018-06-18 16:46] JohnnyBackflip commented on #1410
Merge: 2f6ff266 92711c4d
Author: Olaoluwa Osuntokun <laolu32@gmail.com>
Date:   Fri Jun 15 16:49:58 2018 -0700
Merge pull request #1380 from cfromknecht/nursery-rebroadcast
utxonursery: rebroadcast finalized kinder txns on startup

Sry, I hope thats better now

[2018-06-18 16:47] Roasbeef commented on #1410
Yes. Now we know which precise commit you're on. Can you fill in the rest of the template? Particularly: if you're able to reproduce this reliably and also some information concerning the machine that you're using.

[2018-06-18 16:54] Roasbeef commented on #1306
Ahh, ok that makes sense re the commit you were running before hand. Try this
[code]

[2018-06-18 17:15] pinheadmz commented on #1306
Thanks 'beef! I'm up and running now (although with 13 channels open I still can't find route to LTB-tip, satoshis place or mainnet yalls... but I'll keep trying)

In slack I heard advice to close all channels and rebuild the node from latest master to avoid re-patching with every upgrade... do you concur? Or, how else should I proceed now that I can access my lnd node again.

[2018-06-18 17:17] Roasbeef commented on #1306
What error do you get for those? I'm able to pay np (well idk what node or set up LTB-tip is running but works for the others).

Yeah that's one route, although there's a PR to add a `forgetchannel` RPC which would let you delete borked channels like this (if they're negligible).

[2018-06-18 17:19] pinheadmz commented on #1306
`"payment_error": "unable to find a path to destination",` LTB runs C-lightning, I think my direct channel to them is closed now but I had one and was able to tip and also my node forwarded a hop or two.

My node has been down for a few days, looks like its still receiving new channel announcements so I might not be up to date with the network graph just yet

[2018-06-18 17:20] Roasbeef commented on #1306
That's it? No other error? If you get that, then would mean the dest isn't even in your graph (if you get that the first time).

[2018-06-18 17:23] JohnnyBackflip commented on #1410
Ok, so I'm on Ubuntu 18.04 LTS using bitcoind v0.16.0.0-g4b4d7eb255 .

What I did was following the installation guide here: https://github.com/lightningnetwork/lnd/blob/master/docs/INSTALL.md

I had the problem that I was missing permissions all the time. So I granted myself sudo permissions but this didn't work... Then I looked what folders were causing the errors and I granted myself permission

[2018-06-18 17:28] pinheadmz commented on #1306
Well satoshis place is in my peers, but no direct channel. `queryroutes` also reports `unable to find a path to destination`

but again, I'm seeing a lot of `new channel discovered` in my log... I'm gunna let it soak for an hour then try again

[2018-06-18 17:36] halseth commented on #1394
Yeah, but if the binary files is not the latest state, you risk that using them might be considered a channel breach.

[2018-06-18 17:45] JohnnyBackflip commented on #1410
By running "make check" I can reproduce this reliably but I don't know the exact steps that lead to that error.

[2018-06-18 17:47] Perlover commented on #1394
Yes, i know it (_Breach Remedy_ transaction from other side of channel).
I hope that the seed restoring for channel will be realized soon.

[2018-06-18 17:48] Roasbeef commented on #1394
You must understand that channels are stateful. You need the seed _plus_ the state.

[2018-06-18 18:23] hpbock commented on #1415
With this patch i get another panic:
[code]

[2018-06-18 19:14] pinheadmz commented on #1306
update: after opening a new channel to satoshis place I was able to make payments to all three destinations above. Ive had this problem before where my channel to LTB was blocking me from making any other payments, because all routes started with that channel. Anyway thanks again! Im running

[2018-06-18 20:38] marshabl commented on #890
FWIW, I commented out the CONF_SWAPSIZE=1000 @Stadicus 's guide, then deleted everything in the downloads folder and restarted bitcoind and lnd. This worked for me, so hopefully it works for others. I am no expert here, but do we need to have CONF_SWAPSIZE=1000?? Perhaps delete from guide?

This guide: https://brettmorrison.com/running-a-bitcoin-lightning-full-node-on-raspberry-pi
has some helpful

[2018-06-19 09:08] Saibato commented on #1407
@Roasbeef @TheBlueMatt
I think about to change the following line in BOLT-7
MUST NOT include more than 21 `address descriptor`.
https://github.com/lightningnetwork/lightning-rfc/commit/2719d878d4c585e6684db48fd7a5dbccb5d0fba7

[2018-06-19 11:50] halseth commented on #1415
@hpbock Try applying the diff in this PR: https://github.com/lightningnetwork/lnd/pull/1418

[2018-06-19 12:29] hpbock commented on #1415
With PR #1418 the startup fails quickly with this message:
[code]

[2018-06-19 14:18] sangaman opened #1420 "Manual connect during chain sync prevents channel from becoming active"
### Background

If a manual connection (`lncli connect`) to a peer with a channel is made after lnd has started but before it has caught up to the chain backend, the channel will remain inactive even after sync is complete. Other channels have connections established and become active automatically once chain sync is complete.

### Your environment

* 0.4.2-beta commit=b5a228808b0446d6758a23e24d6c

[2018-06-19 14:31] btcontract commented on #1383
Some new logs from moneni.com:

[code]

What catches my attention is seeminly the same channel is being failed twice for different reasons:

[code]

Could the later `sync error` just be an effect of earlier `fwding package db has been corrupted`?

[2018-06-19 14:40] Roasbeef commented on #1383
We have a PR up to address the issue in that last fragment.

On Tue, Jun 19, 2018, 3:31 PM Anton Kumaigorodski <notifications@github.com>
wrote:

[2018-06-19 14:55] bockha opened #1421 "unable to start server: -26: 66: min relay fee not met"
### Background

lnd fails to start

### Your environment

* 0.4.2-beta
* bitcoind V0.16.1
* the broken channel was very likely created with 0.4.1-beta #1415

### Steps to reproduce

Start lnd and wait until it crashes.

[code]

### Expected behaviour

lnd should at least start up and serve the non broken channels.

### Actual behaviour

see above

[2018-06-19 14:58] Roasbeef commented on #1420
You shouldn't be able to to a manual connection, as the server isn't started up _before_ the initial chain is actually synced. Peer connections won't succeed as well as the listening server hasn't been started up as well. Channels are only added to switch once a peer is connected, as before that it doesn't actually matter.

On being active: a channel is only active once the channel is "eligible to

[2018-06-19 14:59] Roasbeef commented on #1420
What did the logs w/ this peer show at the time as well?

[2018-06-19 15:44] sangaman commented on #1420
Here's the logs from the rescan, you can see that the gRPC server started listening while the rescan was going on. I figure that's why I was able to do `lncli connect`. The logs don't show the manual connection happening, I figure my logging level isn't low enough.

[code]

Regarding `FundingLocked`, I found this:

[code]

So it's saying I'm not connected to peer `026a9cb86ff60b1f2eb8cc44068451266

[2018-06-19 23:44] phillyfan1138 commented on #1405
Yeah, I've done some work with golang.  Getting CORS to work is not really the problem.  Its that I can't seem to get the extra options passed into the program.

[2018-06-20 00:15] phillyfan1138 commented on #1408
As a follow on to this...is there a reason that I can't make an HTTP request for several seconds after unlocking the wallet?

[2018-06-20 00:17] Roasbeef commented on #1405
Do you have a sample PR to throw up?

On Jun 20, 2018 12:44 AM, "Daniel Stahl" <notifications@github.com> wrote:

Yeah, I've done some work with golang. Getting CORS to work is not really
the problem. Its that I can't seem to get the extra options passed into the
program.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/lightningn

[2018-06-20 00:23] phillyfan1138 commented on #1405
I have forked: https://github.com/phillyfan1138/lnd

[2018-06-20 04:14] neogeno opened #1422 "Cannot get list of unconfirmed transactions via RPC"
### Background

Accessing the LND API via GRPC, you can use GetTransactions to list all on-chain transactions but if there are any pending unconfirmed transactions, that are related to my wallet, they will be invisible until they are confirmed.

I see that in the go source code here there is a function that can do this if we specify 0 confirmations, but it is not exposed to the RPC.

https://githu

[2018-06-20 05:18] orbitalturtle commented on #1406
I'll work on this.

[2018-06-20 06:48] mntetai opened #1423 "max message payload is too big"
### Background
I have installed roastbeefs btcd fork on win 10 pro( 64) .

When running lnd I can not connect to btcd running local host.
### Your environment
Windows 10 pro
* version of `lnd`
https://github.com/lightningnetwork/lnd/commit/e30f8694f02869d5f7d3cf49190d1d37d5b29000

* version of `btcd`, `bitcoind`, or other backend
https://github.com/Roasbeef/btcd/commit/a03db407e40d3b66ea29984263bb

[2018-06-20 10:00] gdassori opened #1424 "< "synced_to_chain": false > with bitcoin.regtest=1"
### Background

LND+bitcoind goes out of sync until restarted (regtest).

### Your environment

* "version": "0.4.2-beta commit=b5a228808b0446d6758a23e24d6c686aab9936fc"
* Linux lnd_node_1 4.15.0-23-generic #25-Ubuntu SMP Wed May 23 18:02:16 UTC 2018 x86_64 GNU/Linux
* Bitcoin Core Daemon version v0.16.0
* I'm using two docker containers, one for lnd, one for bitcoind

Config file:
[code]

### Ste

[2018-06-20 16:05] btcontract commented on #1383
Got another sync error report from a user, here's a "log":

![screenshot_20180620-173004](https://user-images.githubusercontent.com/9870980/41670374-caf3c826-74bc-11e8-9195-399a9fb15975.png)

at least it can be seen that an outgoing `ChannelReestablishment` has been sent by BLW and then an incoming one received in 330 ms, and then a remote `Error` message in about 30 seconds.

related LND logs: ht

[2018-06-20 16:14] Roasbeef commented on #1383
What version of lnd is that running?

On Wed, Jun 20, 2018, 5:05 PM Anton Kumaigorodski <notifications@github.com>
wrote:

[2018-06-20 17:34] Roasbeef commented on #1383
If it's your node, would be helpful if able to do debuglevel=PEER=DEBUG.
This would let use see if we actually received the message, or if like the
connection broke silently due to roaming on the phone or something like
that.

On Wed, Jun 20, 2018, 5:36 PM Anton Kumaigorodski <notifications@github.com>
wrote:

[2018-06-20 18:03] btcontract commented on #1383
LND node belongs to @robtex, hopefully he can continue testing with `debuglevel=PEER=DEBUG`

As to possible roaming issues I do have a quote from him:

If this is the case is there anything I can do at BLW side to prevent this?

[2018-06-20 18:18] Roasbeef commented on #1383
Depends, it may be the case that the socket has broken, but none of us
detect it.

On Wed, Jun 20, 2018, 7:03 PM Anton Kumaigorodski <notifications@github.com>
wrote:

[2018-06-20 19:55] starinacool opened #1425 "82 pending channels for two months"
### Background

I'v tried to open about 200 channels and some of them suck in as pending channels:

lnd@Ubuntu-1604-xenial-64-minimal:~$ lncli pendingchannels | grep closing_txid |wc
     82     164    7872

What should I do to return my coins back?

[2018-06-20 23:07] Stadicus commented on #1292
@Roasbeef Is this issue specific to the update to v0.4.2-beta? I updated a few days ago, and with a restart today the daemon started crashing on start. After applying your patch above, it's working fine again.

Are there plans to mitigate this issue in an upcoming release? What's your advice for the moment regarding upgrades? I worry a bit about lots of people upgrading their nodes and LND just st

[2018-06-20 23:10] Roasbeef commented on #1292
This isn't related to lnd. If you had a channel in this state before the
update, then newly restarted you may hit the issue. The bug was fixed in
lnd and channels can no longer enter this state. There's also a min
accepted chan size, which will become increasingly important in the future
to allow nodes to maintain a healthier set of inbound channels.

On Thu, Jun 21, 2018, 12:07 AM Stadicus <notif

[2018-06-20 23:13] Stadicus commented on #1292
If I understand correctly, these are dust channels, with not enough balance to be closed, correct? If I already have a channel like this, is there anything one can do to preempt this LND crash, without manually applying this patch? Or is this already merged into master?

[2018-06-20 23:16] Roasbeef commented on #1292
There's a "forget channel" rpc that'll be merged soon. It'll let you drop
dust channels like this. Should be merged sometime next week likely.

On Jun 21, 2018 12:14 AM, "Stadicus" <notifications@github.com> wrote:

If I understand correctly, these are dust channels, with not enough balance
to be closed, correct? If I already have a channel like this, is there
anything one can do to preempt this L

[2018-06-20 23:17] Stadicus commented on #1292
Thanks for clarifying and all your incredible work!

[2018-06-21 00:15] Crypt-iQ commented on #386
Hi if nobody is working on this, I'd like to take it

[2018-06-21 09:20] MSauce commented on #1421
Also experiencing this with 0.4.2-beta

[code]

[2018-06-21 10:10] Roasbeef commented on #1423
This isn't lnd. You're trying to connect to the wrong port perhaps. The message you see is from a connect _peer_. `lnd` connects to the _RPC_ interface.

[2018-06-21 12:28] Roasbeef commented on #1421
You'll need to increase the mid relay fee of the node you're connected to.

[2018-06-21 12:30] Roasbeef commented on #1421
If both of those channels were created or to be swept before 0.4.2/master started to enforce a min relay fee, then you'll need to lower the fee on your node so it can start to propagate the transaction.

[2018-06-21 12:33] Roasbeef commented on #1420
Yes the peer wasn't connected, so we weren't able to send the funding locked message to the remote peer.

If we connect, but then the peer disconnects before funding locked is exchanged, then there may have been a gap where we were connected, but the remote peer wasn't processing this message, so we couldn't continue w/ the process of the channel becoming active.

Until both sides send/recv the fu

[2018-06-21 12:34] Roasbeef commented on #1405
So I'm going to close this issue for now, as issues aren't for debugging new code you've added to a fork of `lnd`. If you wish to add this feature, then create a PR and perhaps someone else that also needs the feature will help to review and test it.

[2018-06-21 12:34] #1405 closed

[2018-06-21 12:35] Roasbeef commented on #1422
It depends what backend you're using. Neutrino for example, doesn't see unconfirmed transactions.

As you can see from this fragment: https://github.com/lightningnetwork/lnd/blob/cd8a21c4b829def9bf317a1a9b42f07e36b5891c/lnwallet/btcwallet/btcwallet.go#L573

We display both confirmed and unconfirmed transactions that the wallet knows of.

[2018-06-21 12:35] #1423 closed

[2018-06-21 12:36] Roasbeef commented on #1424
Is this a local node or a remote node? Ensure that before your start to generate those blocks, that `lnd` is actually connected to and receiving notifications from `bitcoind`. Also ensure that you already have `bitcoind` compiled w/ `zmq`.

[2018-06-21 12:36] Roasbeef commented on #1425
You'll need to actually provide information if we're to investigate this.

[2018-06-21 12:38] Roasbeef commented on #1415
You'll need to lower the min relay fee of your target node.

[2018-06-21 12:46] neogeno commented on #1422
I am not using Neutrino it’s a full LND node syncing with btcd but cannot see any unconfirmed transactions, although they do appear as incoming subscription events from subscribeTransactions. Often, however my node will be offline and thus I won’t know about the transaction until it’s confirmed.

[2018-06-21 13:22] bockha commented on #1421
Running my bitcoind core with `minrelaytxfee=0`and then starting lnd solved this problem. Thank you very much!

[2018-06-21 13:22] #1421 closed

[2018-06-21 13:51] bockha commented on #1415
Running my bitcoind core with `minrelaytxfee=0`and then starting `lnd` solved the min relay fee problem. Now `lnd`faials to start with this error message:

[code]

[2018-06-21 13:58] bockha opened #1429 "transaction output has negative value of -36905"
### Background

LND fails to start because it has a negative tx output value.

### Your environment

* Version 0.4.2-beta commit=fc658dbf6043951f6ba8b8e86f4e67bc903cf6b7
* Linux odroid 4.14.47-139 SMP PREEMPT Sun Jun 3 20:08:16 -03 2018 armv7l armv7l armv7l GNU/Linux
* bitcoind v0.16.1 with `minrelaytxfee=0.000001`
* problems (#1415, #1421) started with upgrade from lnd v0.4.1-beta to v0.4.2-beta

[2018-06-21 14:40] BobleChinois opened #1430 "Local_balance amount decreasing fast in open channels"
### Background

Maybe this is silly I don't know, but I think there is something wrong with the commit_fee of 2 open channels of mine.
The amount of ``commit_fee`` feels huge, and it seems it is depleting my ``local_balance`` which is rapidly decreasing.
It might not be a bug, maybe I did something wrong, but I can't figure it out.

### Your environment

* ``lnd version 0.4.2-beta commit=b5a228808

[2018-06-21 17:36] gdassori commented on #1424
Hi, my first issue here, I take the chance to congrat for your work.

Going back on the topic, I'm not 100% sure ZMQ worked properly for the entire test, and actually a docker cluster can make connections between containers rather unstable, so I may and expect to have an unstable zmq connection at any moment.

Is it zmq, atm, the only way to keep lnd in sync with bitcoind? No fallback on the RPC A

[2018-06-21 17:54] Fr4nZ82 commented on #995
I have the same problem since I reset the node. It seems that many nodes that were connected to mine still try to reconnect with the old pubkey, a few days have passed but I continue to receive connections with error chacha20poly1305: message authentication failed... there are news to solve this problem? I can not change ip... I think this issue can be solved banning the old pubkey if a new pubkey

[2018-06-21 18:36] starinacool commented on #1425
OK. I got it.

Here is json from above command:

{
    "total_limbo_balance": "499095",
    "pending_open_channels": [
    ],
    "pending_closing_channels": [
    ],
    "pending_force_closing_channels": [
        {
            "channel": {
                "remote_node_pub": "02ce7adcbaf97f78592ffeabe71bf75e41a20fa15f255a4def2aeeb8297966f78c",
                "channel_point": "cf66d4cbe7970254cfe

[2018-06-21 18:37] Stadicus commented on #1379
Yes, that would be super helpful. Also regarding how to connect with Shango mobile wallet (@neogeno).

[2018-06-21 19:48] Roasbeef commented on #1425
Can you follow through with the rest of the issue template? It will save a
lot of back and forth. Also startup logs, etc.

On Thu, Jun 21, 2018, 7:37 PM starinacool <notifications@github.com> wrote:

[2018-06-22 02:16] treygriffith opened #1431 "Link rejects HTLCs that meet CLTV forwarding policy of outbound link but not inbound link"
### Background

When a single node's channels have diverse timelock delta forwarding policies (e.g. Channel A has a forwarding policy of
[code]
and Channel B has a forwarding policy of
[code]
)

It rejects incoming HTLCs to forward that have enough timelock according to the outbound link's policies but not the inbound link's policies.

For example, if a route was forwarding through the node from C

[2018-06-22 05:18] treygriffith commented on #1431
It also looks like there is a similar check on the exit hop:
https://github.com/lightningnetwork/lnd/blob/fc658dbf6043951f6ba8b8e86f4e67bc903cf6b7/htlcswitch/link.go#L2212
which according to my read of the spec, forwarding policies shouldn't be referenced for non-forwarding scenarios.

This should mean (although I haven't tested it) that if you specify a `min_final_cltv_delta` of a smaller amount

[2018-06-22 09:54] gdassori commented on #1424
Ok, I confirm there was a lack on zmq configuration, I published only hashed data, and not raw.
Once set zmqpubrawblock & zmqpubrawtx, lnd started to sync.

[2018-06-22 09:54] #1424 closed

[2018-06-22 11:00] bockha commented on #1429
The negative output value seems to be caused by a tx fee calculation. I found a constant with value **6** (blocks until initial confirmation) inside the source. Depending on this constant the source calculates a fee so that the new transaction shall be included in this number of blocks. With a higher value the reported error does not occur.

https://github.com/lightningnetwork/lnd/blob/7cf5ebe2650

[2018-06-22 12:46] starinacool commented on #1425
OK, I'll start a new issue

[2018-06-22 12:46] #1425 closed

[2018-06-22 12:47] Roasbeef commented on #1425
Wait, just update this one...

On Fri, Jun 22, 2018, 1:46 PM starinacool <notifications@github.com> wrote:

[2018-06-23 06:34] jogc opened #1434 "Unable to retrieve initial bootstrap peers (lnd 0.4.2-beta)"
### Background

Just installed lnd (version 0.4.2-beta commit=18f17ad49b4cc58635a285e53441d82a0c54fd99) with a fresh data directory and I get this repeatedly:

Jun 23 14:23:46 x lnd[16819]: 2018-06-23 14:23:46.535 [ERR] DISC: Unable to query bootstrapper BOLT-0010 DNS Seed: [[nodes.lightning.directory soa.nodes.lightning.directory]]: lookup soa.nodes.lightning.directory on 213.186.33.99:53: server

[2018-06-23 08:21] jogc commented on #1434
Seems it eventually found some peers. It took a long time though. Log was filled with these messages.

[2018-06-23 11:28] Roasbeef commented on #1434
Was doing some tweaks to the seed itself, and forgot to restart! It's back up now, will work on adding redundancy!

[2018-06-23 11:28] #1434 closed

[2018-06-24 04:09] ubenmackin opened #1436 "limbo balance is stuck on a waiting to close channel"
### Background

Power went out, and client didn't gracefully shutdown. Now, many weeks later, I have a channel balance that shows "limbo":

{
	"total_limbo_balance": "82973",
	"pending_open_channels": [],
	"pending_closing_channels": [],
	"pending_force_closing_channels": [],
	"waiting_close_channels": [
		{
			"channel": {
				"remote_node_pub": "026b105ac13212c48714c6be9b11577a9ce10f10e1c88a45ce

[2018-06-24 07:12] robtex opened #1437 "lnd tries to make a dust transaction during sweep and refuses to start"
lnd version 0.4.2-beta commit=18f17ad49b4cc58635a285e53441d82a0c54fd99

[code]

### Background

Describe your issue here.

### Your environment

* version of `lnd`
* which operating system (`uname -a` on *Nix)
* version of `btcd`, `bitcoind`, or other backend
* any other relevant environment details

### Steps to reproduce

Tell us how to reproduce this issue. Please provide stacktraces and links

[2018-06-24 22:30] slush0 commented on #687
@Roasbeef I have the same issue as @rubenkr, other node is rejecting with "You gave bad parameters:feerate_per_kw 250 below minimum 253".

Thanks to your comment, I understand what's going wrong, but the solution isn't obvious to me. What I'm doing wrong? I didn't find any configuration regards suggesting fee rate from my node's side. The only parameter I see is --sat_per_byte, but regardless of i

[2018-06-24 23:59] Roasbeef commented on #687
You're not doing anything wrong, it's that the c-lightning node you're
trying to connect to doesn't like your fees, since they're so low on
mainnet. If you update to master then we've added this temp fee floor.

On Sun, Jun 24, 2018, 3:31 PM Marek Palatinus <notifications@github.com>
wrote:

[2018-06-25 03:57] neogeno commented on #1422
Confirmed This happens on lnd version 0.4.2-beta commit=d98d4523e10426c4ce097ecc7ec1ba199a331c60

[2018-06-25 05:07] yaslama commented on #1406
@orbitalturtle Sorry :) But I needed it..

[2018-06-25 14:04] brndnmtthws opened #1441 "`lncli getinfo`/lnd not responding"
### Background

I've noticed an issue in the past month or so where I can't run `lncli getinfo`. My node appears to be healthy: https://www.robtex.com/lightning/node/0327049d8d63f0c40193cdf3afc61817c8647808a4e482de0716fcef74e6d92ebf

My node has been running for more than 3 months, and I've only noticed this problem in the past month or so (although tbh I don't check it often).

There's nothing re

[2018-06-25 17:32] Roasbeef commented on #1441
I wouldn't use explorers to ascertain if a node is "healthy" or not. Are you running w/ the profiling setting on? If so you can use it to see what's up w/ the goroutine itself.

[2018-06-25 17:38] Roasbeef commented on #1436
The channel you linked was closed back in May, I'm guessing you created it with a version of lnd _before_ 0.4.1? If so, then you may have [this this bug](https://github.com/lightningnetwork/lnd/pull/1158), which has subsequently been fixed. As a result, new versions of `lnd` won't be able to get into this configuration.

If you send us some start up logs, then we'll be able to confirm this.

[2018-06-25 17:41] Roasbeef commented on #1431
Related to #1398.

[2018-06-25 17:43] Roasbeef commented on #995
This is usually due to either: you've changed your pubkey, and the remote still has your pubkey, or it's someone trying to do port scanning or the like, attempting to see if it's actually an http server. In either case, it's benign.

[2018-06-25 17:44] Roasbeef commented on #1430
This is just the commitment fee being automatically adjusted. If you're on testnet, then fee estimation is a bit wonky, so you might have high-ish fees on your commitment transaction. For mainnet, the fee situation is a lot more realistic.

[2018-06-25 17:44] ubenmackin commented on #1436
Ok, will do as soon as I get home.

[2018-06-25 17:46] #1437 closed

[2018-06-25 17:46] Roasbeef commented on #1429
If you apply this patch, you should be able to boot again:
[code]

The issue tracking the ultimate fix for this (also see the linked PR), can be found here: https://github.com/lightningnetwork/lnd/issues/1184

[2018-06-25 17:48] Roasbeef commented on #1379
See `lnd -h` for the tls related options. I'd ask the Shango wallet author to possibly improve their set up options.

[2018-06-25 17:48] #1379 closed

[2018-06-25 17:51] #1430 closed

[2018-06-25 18:00] brndnmtthws commented on #1441
If you can provide specific instructions on how to collect that data, I'd be happy to do it for you, but given that I only run this as a hobby I'm not going to spend hours trying to figure out wtf is going on (I have more productive things to do).

[2018-06-25 18:03] Roasbeef commented on #1441
Not asking that you spend hours on it. The target option is `--profile`. You can set it to a free port, and with that alone, we'll be able to collect profiling information.

[2018-06-25 18:29] brndnmtthws commented on #1441
I have it running now with `--profile=9736`, what's the next step?

[2018-06-25 18:30] Roasbeef commented on #1441
You can the locally hit `http://localhost:9736/debug/pprof/goroutine?debug=1` to obtain the goroutine dump. Are you able to reliably reproduce this `getinfo` hanging?

[2018-06-25 18:34] brndnmtthws commented on #1441
Yes, happens pretty much 100% of the time now.

Here's what I see _before_ running `getinfo`: https://gist.github.com/brndnmtthws/764a3af9da5d8d6ee94ac781a1755057

Here's what I see after running `getinfo`: https://gist.github.com/brndnmtthws/c34b749a6a215b045669708bd8060347

[2018-06-25 18:50] Roasbeef commented on #1441
Excellent, thanks for the info! Can you try out this PR and see if the issue persists: https://github.com/lightningnetwork/lnd/pull/1442

[2018-06-25 19:46] brndnmtthws commented on #1441
So far so good. Looks like that does the trick.

I started a doc on how to do this so you can simply refer to that in the future and save time: #1443.

[2018-06-25 20:55] vapopov commented on #511
@sangaman you could try with this [changes](https://github.com/btcsuite/btcd/pull/1201)

I've written btcctl command to traverse trough blocks and return error in case of not valid status
https://github.com/LightningPeach/btcd/tree/validate_block

[code]

[2018-06-25 22:41] wpaulino commented on #1422
What should probably be done here is to introduce a more robust streaming notification delivery for `SubscribeTransactions` and possible the other streaming RPCs like how #1125 does.

[2018-06-25 22:54] #1189 closed

[2018-06-26 00:20] sangaman commented on #511
@vapopov unfortunately I'm not running any nodes running with neutrino currently so I haven't witnessed this issue recently. If I have time I'll try syncing one up again and see if I can still reproduce and if your PR helps.

[2018-06-26 00:43] drozzy opened #1444 "In the guide - how do you know btcd synced?"
Thank you for the great guide:
https://github.com/lightningnetwork/lnd/blob/master/docker/README.md

I'm stuck on Line 296, after bringing up the `btcd` service:

[code]

The guide says:

But how do I know when it has _synced_? (The docker service is running in background `-d`)

Would be useful for future users to put a little help in there, briefly mentioning how to do it.

Maybe something like:

[2018-06-26 00:47] drozzy commented on #1444
I'm still not clear whether I'm synced or not.. my block height is at 66312, how do I know if it's current?

[2018-06-26 00:54] drozzy commented on #1444
Oh, I see, after trying to issue:

`lncli connect <faucet_identity_address>@<faucet_host>`

my machine gives me an error:

`[lncli] rpc error: code = Unknown desc = chain backend is still syncing, server not active yet`

[2018-06-26 00:57] drozzy commented on #1444
Closing this, hope this might help someone in the future.

[2018-06-26 00:57] #1444 closed

[2018-06-26 01:15] ubenmackin commented on #1436
@Roasbeef I started, let it run for a few minutes, then stopped. Here is the log output. If you need more, let me know.

`Attempting automatic RPC configuration to bitcoind
Automatically obtained bitcoind's RPC credentials
2018-06-25 18:11:53.852 [INF] LTND: Version 0.4.2-beta commit=7cf5ebe2650b6798182e10be198c7ffc1f1d6e19
2018-06-25 18:11:53.852 [INF] LTND: Active chain: Bitcoin (network=mainnet

[2018-06-26 01:16] sezaru opened #1445 "LND GRPC stream calls doesn't return some kind of confirmation"
### Background

I'm creating an application using Elixir that needs to communicate with my local LND node, for the GRPC connection I'm using [GRPC-Elixir](https://github.com/tony612/grpc-elixir) library which works great except when I try to use the stream functions like the `subscribe_invoices` which will trigger a timeout.

I created an issue in the authors library github: [link](https://github.

[2018-06-26 01:55] valentinewallace opened #1446 "panic on large input to UpdateFailHTLC"
### Background

This issue covers a bug/panic, discovered using `go-fuzz` library

### Your environment

* version of `lnd`
commit `c1c4b84757dd5b1e1fcb285b4a1fa6a56b35432c` (current HEAD)
* which operating system (`uname -a` on *Nix)
Linux 4.16.12-1-ARCH

### Steps to reproduce

[repro_files.zip](https://github.com/lightningnetwork/lnd/files/2135265/repro_files.zip)
this zipfile includes:
1) `ef8

[2018-06-26 02:00] Roasbeef commented on #1445
Sounds like an issue with the elixir lib. The streaming call only returns (atm) a response if a new invoice has been settled. There's a PR open to modify this to allow users to specify the last invoice ID they know of, and from there we'll send out a set of backlog notifications.

[2018-06-26 02:05] #1446 closed

[2018-06-26 02:14] #1441 closed

[2018-06-26 03:33] Roasbeef commented on #1431
Thanks for such a detailed issue! I'll have a PR up fixing the bulk of the issue (also a bug within the hop payload generation within the router, which propagated into the switch). With respect to that last comment, we'll need to also start to store the cltv delta used for the invoices in order to fully remedy it.

[2018-06-26 10:49] sangaman commented on #1174
Just an FYI with my observations running the latest from master against bitcoind 0.16.1 on a remote machine. I actually synced lnd initially running on the same machine as bitcoind - that went fine - and then copied the `.lnd` directory over to a remote machine. Since then, I've noticed that `synced_to_chain` will frequently flip to `false` (although it reports an up-to-date block height) and then

[2018-06-26 12:22] brandoncurtis commented on #1394
@Roasbeef if wallet.db and channel.db are _continuously_ backed up, should that be sufficient to restore channel balances in the event of a failure?  Would backing these up properly require stopping `lnd`?

[2018-06-26 13:01] BobleChinois commented on #1430
Ok thanks, I just wanted to be sure I did nothing wrong. Was on mainnet btw.

[2018-06-26 19:03] slush0 commented on #511
I have similar issue, my node (connected to bitcoind 0.16.1) randomly switch to synced_to_chain=0, even when I see the correct tip in lnd console. Tested on 0.4.2 release as well as current git master.

[2018-06-26 19:44] slush0 commented on #511
Local node.

[2018-06-26 20:38] JohnnyBackflip commented on #1410
Seems like it was a wrong npm version, I installed a newer one and it worked.

[2018-06-26 20:38] #1410 closed

[2018-06-27 01:17] #1224 closed

[2018-06-27 02:47] #1398 closed

[2018-06-27 02:47] #1431 closed

[2018-06-27 04:10] junderw commented on #609
ACK CPFP approach for now.

RBF is kind of messy...

[2018-06-27 16:05] slush0 commented on #1174
I observed frequent switching of sync to false (although lnd reports correct block height). I wrote watchdog for my lnd, which (gracefully) restart lnd when the node gets out of sync.

However, such workaround doesn't work well as it seems to trigger many random error and inconsistent behavior, like "uncooperative peer" error message in Eclair while opening the channel, some stuck transactions (ln

[2018-06-27 17:31] wpaulino commented on #856
Closed by #856.

[2018-06-27 17:31] #856 closed

[2018-06-27 17:31] wpaulino commented on #1039
As of #1159, we now fetch the advertised address rather than only the port.

[2018-06-27 17:31] #1039 closed

[2018-06-27 17:31] wpaulino commented on #1415
Closing as the original issue has already been resolved.

[2018-06-27 17:31] #1415 closed

[2018-06-27 17:31] wpaulino commented on #1250
Closed by #1274.

[2018-06-27 17:31] #1250 closed

[2018-06-27 23:39] #1445 closed

[2018-06-27 23:58] Roasbeef opened #1455 "lncli: add extra confirmation dialogue to payinvoice+sendpayment"
Currently there's no easy way for a user to verify the integrity of a payment request they're about to pay, unless one first uses the `decodepayreq` method _each_ time before sending on the command line. It would be nice if this became the default, as since many users are new to the system, it's easy for a site to trick a user into paying a higher invoice. To avoid this, we should add a default mo

[2018-06-28 00:00] rawtxapp commented on #1455
Looks like a good first issue, can I take this ?

[2018-06-28 00:00] githorray commented on #1455
I always decode first. This will save a step. Great!

[2018-06-28 04:55] meeDamian commented on #132
Wouldn't it make more sense to add a `requestinvoice` method to a spec, that would return a short-lived invoice to a requesting node?

[2018-06-28 05:49] Roasbeef commented on #132
This is a single shot. It also doesn't require changes at the core, it's
end to end.

On Jun 27, 2018 9:55 PM, "Damian Mee" <notifications@github.com> wrote:

Wouldn't it make more sense to add a requestinvoice method to a spec, that
would return a short-lived invoice to a requesting node?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<h

[2018-06-28 15:21] slush0 opened #1463 "Crash during startup on lookup soa.nodes.lighning.directory: server misbehaving"
### Background

My lnd started crashing after updating to master. Before this update I was running git master from few days ago and didn't experience such problem.

Lnd crashes directly on startup with the line:

`lookup soa.nodes.lightning.directory on 192.168.69.1:53: server misbehaving`
(that IP is my router)

I tested latest release lnd-v0.4.2-beta and everything works normally. So I expect so

[2018-06-28 15:28] slush0 opened #1464 "Crash during startup on lookup soa.nodes.lighning.directory: server misbehaving"
### Background

My lnd started crashing after updating to master. Before this update I was running git master from few days ago and didn't experience such problem.

Lnd crashes directly on startup with the line:

`lookup soa.nodes.lightning.directory on 192.168.69.1:53: server misbehaving`
(that IP is my router)

I tested latest release lnd-v0.4.2-beta and everything works normally. So I expect so

[2018-06-28 16:06] merehap opened #1465 "lncli addinvoice fails with "permission denied""
### Background
There are two issues here:
1. lncli addinvoice fails.
2. The error message given is not very helpful.

Here's the command that I ran:
./lncli addinvoice --amt 2000
[lncli] rpc error: code = Unknown desc = permission denied

I suspect that the failure might be related to me upgrading my version of lnd.

### Your environment

* version of `lnd`
lnd version 0.4.2-beta commit=7c2307984d

[2018-06-28 16:55] mschristiansen opened #1466 "Errors in REST API Reference"
I'm busy writing a client library against the REST API. There is a few places where the reference is wrong e.g. `best_header_timestamp` in `/v1/getinfo` is supposed to be an `int64` but actually a `string`, some fields seem to be optional.

If the reference is generated from https://github.com/lightningnetwork/lnd/blob/master/lnrpc/rpc.swagger.json and this is a hand-written file then I'm happy to

[2018-06-28 18:35] Roasbeef commented on #609
Agreed that the CPFP route is easier for now, and also has less edge cases. Rather than make it specific to funding transactions, I think we can instead make it fully generalized. So maybe a command like: `lncli feebump cpfp --outpoints=op1, op2, op3 --fee_rate=X`. Notice that it takes a list of outpoints, so one could even anchor down a series of transactions with a single child.

One Q with this

[2018-06-28 18:50] tiero commented on #1455
I can take it myself as well, since it can save on a my application half of the time (of course only if isn't going to take it `rawtxapp`, I'm ok with FIFO policy :D )

[2018-06-28 18:56] jamesob commented on #609
Yup, agree that a more general `feebump` mechanism that'd allow multiple parent inputs seems very useful. I'll go that route.

[2018-06-28 19:00] Roasbeef commented on #1463
Has this always been the case? Or is this a new issue? Are you able to manually hit that hostname using dig?
[code]

Do you have any special set up with your networking?

[2018-06-28 19:01] Roasbeef commented on #1465
You need to delete your old set of macaroons, as there's now a new `invoice.macaroon`.

[2018-06-28 19:01] #1465 closed

[2018-06-28 19:02] Roasbeef commented on #1466
What reference are you referring to? That's just a set of swagger json docs. If you're actually getting json, many times it's the case that integers are encoded as strings, as JS doesn't have proper integers.

[2018-06-28 22:23] slush0 commented on #1463
Hey sorry for my fat fingers, this issue has been submitted by mistake and it wasn't filled completely. So I'm moving details from #1464 and deleting #1464.

However, to answer your questions:

[code]

Seems that it's not working, and no, I don't have any special network setup.

As stated in issue description now, it does NOT work with recent master, everything however works correctly on v0.4.2

[2018-06-28 22:33] Roasbeef commented on #1463
Hmm, if you can't hit the host as normal, then that might point to an issue with your set up. The seed itself hasn't changed at all.

[2018-06-28 22:36] Roasbeef commented on #1463
Will spin up a fresh node on master to see if I can repro.

[2018-06-28 22:38] slush0 commented on #1463
That's quite strange now.

When I put IP to /etc/hosts (I resoved it on another machine), now both master and v0.4.2-beta works.

When I comment-out the IP in /etc/hosts, master stops working and v0.4.2-beta still works. Both on the same node directory.

So obviously something is wrong with my network, because the DNS doesn't resolve, but anyway both binaries have different behavior in such case.

[2018-06-28 22:41] Roasbeef commented on #1466
Are you aware of https://api.lightning.community/rest/?

[2018-06-28 22:44] slush0 commented on #1463
I tried both with new node setup (fresh lnddir) and the behavior is still the same. Latest master doesn't boot-up, but v0.4.2 does.

[2018-06-28 22:51] Roasbeef commented on #1463
Just booted up a fresh node on master, and was able to perform initial bootstrap (via the DNS seed) no problem.

[2018-06-28 22:52] Roasbeef commented on #1463
If you change locations (and networks) does the issue persist?

[2018-06-28 23:05] slush0 commented on #1463
Let me fix my DNS issues. I'll report back.

[2018-06-28 23:08] slush0 commented on #1463
Ok, after setting Google's DNS on my edge router, I can start up node normally. I have no explanation for this and why different binaries of lnd behaves differently, but I suppose it's not worth debugging such corner case. Thanks for your time!

[2018-06-28 23:08] #1463 closed

[2018-06-29 01:02] Roasbeef commented on #1463
One thing that changed between 0.4.2 and master is that we'll randomize which bootstrapper we use. With 0.4.2, after the initial bootstrap, we would only consult the peers we know of on disk. In the current master, in order to continue to sample new fresh peers, we'll occasionally hit the DNS seed again.

[2018-06-29 02:18] #1346 closed

[2018-06-29 04:11] mschristiansen commented on #1466
That's the reference I am using and which is wrong. Was thinking it was generated from the swagger docs.

Assuming we want reference to match implementation and not the other way around. Want help fixing it?

[2018-06-29 04:11] Roasbeef commented on #1466
There's no need to fix it: it's JSON, integers are usually encoded as strings.

[2018-06-29 04:12] Roasbeef commented on #1466
Also the swagger file is automatically generated.

[2018-06-29 04:46] offerm commented on #1378
@Roasbeef @halseth

Still think it can be done. Let me explain:

Today, when the integration test runs it is using the lnd-debug binary to start a process for Alice, Bob, Carol, etc. If we would somehow cause lnd-debug to generate cover data we could collect the data for each execution of lnd-debug and append it to the cover data we collect for the unit tests.

Actually, there is a nice way in whi

[2018-06-29 05:00] andronoob opened #1472 "loadConfig: either bitcoin.active or litecoin.active must be set to 1 (true)"
### Background

LND cannot initialize with Litecoin Core

### Your environment

Windows 10 Pro 1803 x64
LND 0.4.1 AMD64
Litecoin Core 0.16.0 (litecoin-qt)

### Steps to reproduce

1.Edit `lnd.conf`, add `[Bitcoin]` and `[Litecoin]` section, set `bitcoin.active=0` and `litecoin.active=1`, save.
lnd.conf:
[code]
2.Start litecoin-qt, wait it to sync.
3.Try to start LND.

### Expected behaviour

LND s

[2018-06-29 05:09] andronoob opened #1473 "Failed to process consensus server notification."
### Background

LND failed to initialize with Litecoin-qt.

### Your environment

* Windows 10 Pro 1803 x64
* LND 0.4.1 AMD64
* Litecoin Core 0.16.0 (litecoin-qt)

lnd.conf:
[code]
litecoin.conf:
[code]

### Steps to reproduce

1.Start litecoin-qt, wait it to sync.
2.Start LND:
[code]

### Expected behaviour

LND should start normally.

### Actual behaviour

LND throwed out some error & exited.
[c

[2018-06-29 05:33] mschristiansen commented on #1466
`"1"` specified as type `<Int64>` instead of `<string>` is problematic for something that is supposed to be machine readable (even if in JSON). It should not take much effort to correct and I'm happy to do so, if I'm pointed in the right direction. I will close the issue, but feel free to leave a comment.

[2018-06-29 05:33] #1466 closed

[2018-06-29 05:38] Roasbeef commented on #1472
Are you setting the ` --litecoin.node` option?

[2018-06-29 05:39] Roasbeef commented on #1473
The greater issue here seems to be:
[code]

[2018-06-29 09:38] slush0 commented on #1174
@Roasbeef Confirming that bitcoin/bitcoin#13315 fixes my issues. Thanks!

[2018-06-29 09:42] slush0 commented on #511
I resolved my issues by removing zmq limit in bitcoind, see #1174

[2018-06-29 10:32] andronoob commented on #1472
@Roasbeef
Yes.
I've just updated the text, content of lnd.conf was added.

[2018-06-29 10:35] andronoob commented on #1473
@Roasbeef
I'm still very confused. What should I do to fix this problem? I have changed RPC binding port for several times, still not working.

[2018-06-29 19:28] bretton commented on #677
Great to see some progress here. I'm horribly under-qualified and out of my depth for anything except "ra ra go team go" support on this :)

I've had some successful uptakes with my manual model of reciprocal channels, where A opens to B, B opens to C, and C opens to A.

However it's not autopilot, and requires a negotiation layer with all parties on the same page, and commitment to keep channels

[2018-06-29 21:15] molxyz commented on #1473
@andronoob  You might have something else running on that port.  Try this: Open your cmd.exe and run this:  `netstat -aon | findstr :59332`  to see what you have.

[2018-06-29 21:35] cryptagoras opened #1476 "unable to fetch chan info: no chan info found"
### Background

lnd crashes on startup (I use the latest commit 076fc712619ca4b6ee518c7ab4c263cbae51108e)
[code]

### Your environment

* version of `lnd`
076fc712619ca4b6ee518c7ab4c263cbae51108e currently
fc658dbf6043951f6ba8b8e86f4e67bc903cf6b7 previously
* which operating system (`uname -a` on *Nix)
Ubuntu 16.04 LTS 4.4.0-45-generic
* version of `btcd`, `bitcoind`, or other backend
Bitcoin core

[2018-06-29 21:38] Roasbeef commented on #1476
See this commit for the prior fix: https://github.com/lightningnetwork/lnd/commit/3f2aa1c36837ecde53366e02e77db3575f05bd67#diff-760b3f162cb411feafa64b94f79df309

Was possible that your channel entered this state before that was merged though.

[2018-06-29 22:24] Roasbeef commented on #1472
Your config is invalid. You're mixing items within distinct namespaces. Ensure that they're properly partitioned. Another approach is to add items on by one, then you'll see which one is incorrect.

[2018-06-29 22:24] #1472 closed

[2018-06-29 22:33] renepickhardt commented on #677
so what you basically propose is that wedges in the graph should be closed as triangles or in general an heuristic for triangle closing since this is the shortest meaningful circle in the graph. I guess having many triangles is a decent heuristic and probably already more useful than the Barabasi Albert model. I like the idea that an autopilot runs not only in the beginning but keeps running and t

[2018-06-29 23:14] bretton commented on #677
cool, if something like that is possible, then may it will be useful. Requires incoming channels, but maybe that's the difference between a new node trying to establish a broad connection to the network, and a mature node trying to establish better redundancy(?)

Happy to test once we have more to work with.

[2018-06-29 23:36] cryptagoras commented on #1476
Thx. I tried multiple things, same error, but I'll look at it again tomorrow. (slim chances I'll get anywhere :P)

[2018-06-30 01:06] dchirikov opened #1481 "Channel closed. Lost funds."
### Background

Was trying to play and test LN on mainnet and pay for satoshi.place.

### Your environment

* version of `lnd`: `lnd-v0.4.2-beta-192-gb5a22880`
* which operating system (`uname -a` on *Nix): `Linux odroid 4.14.37-135 #1 SMP PREEMPT Sun Apr 29 23:34:43 -03 2018 armv7l armv7l armv7l GNU/Linux`
* version of `btcd`, `bitcoind`, or other backend: `bitcond-16.1`

### Steps to reproduce

[2018-06-30 01:47] wpaulino commented on #1481
If the channel was force closed, it'll show under `pendingchannels`. The funds should be swept back into your wallet after some blocks (CSV delay).

[2018-06-30 01:48] andronoob commented on #1472
@Roasbeef
I expected that LND's behaviour should be *deterministic*. Actually, LND *probabilistically* fails to start.

[2018-06-30 01:49] Roasbeef commented on #1472
Follow my instructions and you'll find where you've created an invalid
config.

On Jun 29, 2018 6:48 PM, "andronoob" <notifications@github.com> wrote:

@Roasbeef <https://github.com/Roasbeef>
I expected that LND's behaviour should be *deterministic*. Actually, LND
*probabilistically* fails to start.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitH

[2018-06-30 02:15] andronoob commented on #1472
@Roasbeef
Thanks. I think I've fixed my config file.
But, I'm still confused. I expected that LND should always refuse to start with a invalid config file. Actually, sometimes LND starts, sometimes it won't.

lnd.conf:
[code]

[2018-06-30 08:04] offerm commented on #1472
@andronoob  do you still face startup problems after fixing the config file?

[2018-06-30 08:19] RossClelland opened #1483 "Unknown Option - Autopilot"
### Background
lnd.conf contains the following which I've copied and pasted from the sample config file:
autopilot.active=1
autopilot.maxchannels=5
autopilot.allocation=0.9

However, when I start lnd I get the following error:
2018-06-30 09:12:03.690 [WRN] LTND: /home/bitcoin/.lnd/lnd.conf:19: unknown option: autopilot.active

### Your environment

version of `lnd` 0.4.2-beta
o/s - ubuntu 16
bitco

[2018-06-30 09:56] neogeno commented on #1422
The robust notifications are good idea for all subscriptions. But why does manually invoking the getTransactions RPC command not show the unconfirmed chain transactions, when according to the code, it should?

[2018-06-30 10:06] neogeno commented on #1236
@guggero  Any idea when this feature will be ready to merge?

[2018-06-30 11:28] andronoob commented on #1472
@offerm The problem was already resolved after fixing config file.

[2018-06-30 18:43] otaviobps opened #1485 "LND - Connection refused unlocking the wallet"
### Background

I'm getting connection refused when trying to unlock my wallet. I could create the wallet. I'm running bitcoind 0.16 and my node is synced. I've built it from the source with zmq enabled. Then reinstalled Ubuntu and installed bitcoind from the bitcoin repository. I'm getting the same error. Here is the log:

[code]

On another terminal window, where I'm trying to unlock the wallet,

[2018-06-30 19:31] wpaulino commented on #1483
You should ensure all `autopilot` settings in the config file are directly below the `[autopilot]` header.

[code]

[2018-06-30 19:35] otaviobps commented on #1485
My node is listening on `18332` port for RPC connections. Is there a flag to change the RPC port on LND?

[2018-06-30 19:36] wpaulino commented on #1485
Yes, `bitcoind.rpchost`. See `lnd -h` for more info.

[2018-06-30 19:38] otaviobps commented on #1485
That made it. Thanks

[2018-06-30 19:38] #1485 closed

[2018-06-30 20:19] RossClelland commented on #1483
Just made the change and it works, thanks

[2018-06-30 20:19] #1483 closed

[2018-06-30 22:46] Roasbeef commented on #1481
It's likely just the remote peer that you're connected to. They force closed the channel (as a node can arbitrarily). If you look in the logs, they may have sent an error detailing why they force closed the channel. Closing this issue for now, as I don't see anything out of the ordinary.

[2018-06-30 22:46] #1481 closed

[2018-07-01 01:51] bruceleeroy18 opened #1487 "unable to create chain control: status code: 401, response: "" Litecoin mainnet"
### Background

Attempting to run a lightning node on litecoin mainnet. (https://medium.com/@jason.hcwong/litecoin-lightning-howto-d6f8e115949c) All installation has gone smoothly. Once I unlock wallet the above error message appears.

### Your environment
V. 04 LND
Ubuntu mate 18.04 32 bit
litecoind v0.16.0

litecoin.conf
txindex=1
server=1
daemon=1
debug=1
discardfee=0.00000001
mintxfee=0.000000

[2018-07-01 08:46] yaslama opened #1488 "Cannot disable Listening on the p2p interface"
### Background

lnd is listening for p2p connections even if nolisten=1 is put in lnd.conf

### Your environment

* lnd from commit hash 9205720bea931d73e55a886f94d21a759180ff2b
* Linux 4.16.0-2-amd64 #1 SMP Debian 4.16.12-1 (2018-05-27) x86_64 GNU/Linux

### Steps to reproduce

Add nolisten=1 in lnd.conf

### Expected behaviour

lnd doesn't listen to p2p.

### Actual behaviour

lnd listen to *:97

[2018-07-01 10:35] guggero commented on #1236
The code is ready for review IMHO. So you might be able to speed things up by adding a review yourself. But in the end, at least two of the main developers will need to approve the PR.

[2018-07-01 12:58] NicolasDorier opened #1490 "[Feature Request]: Parameter for disabling TLS"
I would like a way to disable TLS.

With BTCPay, TLS is handled by a NGINX reverse proxy which then route HTTP requests to LND via url routing. Having TLS at LND level make no sense in our case.

We could probably share the private key of the certificate to LND, but it complicates everything, as the certificate is renewed automatically by nginx and we would need a logic to restart LND to pick up t

[2018-07-01 16:43] bruceleeroy18 commented on #1487
All is functioning after expected after reinstalling litecoind.

[2018-07-01 16:43] #1487 closed

[2018-07-01 17:04] bruceleeroy18 commented on #444
I am having same problem. (working on litecoind)

2018-07-01 12:42:23.263 [INF] LNWL: Opened wallet
2018-07-01 12:42:24.477 [INF] LTND: Primary chain is set to: litecoin
2018-07-01 12:42:24.510 [INF] LTND: Initializing litecoind backed fee estimator
2018-07-01 12:42:30.739 [INF] LNWL: Started listening for blocks via ZMQ on tcp://127.0.0.1:28332
2018-07-01 12:42:46.774 [INF] LNWL: The wallet has b

[2018-07-01 17:55] stp-ip opened #1491 "lnd exits w/ error due to comment on config line for tlsextradomain"
### Background

lnd crashes due to tldextradomain, when trailing comment on same line.

### Your environment

* version of `lnd`
b8fecfca71507643e2ba3cc32b65c9de87790597
* which operating system (`uname -a` on *Nix)
4.15.0-1-ARCH (Archlinux)
* version of `btcd`, `bitcoind`, or other backend
bitcoind
* any other relevant environment details

### Steps to reproduce

Add any address to tlsextradomain

[2018-07-01 18:01] stp-ip commented on #1491
Not the onion address, but the comment at the end of line.

[2018-07-01 18:31] stp-ip opened #1492 "Allow multiple domains being added to SAN via tlsextradomain(s)"
### Background

tlsextradomain is only usable to add a single domain to the cert.

### Your environment

* version of `lnd`
https://github.com/lightningnetwork/lnd/commit/b8fecfca71507643e2ba3cc32b65c9de87790597
* which operating system (`uname -a` on *Nix)
 4.15.0-1-ARCH (Archlinux)
* version of `btcd`, `bitcoind`, or other backend
bitcoind
* any other relevant environment details

### Steps to r

[2018-07-01 22:49] TrabbipG opened #1494 "walletbalance shows wrong confirmed balance, channels stuck as pending"
### Background

`lncli walletbalance` is showing confirmed balance which I don't have. lnd lets me open a channel with those funds, but obviously failing to send out the opening transactions because those outputs are already spent. Channels remain pending for over 1 month now, `lncli walletbalance` is still showing a wrong balance.

### Your environment

* version of `lnd`
0.4.2
* which operating

[2018-07-02 10:30] Perlover commented on #1347
@Roasbeef , can you open this issue?
This issue is closed but i think it's annoying problem. I use Bitcoin Lightning Wallet and i cannot to get payments because the my own `lnd` (fresh commits) has this fault (if i right understand).
I think if this issue will be closed it will not resolved near time :(

[2018-07-02 10:41] guggero commented on #291
I'll start working on accounting-based macaroons. This issue lists features for several PRs IMHO, so I'll start with a basic off-chain balance macaroon. Then we'll see where we get from there.

[2018-07-02 12:22] brischniz opened #1495 "lncli openchannel does not return w/ chan reserve too low error"
### Background
Lncli hangs without an error message when I try to open a channel and the channel reserve is too low.

### Your environment

* version of `lnd`: 0.4.2-beta commit=7cf5ebe2650b6798182e10be198c7ffc1f1d6e19
* which operating system: Linux 4.14.18-sunxi #24 SMP Fri Feb 9 16:24:32 CET 2018 armv7l GNU/Linux
* version of `btcd`, `bitcoind`, or other backend: Bitcoin Core Daemon version v0.

[2018-07-02 19:16] wpaulino commented on #1488
@yaslama Thanks for catching this! Would you mind putting up a PR?

[2018-07-02 19:33] yaslama commented on #1488
@wpaulino, is the proposed patch ok for you ?

[2018-07-02 20:20] wpaulino commented on #1488
Yep!

[2018-07-02 21:26] offerm opened #1496 "Missing channel announcement"
While working on PR #1493 I believe I discovered a bug related to missing announcements to connected peer.

Problem can be see [here](https://travis-ci.org/lightningnetwork/lnd/jobs/399082974)
The integration tests failed with an error "channel not opened before timeout".

This error is not consistent and has a probability for showing up (my guess is 25%).

Let me explain the situation using 3 nod

[2018-07-02 21:29] offerm commented on #1496
As Part of #1493 I provided a temporary fix for the situation by reseting Alice's P2Pport (so that Bob will not be able to connect to Alice). This fix should be remove once this issue resolved.

[2018-07-03 01:42] wpaulino commented on #1494
Do you have an idea of how these outputs were spent in the first place? If they were part of a funding transaction that never confirmed within our timeout (288 blocks), then we'll mark the channel as funding canceled, but we currently don't handle being able to reuse those outputs again. I'm currently working on a way to fix this. If you still have your seed around, you can start up a new node and

[2018-07-03 05:30] Roasbeef commented on #1494
Can you try to update to the current master? Since `0.4.2` a few bugs have been fixed to ensure that we detect "output already spent"-like errors from the chain backend.

Are you using the `bitcoind` backend?

[2018-07-03 05:32] Roasbeef commented on #1492
If you look at the config (and also the command line help), it only accepts a single domain. The name of the parameter is `tlsextradomain` which implies a singular domain. Can you rephrase the title of this issue and also the body to denote that this is a _feature request_? Thanks!

[2018-07-03 05:34] Roasbeef commented on #1491
I wouldn't call this a crash, more like: exit with an error.

Why are you adding a trailing comment? What do you mean by "trailing comment"?

What's the full error returned?

[2018-07-03 05:35] Roasbeef commented on #1491
If you properly specify a _domain_ (nothing else), does this command work as you expect?

[2018-07-03 05:37] Roasbeef commented on #1490
Why would you need to share the cert? If nginx is just acting as a reverse proxy, then it has no need for the private key, and the cert (for lnd) doesn't need to be known to the wider internet.

[2018-07-03 05:37] Roasbeef commented on #1490
An extra (well not even extra at this state, the default) step yes, wouldn't say it adds nothing though.

[2018-07-03 05:39] Roasbeef commented on #1236
@neogeno if you'd like to help to test/review the PR, then that inches it closer to a mergeable state (even just testing an reporting your findings helps a lot)

[2018-07-03 08:29] stp-ip commented on #1491
The idea was to add more context to the configuration details.

Config line:
`example.com ; grpc`

The only error resulting in the exit:
`x509: cannot parse dnsName "example.com ; grpc"`

Without the comment it works without the exit.

[2018-07-03 08:30] stp-ip commented on #1492
Yeah I looked at the code, but having only one domain (and ip) addable seemed imperfect.

Will change the title.

[2018-07-03 08:52] neogeno commented on #1236
I'm on it ..

[2018-07-03 11:41] renepickhardt commented on #677
taking into consideration the paper cited in this Blogpost: https://medium.com/@dimapiatkivskyi/why-would-you-re-balance-a-payment-network-796756ad4f31 maybe the even the best strategy for the autopilot would be to create channels which increase :

1.  ones own outgoing flow
2. help others to improve their ingoing flow

The problem I see is that initial channel balances need to be known in order t

[2018-07-03 11:42] mojoaxel opened #1499 "Channel closed unexpectedly"
### Background

A channel between my **lnd** node and a **c-lightning** node closed unexpectedly:

[code]

Here the corresponding the c-lightning log:

[code]

### Your environment

* `Linux 4.4.0-121-generic Ubuntu x86_64 GNU/Linux`
* `lnd 0.4.2-beta commit=9205720bea931d73e55a886f94d21a759180ff2b`
* `Bitcoin Core Daemon version v0.16.0.0-g4b4d7eb255`

### Steps to reproduce

### Expected behavio

[2018-07-03 13:14] dmytropiatkivskyi commented on #677
Hi!

I recently started thinking on the autopilot issue myself, mostly in the long-term perspective. Here are some of my thoughts.

Except for the already mentioned groups of characteristics like strengthening the topology (in term of graph properties, e.g increasing the maximum flow and shortening the path lengths) and nodes’ ratings (uptime), I think the short-term effect on the network should a

[2018-07-03 15:44] TrabbipG commented on #1494
@wpaulino I must have used them for funding other channels. It's a bit hard for me to keep track of my overall balance because the channelbalance seems to shift up or down, depending on the mempool I assume. I would say that there was no transaction which didn't confirm in time, but I can't be 100% sure. Is there a way to find that out?

I do have my seed, so starting from scratch is an option if

[2018-07-03 21:35] Roasbeef commented on #1436
[code]

Looks like it's suffering from bugs in 0.4, that were later fixed in 0.4.2+. It's even the case that the channel was out of sync by several states, which is something that should never happen (and won't in the current master). As a result, the output will remain on the chain unless your node knew of the revocation point for that state (which was ahead of where it was). My current guess is

[2018-07-03 21:35] #1436 closed

[2018-07-03 21:38] Roasbeef commented on #1476
Use this patch to be able to boot up:
[code]

Once the [forget channel](https://github.com/lightningnetwork/lnd/pull/1295) PR is merged, then you'll be able to remove this faulty channel.

[2018-07-03 21:38] #1476 closed

[2018-07-03 21:39] Roasbeef commented on #1491
I see, I don't think this is actually an issue then. The format (of the config file) specifies that comments should only be the first thing on the line, not afterwards.

[2018-07-03 21:39] #1491 closed

[2018-07-03 21:40] Roasbeef commented on #1499
Can you try to grep the logs for more instances of `024a8228d764091fce2ed67e1a7404f83e38ea3c7cb42030a2789e73cf3b341365`? Then we can see why the channel was closed out.

[2018-07-03 23:14] robtex opened #1500 "payinvoice gives wrong path"
the hops part reported by payinvoice is for some reason not the actual hops the payment took.
no idea how something like that could happen, but it could be a indication of a more severe bug than just cosmetic.

[code]

[code]

[code]

[2018-07-04 00:14] ubenmackin commented on #1436
@Roasbeef Just so I am clear, the amount is lost, right? Not a huge deal (it wasn't a large amount), but I just want to be clear.

Also, is there any way to clear it out of my client, or will it just always be there in a limbo state?

[2018-07-04 02:46] #995 closed

[2018-07-04 03:40] #1488 closed

[2018-07-04 09:54] mojoaxel commented on #1499
[code]

[2018-07-04 12:13] mojoaxel commented on #540
[code]

Wouldn't it be useful to blacklist some nodes after connection failed for some time? My logs are full of this messages and it's always "chacha20poly1305".

[2018-07-04 17:10] NicolasDorier commented on #1490
BTCPay wants to access LND from inside the network via HTTP, and but expose LND through HTTPS through the reverse proxy.

Without this, BTCPay can't really connect to LND from inside the network, as it does not trust HTTPS.
I prefer not adding a textbox to input the cert thumbprint, and I prefer not ignoring bad certificates.

My proposal is only for disabling TLS for REST interface, not for the g

[2018-07-05 13:08] andrewshvv opened #1503 "Add ability to get funding_fee and close_fee from RPC."
**Feature request:**
Add ability to get funding_fee and close_fee from RPC.

- [ ] Add `funding_fee` in `pendingchannels`
- [ ] Add `funding_fee` in `listchannels`
- [ ] Add `close_fee` in `pendingchannels`
- [ ] Add `close_fee` in `closedchannels`

**Rationale:**
Building an external subsystem which manages the lnd channels it is important to track what are the costs for open, close, and in futur

[2018-07-05 17:05] taketa commented on #1219
I'll take this issue

[2018-07-06 03:08] wpaulino commented on #1499
@mojoaxel could you pinpoint the channel point of the force closed channel and grep for that in the logs instead?

[2018-07-06 11:14] abrkn opened #1507 "lncli should ask to repeat passphrase"
### Background

`lncli` should ask to repeat passphrase for improved user experience/security

### Your environment

`lnd version 0.4.2-beta commit=a0b2fadea35fa4642daf4e9f56e6ecfe31d22ce1`

### Steps to reproduce

`lncli create`

Use existing seed. Add passphrase.

### Expected behaviour

Should ask to repeat passphrase

### Actual behaviour

Only asks once.

[2018-07-06 18:40] Roasbeef commented on #1422
Related to #1501.

[2018-07-06 18:41] Roasbeef commented on #1503
If you have the `txid`, you can already calculate all of this.

[2018-07-06 18:41] Roasbeef commented on #1507
We don't use bip38.

[2018-07-06 18:43] Roasbeef commented on #1499
Closing this as the funds have been swept out on chain: https://www.smartbit.com.au/tx/5b7d1a3086fa0739b89d8d1b6b689a4c914d4ef89255a816c47270304ce44414.

[2018-07-06 18:45] Roasbeef commented on #1494
So it's the case that those two funding transactions were just never broadcast. As a result, they should be removed from the set of pending channels. Your balance is now correct, but there needs to be logic to double spend those inputs (or just delete those pending channels), @wpaulino is working on a patch to resolve this.

[2018-07-06 21:25] emx0r opened #1510 "How do I configure fee for routing through my node?"
I didn’t find anything in lnd.conf sample neither in documentation.

[2018-07-06 21:34] Roasbeef commented on #1510
`lncli updatechanpolicy -h`

`lncli feereport -h`

[2018-07-06 21:34] #1510 closed

[2018-07-06 23:59] #1406 closed

[2018-07-07 00:27] zx9r opened #1511 "lncli doesn't read rpcserver (rpclisten) from config file"
### Background

When running lncli --lndir=somedir with somedir != defaultdir it doesnt read the parameter rpclisten to know where to connect to make the grpc calls to the lnd daemon.

While this is not solved you have to specify in the command line with the parameter --rpcserver

### Your environment

* lncli version 0.4.2 commit=7cf5ebe2650b6798182e10be198c7ffc1f1d6e19
* Linux raspberrypi 4.14.3

[2018-07-07 00:29] Roasbeef commented on #1511
This is the expected behavior. We have that command line setting for a reason (`--rpcserver`). Otherwise, we'd also have to read the `lnd.conf` within `lncli`.

[2018-07-07 01:53] Roasbeef opened #1513 "routing+rpc+lncli: add new absolute time lock limit within path finding"
Currently when sending payments, we allow the user to specify a max fee value, either as a percentage of an absolute amount. This is very useful for services that implement any sort of withdrawal as they can be sure the user isn't attempting to force them to transport the HTLC over an edge that has abnormally high fees.

A similar constraint should be added, but this time for the _total absolute_

[2018-07-07 02:06] Roasbeef opened #1514 "channeldb+rpc: add pagination of listinvoices"
[code]

Currently, once we exceed a few thousand invoices, we can no longer return them over the RPC interface in a single go. As a result, we need to add _pagination_ in order to allow callers to iteratively request the entire range, or even seek within the current range.

# Steps To Completion

- [ ] Decide on a sane initial value for the chunk size, this can be determined by computing the curre

[2018-07-07 02:12] Roasbeef opened #1515 "htlcswitch+routing: implement strict forwarding for locally dispatched payments"
Currently in the switch, when we receive a request to dispatch a new local payment, we'll actually [select what we think to be the _best_ link for forwarding](https://github.com/lightningnetwork/lnd/blob/master/htlcswitch/switch.go#L763). As a result, we may actually select a link that _differs_ from the target link the router meant the HTLC should traverse as the first hop. Additionally, for thin

[2018-07-07 02:24] #1511 closed, assigned to nobody

[2018-07-07 02:28] Roasbeef commented on #1036
Closing for now as there've been a few goroutine leaks recently that _should_ have addressed this. If this still arises (upon upgrading to the current master), then I'll re-open this issue.

[2018-07-07 02:28] #1036 closed

[2018-07-07 02:29] Roasbeef commented on #1107
If you have your seed, then you can recover the funds @polkhovsky.

[2018-07-07 02:29] #1214 closed

[2018-07-07 02:30] Roasbeef commented on #1299
Closing this now as now that the new query sync features have been merged and a few goroutine leaks fixed across the codebase, the initial burst in memory usage upon initial connect is gone (if you connect to "modern" peers), and also the chain notifier block epoch goroutines will no longer leak.

[2018-07-07 02:30] #1299 closed

[2018-07-07 06:10] robtex opened #1517 "queryroutes + sendtoroute doesn't work"
created an invoice on lnd B and trying to pay it from lnd A

lnd A:
[code]

lnd B:
[code]

by using sed between `queryroutes` and `sendtoroute` to change the `total_time_lock` and `expiry` to what lnd B was expecting i was able to pay it. (note this is one block later)

lnd A:
[code]

i don't know why queryroutes calculates wrong. is it cached? i think this problem would be a non-issue if we used

[2018-07-07 06:25] robtex opened #1518 "queryroutes + paytoroute should use delta expiry instead of absolute blockheights"
both queryroutes and paytoroute uses absolute blocks for total_time_lock and expiry.
this means that you can't cache the routes, but have to generate a fresh new json blob each time in order for paytoroute to successfully send it (which btw doesn't work either #1517)
added deltas on sample below, by subtracting current block height 530839 from the time_lock calculated.
paytoroute can then just add

[2018-07-07 08:07] robtex commented on #1517
fyi i tried extracting the `cltv_expiry` and used that as `final_cltv_delta`

[code]

[2018-07-07 15:34] JTopanov commented on #1162
If someone get access to the macaroon, then he will be able to access the wallet without password ?

[2018-07-07 17:04] neogeno opened #1520 "getInfo RPC doesn't return LND version"
### Background

When using the command line lncli getinfo, the version of LND is displayed as the last field. However, when connecting via GRPC and calling the getinfo command, all fields EXCEPT version are returned.

### Your environment

* version of `lnd`0.42 latest
* which operating system (`uname -a` on *Nix) Linux
* version of `btcd`, `bitcoind`, or other backend 0.12
* any other relevant en

[2018-07-07 19:20] Roasbeef commented on #1517
You need to set the `--final_ctlv_delta` value. If you don't then it uses the "global default" which is 9 blocks. The default for `lnd` is `144` blocks:
[code]

[2018-07-07 19:20] #1517 closed

[2018-07-07 19:21] Roasbeef commented on #1520
Have you updated your set of protos? `lncli` uses gRPC directly, and properly displays the version:
[code]

[2018-07-08 00:15] martinbehrens commented on #1499
@Roasbeef Could you elaborate a bit on why that became a non issue due to the funds being swept out on chain? I guess @mojoaxel would be interested as well.

[2018-07-08 03:45] OluAgunloye opened #1521 "Can't compile on Windows 10 Pro, running into non-compilation errors it seems."
### Background

I can't compile lnd.exe on Windows. The CLI compiles just fine, just not the daemon executable.

### Your environment

* version of `lnd`: master as of 7-7-2018: `lightningnetwork/lnd commit: 08de2becf8d77fae192205172c4fb17bb09bd0dbf49e64aa323b2fcbf9fe2a35`
* `Windows 10 Home`
* version of `btcd` is one that comes from running `make check`
*` go1.10.X`

### Steps to reproduce
open

[2018-07-08 03:47] Roasbeef commented on #1521
Did you use `dep ensure -v` beforehand?

[code]

There is `xgo.go` file...

[2018-07-08 03:53] OluAgunloye commented on #1521
Removed the xgo.go file just now and ran dep ensure -v beforehand.  I mus be doing something not useful somewhere, as out put has barely changed:
`github.com/lightningnetwork/lnd
# github.com/lightningnetwork/lnd
..\github.com\lightningnetwork\lnd\lnd.go:519:31: cannot use rpcServer (type *rpcServer) as type lnrpc.LightningServer in argument to lnrpc.RegisterLightningServer:
        *rpcServer doe

[2018-07-08 04:45] OluAgunloye commented on #1521
Just deleted everything and reinstalled from scratch, installation seems fine now.

[2018-07-08 04:47] Roasbeef commented on #1521
👍

[2018-07-08 04:47] #1521 closed

[2018-07-08 07:58] neogeno commented on #1520
My Bad, had an old proto file lurking around.

[2018-07-08 07:58] #1520 closed

[2018-07-08 10:11] jakubtrnka opened #1522 "local-amt push-amt description in openchannel"
### Background

When I open a new channel I'd like to have very clear description of what the command exactly does. People don't generally know details of lightning inner working. And what they see is "if all my channels have zero remote balance, I cannot receive payments, and If I want a channel with non-zero remote balance, I have to give the money to the counter party for free".

### Your envir

[2018-07-08 15:32] abrkn opened #1523 "lnd updatechanpolicy has confusing --help"
### Background

`lncli updatechanpolicy` states that the default `--time_lock_delta` is `0`:

[code]

However:

[code]
[lncli] rpc error: code = Unknown desc = time lock delta of 0 is too small, minimum supported is 4
[code]
lncli version 0.4.2 commit=a0b2fadea35fa4642daf4e9f56e6ecfe31d22ce1
[code]
lncli updatechanpolicy --fee_rate 0.001 --base_fee_msat 100000 --time_lock_delta 0```

### Expected

[2018-07-08 16:27] robtex opened #1524 "'unable to find link' and UnknownNextPeer"
[code]

[2018-07-08 23:31] Roasbeef commented on #1524
It's an internal routing error, the default logic accounts for that and adjusts it's HTLC routing attempts accordingly. What you're seeing is that someone tried to route across a channel, but the peer on the other end of it wasn't online, as a result, you send back an error with the details of this failure.

[2018-07-08 23:31] #1524 closed

[2018-07-08 23:32] Roasbeef commented on #1523
You can't have a value of 0 for the CLTV delta. If you did, then you'd be exposed to losing funds on each HTLC you forward, as a race condition is introduced if you ever need to go to the chain for an outgoing HTLC.

[2018-07-08 23:36] Roasbeef commented on #1523
That's the default value for the _cli_, not lnd'` default values. You can see the default values for those fields at `lnd -h`:
[code]

We don't display these values there as it would require `lncli` to read the config for `lnd` to see if they user has modified these values.

[2018-07-08 23:37] Roasbeef commented on #1523
You don't need to set a value, if you aren't actually modifying it.

[2018-07-08 23:39] Roasbeef commented on #1522
That's exactly what it does. You open a channel and pay the other party at the same time.

[2018-07-09 03:05] dognie opened #1525 "Can't connection server rpclisten port"
### Background
I'm going to connect to the btcd server,Because the data of the btcd test node is too large.
my localhost 192.168.124.6
my server 192.168.124.13 (Syn testnet data completion)

### environment

* version of `lnd` 0.4.2-beta commit=a0b2fadea35fa4642daf4e9f56e6ecfe31d22ce1
* macos 10.13.5
* version of `btcd`,0.12.0-beta on ubuntu 16.04

### Steps to reproduce
- btcd config and rpcliste

[2018-07-09 05:44] jakubtrnka commented on #1522
And what's the purpose of this option? Why would somebody want to do that? I thought this option tells the counterparty to push that amt to the initial state of channel. Is the shortcut open&pay really needed?

[2018-07-09 06:14] offerm commented on #1525
Looks like LND fails to create a connection with BTCD.

Are you using the right rpc.cert for your btcd node?  you need to use the one from 192.168.124.13

check the BTCD log for connection related errors from 192.168.124.6 (you may need debuglevel=debug) for this

[2018-07-09 09:03] halfik commented on #1087
@Roasbeef Happens Again. This time on version "lnd version 0.4.2-beta commit="
My peers went down couple days ago, since then had 2 chanels inactive. Today i noticed that one of them is online, so i did "lncli connect xxx". After connection channel is again active (other peer is still off line).

Here is my log: https://ufile.io/32uph

[2018-07-09 10:57] halfik commented on #1087
Anyway peer i had to manualy reconnect to 02ad6fb8d693dc1e4569bcedefadf5f72a931ae027dc0f0c544b34c1c6f3b9a02b

My channel point: d600ba7c8a37aed8094ad062d930412d685506c3f4c6ba85bc0a3bf3bff25ea4:0

[2018-07-09 15:03] guggero commented on #1522
That option is absolutely needed. One simple example might be: My employer opens a channel with my node with the capacity of my salary and pushes the whole amount to my side. The effect is that I have a new channel that I can start spending from immediately (after funding tx is confirmed). Without this option, the process would be asynchronous since after opening the channel the employer's node wo

[2018-07-09 18:51] ErikEk commented on #1525
Try removing btcd.rpchost. It worked for me.

[2018-07-09 19:11] ErikEk commented on #1525
There seems to be an issue when trying to shut down the lnd instance (using Ctrl+C) after one tries to connect to a non working rpchost.
@dognie Do you experience the same issue?

[2018-07-09 19:41] Roasbeef commented on #1522
Agree with everything @guggero just said. Updated the help to make this a bit more clear.

[2018-07-09 19:42] #1259 closed

[2018-07-09 19:42] #1522 closed

[2018-07-09 19:52] ErikEk commented on #1525
I guess you don't need me to leave an issue.

[2018-07-09 21:38] rashlab commented on #609
Great, and important! any estimate as to when such feature could be available, and what could be a temporary solution?? (my funding transaction is stuck, miners "low priority"...). Thanks,

[2018-07-09 21:39] jamesob commented on #609
@rashlab I'm working on this at the moment, but I'm still getting to know lnd so I might be kinda slow. I'd say I'll have a PR up in the next two weeks?

[2018-07-09 21:50] halfik commented on #1087
@Roasbeef  second peer that went offline like 2 day ago just came back online and lnd reconnected. So dunno why it didn't reconnect to the other one for more like a day. Is there any case scenario where peers are removed from list by lnd?

[2018-07-09 22:58] jlamur opened #1526 "Docker images are outdated on dockerhub."
Currently the `latest` image on [lightninglabs/lnd](https://hub.docker.com/r/lightninglabs/lnd/) is the `0.4.1-beta commit=d0c0e5c7c256e430696d52ac6f6d67217a7d7652` build and there is no other tag on dockerhub.

[2018-07-10 01:31] dognie commented on #1525
@ErikEk  I've had the same problem.(Ctrl+C not work)So I had to kill the process and restart it.
Another problem is that I can't connection target server rpclisten port.(`btcd.rpchost`)
Your btcd is in your local or server side？
My solution now is to start btcd locally, but it wastes a lot of my disk. Besides, I have no better solution.

[2018-07-10 01:59] matthewlilley opened #1528 "Using a remote rpchost is causing some strange networking issues."
### Background

I have a remote BTCD running on an AWS server. I'm connecting to it from an LND instance running on my local Windows machine, catching up block height is EXTREMELY slow. It takes roughly 2 days to catch up, and network speed seems to never goes much past 50kb/s down. It's almost as if that BTCD is stalling repeatedly, and there's no buffer on the LND side to work from, so it's cont

[2018-07-10 02:06] matthewlilley commented on #1528
This seems to be related to #1177, the symptoms seem very similar.

[2018-07-10 02:08] matthewlilley commented on #1177
@MaxVernon There seems to be more to this issue that previously thought. I see the same issues when trying to catch up using a remote btcd, I'm guessing now that I'll see the same if my remote was bitcoind, which leads me to believe this's an issue with LND.

[2018-07-10 03:07] matthewlilley commented on #1528
Pinging @Roasbeef - This's a major issue for Windows users. It effects consumers running wallets, to developers looking to work on LN. I'll see if I can locate the issue in the source.

[2018-07-10 08:34] taketa commented on #1514
I'll take this issue

[2018-07-10 09:02] halseth commented on #1378
Code coverage numbers are currently a bit off, and should probably be given some love to reflect the actual lines of gocode (excluding comments etc) that is covered by the unit tests, over adding coverage of integration tests.

When that is said, code coverage are usually ONLY measured for unit tests, and I don't think they make that much sense for integration tests tbh (they are not at all determ

[2018-07-10 09:16] ErikEk commented on #1525
I guess that issue has been assigned to halseth for now. I'll look into your first issue as well.

[2018-07-10 09:50] halseth commented on #1162
The wallet must be unlocked for `lnd` to run.

[2018-07-10 09:50] matthewlilley commented on #1528
For the sake of argument, I tried running this natively on Windows, to rule out the possibility of something fishy going on with WSL, but can confirm that the same issue is present.

[2018-07-10 09:55] halseth commented on #1087
If the node goes offline we will periodically try to reconnect, with an increasing backoff IIRC.

[2018-07-10 09:57] halfik commented on #1087
@halseth I know. But there is some kid of use case where lnd don't try to reconnect. Look at this:
https://justpaste.it/5ix9w
https://justpaste.it/42sgu

Fresh state of my channels. Thing is that 02ad6fb8d693dc1e4569bcedefadf5f72a931ae027dc0f0c544b34c1c6f3b9a02b
is online, but node dont show him on peers list, so don't see him as online node.

[2018-07-10 10:03] halseth commented on #1525
@dognie Please post the complete logs from LND after you have unlocked the wallet. It should say why it shuts down :)

[2018-07-10 10:08] offerm commented on #1378
@halseth Thanks for your response.

Don't know what you mean by "Code coverage numbers are currently a bit off". From playing with these tests in the last few weeks (see PR #1493 ) I haven't seen anything like that and the data presented by coveralls was precise.

[from here:](https://medium.com/@jonatan_ivanov/code-coverage-not-only-for-unit-tests-419f3c73d00 )

In LND's case, the current coverag

[2018-07-10 10:35] edspiner commented on #1463
Seems like cloudflare dns (1.1.1.1) doens't resolve:

[code]

The Google DNS does resolve.

I think it's a problem with the nodes.lightning.directory DNS  server configuration:

NS for .directory > demand.alpha.aridns.net.au.
[code]

[code]

no SOA configured for lightning.directory.

[2018-07-10 10:58] ErikEk commented on #1525
@dognie I'm experiencing the same issue when trying to connect to a remote btcd node with btcd.rpchost=192.168.0.199:18333.
@halseth: I don't get any debug messages with debuglevel=debug on.

[2018-07-10 11:21] ErikEk commented on #1525
@dognie I'm experiencing the same issue when trying to connect to my remote (on LAN) BITCOIND node (testnet 18333)  with btcd.rpchost=192.168.0.199:18333.
@halseth: I don't get any debug messages with debuglevel=debug on. It's just stuck on LTND: Initializing btcd backed fee estimator.

[2018-07-10 15:21] NicolasDorier opened #1533 "[Feature Request]: Wait for bitcoin-cli to warmup before crashing"
If `lnd` start before `bitcoind` is fully started (like for example if `bitcoind` is checking blocks), `lnd` will crash.

Can `lnd` waits in a similar way to `bitcoin-cli -rpcwait getblockchaininfo`?

[2018-07-10 20:50] ErikEk commented on #1397
I'll give it a try.

[2018-07-10 21:01] cbarraford commented on #950
I took on this issue and opened a PR (since its been months), https://github.com/cbarraford/lnd/pull/1. Thanks!

[2018-07-10 22:51] #134 closed

[2018-07-10 22:53] Roasbeef commented on #175
Note that this has evolved to the full static back up scheme. The goal here is to ensure there're no foot guns in the regular back up process for users.

[2018-07-10 22:59] Roasbeef commented on #664
See #1364 and #175.

[2018-07-10 22:59] #664 closed

[2018-07-10 23:02] Roasbeef commented on #950
@cbarraford you opened it on the wrong repo. That PR should be opened on _this_ repo, not your fork.

[2018-07-10 23:03] Roasbeef commented on #980
Closing this as we've already bumped up for LTC.

[2018-07-10 23:03] #980 closed

[2018-07-10 23:06] cbarraford commented on #950
@Roasbeef apologies, closed that PR and opened a new one. https://github.com/lightningnetwork/lnd/pull/1534

[2018-07-10 23:08] Roasbeef commented on #1188
Will be fixed by #1220

[2018-07-10 23:13] #1244 closed

[2018-07-10 23:14] #1310 closed

[2018-07-10 23:17] Roasbeef commented on #1533
Well `bitcoind` should be started before `lnd` itself. What do you mean by "crash" here? We have an exponential back off for the RPC connection, but it may be the case now that our DNS query fails early?

[2018-07-10 23:17] #1388 closed

[2018-07-10 23:19] Roasbeef commented on #1490
Yes we can add something like that, but I'd prefer that it can _only_ be enabled if all RPC listeners are only listening on local host.

[2018-07-10 23:21] Roasbeef commented on #1514
👍

[2018-07-11 00:29] NicolasDorier commented on #1533
I did not experienced it yet, but this will probably happen when I run LND on mainnet.

I carefully looked your code (lnd and rpcClient), and could not find any place where you handle RPC error code -28 (RPC_IN_WARMUP).

LND fails to start when I get wrong RPC credentials (which is expected), so I am assuming (wrongly?) that it also would if calls to bitcoin rpc returns RPC_IN_WARMUP error.

[2018-07-11 00:31] NicolasDorier commented on #1490
@Roasbeef does not work for my case. LND is running in its own container and thus need to be accessed by the BTCPay container as well as the NGINX container which handle HTTPS/Let's encrypt and route HTTP request based on the HTTP path. (https://btcpay.example.com/lnd requests are directly forwarded to LND REST)

[2018-07-11 01:01] Roasbeef commented on #1490
Seems you could just easily proxy from 0.0.0.0 -> localhost then.

[2018-07-11 01:34] NicolasDorier commented on #1490
What do you mean? If we limit this to localhost, it means LND will only listen on 127.0.0.1, which mean that neither nginx nor btcpay would be able to access it as they are on different container.

[2018-07-11 01:47] Roasbeef commented on #1490
Yeah so on the same container that `lnd` runs on, a proxy to handle that mapping.

[2018-07-11 03:18] NicolasDorier commented on #1490
I am not comfortable with several process in one container, and it add a dependency and complexity in my dockerfile / entrypoint. Simpler for me just allowing http on 0.0.0.0 and maintaining my own fork.

I understand your worry that somebody will end up shooting himself in the foot.

[2018-07-11 03:40] Roasbeef commented on #1490
OK, no problem. The patch set itself is pretty small, so hopefully it won't be too difficult to maintain.

[2018-07-11 03:42] #862 closed

[2018-07-11 04:35] NicolasDorier commented on #1490
Closing this for now. I might do a PR later still with allowing that only on 127.0.0.1, it would make it even easier to maintain for me.

[2018-07-11 04:35] #1490 closed

[2018-07-11 08:53] NicolasDorier commented on #1533
As I was expecting: here the error

[code]

[2018-07-11 08:54] mojoaxel commented on #1499
We still have the problem that channels get closed unexpectedly.
@wpaulino I think you guys should have a look! Is there any way wen can help debugging this?

[2018-07-11 13:31] cbfl opened #1538 "lnd crashes after a gRPC client made an InvoiceSubscription call."
### Background

I'm using LND with various thin/web wrappers. After updating to latest code in master it crashes every time a client is connected and tries to subscribe to invoices.

### Your environment

lnd version 0.4.2-beta commit=93207608b5a433ddfc15cfe56bb060e1c720166e
Linux 4.4.0-124-generic x86_64 x86_64 x86_64 GNU/Linux
Bitcoin Core Daemon version v0.16.0.0-g4b4d7eb255

### Steps to repro

[2018-07-11 13:42] abrkn opened #1539 "Confusing "channel graph has insufficient capacity" error"
### Background

[code]

### Your environment

[code]

Ubuntu 16.04

bitcoind

### Steps to reproduce

See above

### Expected behaviour

More informative error messages

### Actual behaviour

Confusing error message

[2018-07-11 13:43] abrkn commented on #1507
Updated to reflect that

[2018-07-11 13:46] githorray commented on #1539
I am seeing these as well on the latest master.

[code]

[2018-07-11 14:47] Crypt-iQ commented on #386
Since I haven't gotten a reply I'll assume nobody is working on this and work on it myself

[2018-07-11 15:00] halseth commented on #386
I believe @wpaulino has started on this one.

On Wed, Jul 11, 2018 at 4:47pm, Eugene < notifications@github.com [notifications@github.com] > wrote:
Since I haven't gotten a reply I'll assume nobody is working on this and work on it myself

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub [https://github.com/lightningnetwork/lnd/issues/386#is

[2018-07-11 15:51] githorray commented on #1539
I commented out the following code in pathfind.go and can now sling 500k sat payments across the network. #reckless #insanity

[code]

[2018-07-11 17:14] cbarraford commented on #1507
I've created a PR for this issue, https://github.com/lightningnetwork/lnd/pull/1540

[2018-07-11 19:30] wpaulino commented on #1539
This issue should be addressed by #1321.

[2018-07-11 20:20] alexbosworth commented on #1494
I'm seeing the same issue - the possibly related factor I noticed is that by tracking down a transaction referenced as being rebroadcast on startup it has a fee that is 1 satoshi off from a 1 sat/vbyte fee and therefore doesn't get confirmed

[2018-07-11 20:29] alexbosworth opened #1541 "Dust sweep transactions attempt to broadcast and fail startup"
### Background

When starting my server there are some outputs attempted to be swept that are below the dust limit and get rejected by bitcoind

This stops the server, a workaround is to ignore errors coming from sweepMatureOutputs in utxonursery.go

### Your environment

* lnd `a43d02f8f049a82304a3c994bb1e326a3a8e1572`
* os: Ubuntu 16.04.4 LTS x86
* Bitcoin Core 0.16.0 - minrelayfee=0

### Steps

[2018-07-11 20:34] Roasbeef commented on #1538
What arguments are you passing to the streaming RPC call?

[2018-07-11 20:40] Roasbeef commented on #1538
Attempting to reproduce.

[2018-07-11 21:00] Roasbeef commented on #1538
Updated an existing node to the latest commit, and was able to receive new notifications no issue.

[2018-07-11 22:02] brandoncurtis opened #1542 "No bootstrap nodes for Litecoin testnet"
### Background

There don't appear to be any bootstrap nodes for the Litecoin testnet.

### Your environment

* "version": "0.4.2-beta commit=8ab464b4d191fd095ab46a4b3d36cb9fe54cf3f4"
* Ubuntu Linux 16.04 x64
* `litecoind` "version": 150100

### Steps to reproduce

1. sync `litecoind`
2. start, unlock, and sync `lnd` configured for `litecoind`

### Actual behaviour

[code]

[2018-07-11 22:15] wpaulino commented on #1542
There currently isn't a DNS seed for Litecoin testnet.

[2018-07-11 23:56] Crypt-iQ commented on #1234
Hey is anybody working on this one?

[2018-07-12 01:21] brandoncurtis opened #1545 "`lnd` spams `litecoind` with RPC requests on initial sync"
### Background

`lnd` rapidly makes tens of thousands of `getblockhash` and `getblockheader` requests to `litecoind`, appearing to eventually exhaust the available ports and crashing `lnd`.

I don't think it's related to #1195, as I'm on Ubuntu and I've explicitly specified the `127.0.0.1` everywhere.

### Your environment

* LTND: Version 0.4.2-beta commit=8ab464b4d191fd095ab46a4b3d36cb9fe54cf3f4

[2018-07-12 02:03] enorrmann opened #1546 "panic: runtime error: makeslice: len out of range"
### Background
after running for a few minutes, lnd crashes with panic
panic after updating to latest commt

`panic:` runtime error: makeslice: len out of range
goroutine 53983 [running]:
github.com/lightningnetwork/lnd/channeldb.deserializeOutgoingPayment(0xb90910, 0x13ca5bc0, 0x8, 0xa637a088, 0x9d)
	/home/admin/go/src/github.com/lightningnetwork/lnd/channeldb/payments.go:192 +0x1a8
github.com/li

[2018-07-12 02:07] wpaulino commented on #1546
The logs linked don't show the panic stack trace.

[2018-07-12 02:21] orbitalturtle commented on #1404
I'll take this.

[2018-07-12 02:21] Roasbeef commented on #1538
Found the culprit, should have a PR up shortly!

[2018-07-12 02:23] Roasbeef commented on #1404
Hey @orbitalturtle not sure if you noticed, but if you look right above your comment you'll see that PR #1435 has referenced this issue. This means that a contributor has created a PR claims to fix this issue. It's a WIP though, so nothing is confirmed. As we'd like to avoid duplicate work amongst contributors, I'd say you can either help to review that WIP PR, or try to pick up another unclaimed

[2018-07-12 03:16] alexbosworth commented on #1494
I tracked down the unconfirmed balance in my case to a spend of a received HTLC output that uses a fee 1 sat below the min relay fee

[2018-07-12 05:22] alexbosworth commented on #1494
Debugging by looking at the transaction it forms and broadcasts I can see that one of the inputs it's selecting has already been spent into a channel. So I guess the issue is that it thinks one of its coins is not spent but it has been spent.

[2018-07-12 05:50] Bluetegu commented on #1513
I'd like to work on this

[2018-07-12 08:55] jakubtrnka commented on #1522
@Roasbeef @guggero Ok, thans for explenation.
So in that case, is there any other direct way, I can make my node accept payments? I have few Sats on lightning spin, and the payment never goes through? I have LND running for more than 2 weeks, port forwarding set correctly, URI=035a73512b9ddd75340fd31d7e68ecc73397a4b05a382e846251b3b478815f188d@185.21.223.231:9735

[2018-07-12 10:28] robtex opened #1548 ""FeeInsufficient(fee=" shows amt_to_forward_msat instead of fee"
unable to route payment to destination: FeeInsufficient(fee=43534435 mSAT, update=(lnwire.ChannelUpdate)

### Background

Describe your issue here.

### Your environment

* version of `lnd`
* which operating system (`uname -a` on *Nix)
* version of `btcd`, `bitcoind`, or other backend
* any other relevant environment details

### Steps to reproduce

Tell us how to reproduce this issue. Please prov

[2018-07-12 12:32] robtex opened #1549 "FeeInsufficient"
trying to pay thru a specific path created by queryroutes gives FeeInsufficient
i don't know if it is my lnd that calculates the fee or the intermediate one.
the intermediate node 03a2b9adc3086b0ba7844bcda0159f11967e5558e430f168ee7ee797cb9830d742
has the alias `scumm-lnd` thus i suspect it is also a lnd

made queryroutes and extracted a specific path

```lncli queryroutes 036a33e92cda2679ac91ac046

[2018-07-12 14:01] halseth commented on #1499
@mojoaxel If you can reproduce this it would be helpful if you could post more extensive logs. That way we could figure out if it's `lnd` or `c-lightning` that is closing the channel :)

[2018-07-12 14:11] halseth commented on #1234
@Crypt-iQ Up for grabs! 😀

[2018-07-12 14:15] halseth commented on #1522
@jakubtrnka You need incoming capacity. Simplest way to get this is for someone to open a channel to you, or for you to spend some funds (everything you spend will go towards your incoming channel capacity!)

[2018-07-12 14:18] halseth commented on #1549
What commit are you on? Might be fixed by  #1382 or #1321.

[2018-07-12 14:22] Crypt-iQ commented on #1234
Ok! Will take this one

[2018-07-12 14:57] jakubtrnka commented on #1522
I know that. I must probably accept the fact that tuning LN node is bit more subtle than I was used to from Bitcoin Core which is totally fool-proof.

[2018-07-12 15:34] Mischi opened #1550 "release: provide source archive with vendor directory"
### Background

Hi. I'm looking into creating a port of lnd for OpenBSD. The OpenBSD ports framework does not allow any HTTP requests to fetch the go dependencies. Can you provide a source archive with the vendor directory included on every release?

Thanks you,
Fabian

### Expected behavior

Every release includes a source archive with the vendor directory already included.

### Actual behaviour

[2018-07-12 15:39] mojoaxel commented on #1499
@halseth [I uploaded my full lnd log](https://gist.github.com/mojoaxel/d6f43947731600d9d1bba299e45551ed). I just removed the most verbose messages but it's still a lot. In the given timeframe we had the same problem twice.

[2018-07-12 16:02] robtex commented on #1549
Yeah one of those probably might fix it.
Rats... I investigated how queryroutes calculated fees and thought it looked a bit strange, but i used it's output as a testcase for my fee calculator in my channel balancer...
so i guess i successfully emulated the bug too.
I'll check back later.

[2018-07-12 16:42] slush0 commented on #1174
I've resolved my previously described issue. It was misconfiguration of bitcoin.conf; instead of enabling zmqpubrawblock, I accidentally enabled zmqpubhashblock!

This messed up lnd, because it showed correct blockhash in logs, but didn't receive raw block from bitcoind.

Although it was completely my mistake, I suppose lnd should not mistakenly report that it received block, when it did not.

[2018-07-12 19:16] Roasbeef commented on #1548
Not a bug as this is the routing message: https://github.com/lightningnetwork/lightning-rfc/blob/master/04-onion-routing.md

[2018-07-12 19:21] Roasbeef commented on #1549
Which commit are you on? Also note that if you're routing through peers that haven't been updated then they'll give you this error.

[2018-07-12 20:03] Roasbeef commented on #1548
It's actually the fee though.

On Jul 12, 2018 12:28 PM, "robtex" <notifications@github.com> wrote:

data:
[8:htlc_msat]
[2:len]
[len:channel_update]

this one? i really think it would make more sense to display it ashtlc_msat=
rather than fee=, to make it clear that the value shown is not actually the
fee.

—
You are receiving this because you modified the open/close state.
Reply to this email di

[2018-07-12 20:20] #1538 closed

[2018-07-12 20:20] #1546 closed

[2018-07-12 23:09] Roasbeef commented on #1548
Ahh, I see what you're getting at, yeh the log message is wrong, will fix!

[2018-07-12 23:14] #1548 closed

[2018-07-13 01:46] windsok commented on #1397
I believe this PR is meant to fix it, though i've not yet tested myself - https://github.com/lightningnetwork/lnd/pull/1489

[2018-07-13 05:36] NicolasDorier opened #1552 "gRPC and path routing"
Feel free to close this if you think it is off-topic, as it may not be related to LND, but underlying limitation of gRPC.

In a deployement with BTCPay with BTC, LTC and says BTG all having their own instance of LND, my goal is:

1. To not have to open a new port for each instance
2. To make the traffic pass through my reverse proxy, such that my valid certificate get applied instead of auto-gener

[2018-07-13 05:37] robtex commented on #1549
just updated to latest master on two of lnd:s under my control to see if i can replicated it or if it happens by itself.
previous nodes was about a week old commit, but the scumm-lnd node in this issue i have no idea who it is so can't ask what version anyhows

[2018-07-13 07:54] halseth commented on #1549
Note that `queryroutes` has its own path finding logic, separate from `missioncontrol`. This means that it still potentially has the bugs fixed by #1382 and #1321.

[2018-07-13 08:05] halseth commented on #1341
This could previously happen when we were acting on mempool spends, but as of v0.4.2 we shouldn't. I am wondering if this could be the a result of your `bitcoind` actually notifying on mempool spends, which might cause this to happen. Our test instance doesn't, but maybe that's a configuration option. Will look into!

[2018-07-13 08:12] robtex commented on #1549
@halseth thanks. yes it still looks fishy and i just did the same test again (from master without #1321  ) with same result.
duplicated code is awesome
i think i'll refactor my own path finding logic and using trial and error + my own brain instead.
i assume `sendtoroute`:s handling of the routes json won't be changed, right?

[2018-07-13 10:01] ottosuess opened #1553 "ChannelCloseSummary.closing_tx_hash doesn't match Transaction.tx_hash"
### Background

I'm trying to find out which of my on chain transactions result from channel open and close actions by matching `ChannelCloseSummary.closing_tx_hash`es with `Transaction.tx_hash`es.

This only works for cooperative closes. Otherwise the `closing_tx_hash` points to the predecessor of the transaction that returns my funds.

`getTransactions` contains this `tx_hash`:
https://live.bloc

[2018-07-13 10:59] ErikEk commented on #1397
After what I've tested that seems to be the issue.

[2018-07-13 11:20] ErikEk commented on #1397
It seems the issue is not just the netID, from what I've seen. I've made this change but still can't send (from litcoind) any funds to freshly generated addresses (lncli newaddress np2wkh).
@windsok Can you?

[2018-07-13 12:33] aleksajovanovic opened #1555 "Unable to set externalip"
### Background

Hi all,
Ive been trying to run a lightning node using lnd on the testnet but i'm unable to set the externalip necessary for public discovery. The command im using for btcd is:
`btcd --testnet --txindex`

### Your environment

* lnd version 0.4.2-beta
* Mac OS
* btcd version 0.12.0-beta

my lnd config file looks like:
debuglevel=info
debughtlc=true
listen=MY_IP_IS_HERE
externalip=MY

[2018-07-13 12:49] githorray commented on #1555
listen=
should be your local IP, not your external IP.

[code]

[2018-07-13 12:56] ErikEk commented on #1397
I've changed the netID and it seems to fix it.

[2018-07-13 13:08] aleksajovanovic commented on #1555
thanks so much!

[2018-07-13 13:10] aleksajovanovic commented on #1555
still cant see my node on https://explorer.acinq.co/ though

[2018-07-13 13:12] duck1123 commented on #1341
My bitcoind is the standard one from the Ubuntu repository. There is nothing special in my bitcoin.conf

[code]

[2018-07-13 13:14] githorray commented on #1555
Many explorers do not update in real-time. Can you see your node in `lncli describegraph`?

[2018-07-13 13:14] halseth commented on #1341
Yep, I was able to reproduce on our test instance. We weren't waiting long enough in the test for the mempool spend to arrive, I have a PR that fixes this issue up :)

[2018-07-13 13:16] duck1123 commented on #1341
This PR wouldn't release my funds though, would it? Or will it just save anyone else from going through this?

[2018-07-13 13:20] halseth commented on #1341
Nah, it wouldn't unfortunately :/

Should be possible to create a small patch that just changes the db record maybe..

[2018-07-13 14:20] NicolasDorier opened #1557 "[Feature Request] Cookie file authentication should not be cached"
I noticed you are caching cookiefile at startup by considering it the same as RPCUser/Pass in `extractBitcoindParameters`. But the cookiefile change when BitcoinD get restarted, which mean LND stop working if bitcoind restart.

Second issue with it, if LND start just after BitcoinD but just before the cookiefile get regenerated, then we start having problem because LND is using the outdated file.

[2018-07-13 15:06] windsok commented on #1397
ping @wangxinxi

[2018-07-13 15:07] windsok commented on #1397
Is the netID change you describe in addition to https://github.com/ltcsuite/ltcd/pull/8/files ?

[2018-07-13 15:15] neogeno commented on #1236
@guggero @Roasbeef  I have reviewed this commit and am happy to report that this revised initWallet RPC function does in fact return a result object of admin_macaroon : <Hex Bytes> correctly. However, I found an issue that when I then subsequently call the ChangePassword RPC, the admin macaroon should be encrypted with the new password specified by the user and returned as hex too, but this functi

[2018-07-13 15:23] ErikEk commented on #1397
It's exactly the same fix.

[2018-07-13 19:02] #1555 closed

[2018-07-13 23:16] Xian001 commented on #546
Testing out LND / bitcoind after messing around with c-lighting for the last few months...

This would be very handy.

eg:

1) lncli newaddress <type>
2) Returns an address of <type> to use
3) Go and do a bunch of other config / startup / learning related stuff to the GoLang implementation of Lightning
4) Forget about address that was returned in step 2
5) Search internet for "How to list existing

[2018-07-13 23:58] Roasbeef commented on #1552
So according to this link: https://www.nginx.com/blog/nginx-1-13-10-grpc/

A new-ish version of `nginx` actually supports proxying to multiple services over a single end point. Are you using this version, or a later version?

[2018-07-14 00:01] Roasbeef commented on #1553
I'm sorry, but I don't quite understand the question. The internal wallet doesn't actually know about channels, so the first one is the funding transaction that was initially created, while the second is the commitment transaction.

[2018-07-14 00:01] Roasbeef commented on #1557
So what would you have then, `lnd` to continually poll the cookie file to see if it's re-created?

[2018-07-14 01:30] Roasbeef commented on #1236
Thanks for testing! `ChangePassword` doesn't re-encrypt macaroons. It re-encrypts the macaroon _database_.

[2018-07-14 01:31] Roasbeef commented on #1236
What if users forget to change the password? What if the service doesn't fully wipe the state? This sounds a bit dangerous and may results in users' funds being swapped.

[2018-07-14 01:32] Roasbeef commented on #1236
The more dangerous part is a service running nodes _for_ a user. The service must now take responsibility to ensure proper uptime of the nodes, otherwise users can miss time lock sweeps, etc.

[2018-07-14 01:51] neogeno commented on #1236
@roasbeef I do not agree with your opinion on that this is unsafe.  These are isolated servers running nothing but LND housed in industrial strength facilities with fire suppression, tight physical security, multi site redundancies and monitored 24x7 by a dedicated team. Do you actually think your own server or phone at home is just as safe?

[2018-07-14 01:52] Roasbeef commented on #1236
What I'm trying to say is, that you as the operator, are liable for the up time of those nodes. If _something_ happens (as things do), then you're responsible for that.

Yes, to me, my phone/server is safer as it's in my _physical_ possession, and I can audit it to the extent that my skill set allows.

[2018-07-14 01:53] neogeno commented on #1236
Yes you are only safe as your ability to keep your own node secure. Alas, in reality, we live in a world where over 90% of the population are not clued in on proper security and would rather use something that makes this effortless.

[2018-07-14 01:54] Roasbeef commented on #1236
You need to acknowledge that there are tradeoffs you're making that can potentially compromise security for your users. You need to be aware of these risks, and also educate your users accordingly. If you don't do so, then you do so at your own peril.

[2018-07-14 01:56] neogeno commented on #1236
Yes sure of course. I believe in being transparent and giving people a choice. This ultimately will be better for everyone in the community.

[2018-07-14 03:11] NicolasDorier commented on #1557
@Roasbeef just when the `rpcCLient` prepare the request to send to bitcoind, it read the cookieFile.

On NBitcoin I did a different system in the RPCClient: and I cache the `CookieFile`, if I get error 401, I read the cookiefile again and try one more time. That said this optimization should not really matter.

[2018-07-14 09:14] PJUllrich opened #1559 "LND with Neutrino never finishes syncing after restart"
### Background

I run `LND` with a `Neutrino` backend on the `Bitcoin testnet` chain. During the initial sync, the node has 3 peers and syncs the entire `testnet` chain. However, even after the latest block is synced, no incoming transactions are recognised, so `lncli walletbalance` returns only `0`s for all three sections although the address should be funded (as can be seen on e.g. [BlockCypher]

[2018-07-14 10:34] PJUllrich commented on #1559
Just tested the above using Docker instead and received the same problems.

[2018-07-14 11:36] johynpapin commented on #386
I'm really sorry I didn't give any news. I no longer work on this problem indeed.

[2018-07-14 16:54] ottosuess commented on #1553
Ok, let me try to explain my problem again.

I think its very confusing for users to see the on chain transactions that result from opening and closing channels just like a regular transactions because you are not really receiving and sending money but rather moving it in and out of a channel. It still is your money, just in a channel. The only thing you are really spending in those transactions a

[2018-07-14 20:37] Cees2daBees commented on #900
Hi, I've just run into the same problem after wiping the SD card and HDD on my Raspberry Pi node. I re-installed LND with:
lnd version 0.4.2-beta commit=7cf5ebe2650b6798182e10be198c7ffc1f1d6e19
Is there an additional step I need to do to activate this wallet recovery? I've created my wallet using my previous cipher seed and passphrase, but walletbalance still shows 0.
Thanks!

[2018-07-14 20:56] Roasbeef commented on #1559
What `btcd` version are you using to sync? If you're using the faucet, then it uses a new version of the neutrino protocol that wasn't packaged with 0.4.2 beta .

[2018-07-14 20:56] #1559 closed

[2018-07-14 20:57] Roasbeef commented on #1553
It doesn't show up as it's a spend from a channel funding output. These aren't controlled by the wallet, but are controlled by `lnd`.

[2018-07-14 20:58] Roasbeef commented on #1553
If the remote party force closes, and you don't have any balance in the channel, then there's no output to the wallet. As a result, the wallet has nothing to track.

[2018-07-15 04:12] bruceleeroy18 opened #1561 "Reconnecting to Peer. Connection Refused."
### Background

Had an active channel with TorGuard for a while. I rebooted computer and now lnd will not reconnect to this channel. I could force close it, but thought it was giving an odd response to my lncli connect attempts.

### Your environment

* lnd v. 0.4.2
* ubuntu mate 18.04
* bitcoind

### Steps to reproduce

lncli connect 03557fd11b58cb93d2ad4fab4dd4cff7462a97e21e8f6b7a712cb8bd27a96b9

[2018-07-15 04:47] neogeno commented on #1236
@guggero @Roasbeef I have confirmed that once you launch a node in stateless init mode, your macaroon's are no longer valid after issuing a changepassword request. The ChangePassword RPC will then proceed to write back new macaroons on DISK which defeats the purpose of stateless init.

In My test:

admin.macaroon Received from stateless init RPC:
```0201036c6e6402bb01030a103293fe5ebf9ea3c3e6602215

[2018-07-15 08:30] guggero commented on #1236
@neogeno: Thanks for your tests!
I have analyzed the problem in detail and came to the following conclusion:

When I created the PR for this feature, there was no wallet password change (PR #618 was merged a few days after I created #1288). I did see the password change PR because I had to fix merge conflicts. But I did not investigate the changes in details.
So as you say, the stateless initializ

[2018-07-15 08:53] neogeno commented on #1236
@guggero I second that opinion and humbly request that you implement option 2 so that we get a new macaroon in the ChangePassword RPC response for better security. You may also add a flag for stateless mode if you prefer instead of detecting absence as the path for macaroon files may change.

I am happy to help testing it as many times as it takes so please let me know once the update is ready.

[2018-07-15 10:33] martinbehrens commented on #1499
@mojoaxel @halseth Added the [c-lightning](https://gist.github.com/martinbehrens/d3bd8b91654c58534fcd6dde79c7ff85) debug log as well.

[2018-07-15 15:29] Xian001 commented on #1561
ACKing here. Experiencing the same issue.

[2018-07-15 22:52] petertodd commented on #1388
I'm seeing this issue as well.

[2018-07-16 00:34] Horndev commented on #1541
I also seem to have this bug in version b0288d46773ac6d45e5dc4d5e6a80dd3034d0b9f

my log:

[code]

[2018-07-16 07:24] NicolasDorier opened #1562 "[Feature Request] lncli should not ask for server tlscert if it is trusted by the machine"
BTCPay will expose gRPC over an HTTPS connection with a trusted certificate from Let's encrypt.

Requiring the certificate on the user's machine is inconvenient.

# Workaround

We can download the certificate using `openssl` before using lncli.

[code]

[2018-07-16 08:40] PJUllrich commented on #1559
Hmm, I'm not actively using any `btcd` instance, but only run the packaged `lnd` release `0.4.2 beta`. Alright, so I need to update my local `lnd` instance. Where can I find out which version the faucet is running?

[2018-07-16 08:52] halseth commented on #900
@Cees2daBees It should restore if you used the correct seed and passphrase. Not that funds in channels won't be restored.

[2018-07-16 09:37] jpentland commented on #1494
I have the same issue on commit: a43d02f8f049a82304a3c994bb1e326a3a8e1572

[code]

This channel was force closed by the remote host (not sure why). Checking a block explorer shows that the closing_txid was never confirmed, and in fact a conflicting transaction was confirmed instead.

[Original TX](https://btc.com/b8c76bce5f40a371921c01e073529b9b408cde9b71655b28ddefeb7e4c1896e1)
[Final TX](https://

[2018-07-16 10:11] halseth commented on #1499
I see some strange link behaviour during link startup:
[code]
and
[code]
It looks like we are starting a channel re-sync, but for some reason we are still getting `ChannelReestablish` messages when we don't expect to. Maybe the c-lightning node is re-sending the `ChannelReestablish` messages unexpectedly?

Or the messages exchanged by the `gossipSyncer` might impact the channel sync somehow... 🤔

[2018-07-16 10:53] halseth commented on #1549
Making P3, as this seems to apply to `queryRoutes` only. It should also get the path finding fixes done by #1321.

[2018-07-16 12:12] juscamarena opened #1563 "[Feature Request] Sending Notifications for fallback_addresses in Invoices"
Adding the option to automatically add a fallback address generated from LND's internal wallet with a configurable minimum satoshi amount.

As well as sending notifications for fallback addresses 0-conf and confirmation, internal wallet addresses already show unconfirmed insertion in the logs from what I see.

The alternative right now is adding an address I generated on my own and watch on my own

[2018-07-16 13:05] sangaman commented on #1310
Just FYI, I suspect that the original cause of the issue - the funding transaction seemingly disappearing from lnd when it's rejected due to a full mempool - still probably exists. It at least seems to resolve itself given some restarts and time, though. It might be worth leaving this issue open to at least keep track of it or in case others experience the same.

[2018-07-16 14:44] ottosuess commented on #1553
ah, thanks for clarifying. i guess this can be closed.

[2018-07-16 14:44] #1553 closed

[2018-07-16 14:57] Xian001 opened #1564 ""walletbalance" does not update in a timely fashion after openchannel funding / bitcoind"
### Background

When opening a channel with a peer, "walletbalance" does not update in a timely fashion, disallowing funding of other channels.

### Your environment

* $ lncli getinfo
{
    "identity_pubkey": "026bce917a5854f3c5140cc69c977d19a6d656554120b6dedf045b246941b858c5",
    "alias": "TexasRouter",
    "num_pending_channels": 1,
    "num_active_channels": 31,
    "num_peers": 35,
    "bloc

[2018-07-16 19:14] wpaulino commented on #1561
`lnd` already does this. We'll continually attempt to reconnect to a peer using a backoff. If the peer is down however, there's not much we can do but wait. I'm unable to connect to them at the moment, which most likely means they're offline and have been since you came across this.

[2018-07-16 19:18] wpaulino commented on #1494
@jpentland, your issue sounds a lot like #1341. #1554 attempts to resolve that. Note that you won't be able to clear the channel from your set of pending force closed channels until the `forgetchannel` PR is merged.

[2018-07-16 19:41] Roasbeef commented on #1564
When we start to fund a channel, we'll lock those inputs selected in order to avoid concurrency issues. The locked inputs aren't reflected in `walletbalance` until after the channel is confirmed. If you're using `bitcoind`, and the node is remote, then it's possible that it's missing notifications at times which can get our wallet state of of sync. This issue will be fixed soon on our end, and a m

[2018-07-16 19:42] Roasbeef commented on #1564
If the peer is unresponsive, then you won't be able to complete the channel funding handshake to successfully open the channel. If you have a single UTXO, then you'll need to wait for that to confirm before we can use the change output to open additional channels.

[2018-07-16 19:42] #1564 closed

[2018-07-16 19:48] Roasbeef commented on #1499
Looks like `c-lightning` is sending the chan reest message multiple times. If we don't get the initial message, then we'll send an error. My guess is that `c-lightning` thinks that the error is terminal, and force closes the channel as a result.

Also looking like `c-lighting` accidentally tried to add too many HTLCs to the commitment transaction, and force closed it:
[code]

[2018-07-16 19:51] Roasbeef commented on #1420
Your issue is that the remote peer isn't sending the channel sync message for some reason. Logs show that `lnd` is doing everything correctly. If the remote peer isn't responsive, then you'll have to close out the channel. When you try to close cooperatively, it disconnects.

[2018-07-16 19:53] Roasbeef commented on #1562
Please don't expose a service to the public internet without macaroon authentication!

[2018-07-16 19:55] Roasbeef commented on #1541
Related to #1184.

You can apply this patch to start up until that PR is merged and the issue addressed:
[code]

[2018-07-16 19:55] Roasbeef commented on #1561
As you can see, they've either changed their IP or are no longer listening on the proper port.

[2018-07-16 19:57] Roasbeef commented on #1388
See #1505 and #1495.

[2018-07-16 19:57] Roasbeef commented on #1561
I'm unable to connect as well. Closing this as it looks to be an issue with TorGuard, and not `lnd`.

[2018-07-16 19:57] #1561 closed

[2018-07-16 20:00] Roasbeef commented on #1525
I don't think this is an issue with `lnd` at all. Instead, it appears to be an issue with the home networking you're attempting to configure `lnd` with.

[2018-07-16 20:24] #1341 closed

[2018-07-16 21:00] bruceleeroy18 commented on #1561
Thanks for your time. 

Sent via the Samsung Galaxy S7 edge, an AT&T 4G LTE smartphone
-------- Original message --------From: Olaoluwa Osuntokun <notifications@github.com> Date: 7/16/18  15:58  (GMT-05:00) To: lightningnetwork/lnd <lnd@noreply.github.com> Cc: bruceleeroy18 <browningsmith@gmail.com>, Author <author@noreply.github.com> Subject: Re: [lightningnetwork/lnd] Reconnecting to Peer. Conne

[2018-07-16 21:58] Cees2daBees commented on #900
Hmm, I believe I've got the correct seed and passphrase. When using 'lncli create' and indicating I have an existing cipher seed, would there be some error if I input an incorrect seed and/or passphrase? I assumed that since it created the wallet using the cipher seed and passphrase I supplied without any errors, that I must have originally recorded them and subsequently input them correctly?

Is

[2018-07-16 22:30] petertodd commented on #1388
Thanks.

Curiously the problem seems to have resolved itself after trying a few more times, though it took leaving my node on overnight with a pending "closechannels" command for the channels to actually close.

[2018-07-17 01:21] dognie commented on #1525
Yep I'll try other ways.Thanks

[2018-07-17 01:21] #1525 closed

[2018-07-17 01:28] NicolasDorier opened #1567 "[Bug] LND REST Proxy stop working if gRPC is exposed on 0.0.0.0"
### Background

When I added `rpclisten=0.0.0.0:10009`, then the rest endpoint sends me error 500:

Config:
[code]

Error:
[code]

# Workaround

Adding an unused rpclisten endpoint fix the situation.
[code]

[2018-07-17 01:35] NicolasDorier commented on #1562
Of course I don't, just using this to know if the underlying server is responding with the expected error message.

[2018-07-17 02:38] NicolasDorier commented on #1567
I might change it later. I am currently working with Zap wallet guys to get something working.

If Zap wallet can handle the initialization of the recovery phrase, I will do this. I can't ask BTCPay users to use command line.

[2018-07-17 02:39] Roasbeef commented on #1562
Gotcha, currently investigation a way to do this automatically if the host set is an actual domain.

[2018-07-17 02:40] Roasbeef commented on #1567
Why would they have to use the command line? It's possible to do it all programmatically over the REST interface. If Zap is skipping this all together, that's pretty dangerous...

[2018-07-17 02:42] NicolasDorier commented on #1567
They probably do already, need to check.

[2018-07-17 02:50] NicolasDorier commented on #1562
@Roasbeef to be clear, the certificate still need to be verified to be trusted by the machine to prevent man in the middle. I don't know if this is easy in Go.

[2018-07-17 02:51] Roasbeef commented on #1562
Why not just include that script you have above as a pre-build check in the docker container?

[2018-07-17 02:53] NicolasDorier commented on #1562
because I can't suppose users have openssl (imagine windows users who want to connect to their LND node via lncli)

BTCPay expose publicly LND's gRPC interface, I would like to make it as painless to people to connect to it safely.

[2018-07-17 02:53] NicolasDorier commented on #1562
It is not needed by me, but I can already see the quesiton coming of people asking me why the handshake get rejected by lncli.

[2018-07-17 02:54] Roasbeef commented on #1562
The docker container can install that for the user so they don't have to. Where does Windows come into play here? Is that how users are expected to initially provision BTCPay?

[2018-07-17 02:59] Roasbeef commented on #1567
Also this is the Let's Encrypt cert right? Not the default cert that lnd generates?

[2018-07-17 03:09] NicolasDorier commented on #1562
People provision BTCPay on a VM in an hosting provider (mainly Azure, but can be any)

With BTCPay comes a LND node bundled into the docker, and whose gRPC access is exposed.

Now the user, from his personal laptop, might want to use `lncli` to administer his LND node.
Of course, he can also SSH into the VM and use lncli directly. But it is less convenient than just being able to use lncli from hi

[2018-07-17 03:13] NicolasDorier commented on #1567
Yes. Technically it is possible to initialize the wallet from Zap. I just don't know if they do it now. (they probably do, I just need to ask)

But anyway for this issue, it is unrelated to all of that.  In my case, the REST Proxy just seem to connect to gRPC server by using `0.0.0.0`, which obviously fail.

[2018-07-17 04:01] cfromknecht commented on #900
@Cees2daBees during `lncli create` it should ask you if you already have a seed, which you should enter. It will also ask you for a "recovery window", which defaults to 250 I believe. If there's a chance that your node may have generated a bunch of addrs, it may be worthwhile to crank that up.

Also if you restart your node during a recovery, you can resume by passing `--recovery_window XXX` to `l

[2018-07-17 06:54] robtex opened #1568 "lnd panic and refuses to start (failed sending fundingLocked: shutting down unable to send)"
`version 0.4.2-beta commit=bc5bfeb479d5123ad3c9cfc8bf9636bb1535802e`

first got a panic:
[code]

then it was issues sweeping when starting up:

```2018-07-17 06:37:55.349 [ERR] UTXN: Failed to re-register for kindergarten sweep transaction at height=531727: -22: TX rejected: transaction 725e7b9ebf2a123586e7849e0fee604be0b89810280b57603f99e1dc8eb3c7f8 has insufficient priority (3839.404011461318 <=

[2018-07-17 07:51] robtex commented on #1568
emergency-patched it like this to make it start

[code]

[2018-07-17 08:03] robtex commented on #1568
probably should have another patch though... doesn't feel good, but the node runs fine

[2018-07-17 08:36] jpentland commented on #1420
Executing the following command:
[code]

Results in lncli blocking indefinitely, and the following on the log:
[code]

But no more information regarding the progress. I don't see any evidence that a commitment TX was sent to the p2p network.

[2018-07-17 08:39] tim222tim commented on #1495
I can confirm that issue #1388 only happened when I attempted to open a channel with most of my remaining wallet balance.

[2018-07-17 09:16] juscamarena opened #1569 "No outbound peer connections when restarting & Sluggish startup"
### Background

Describe your issue here.

### Your environment

* version of `lnd` 0.4.2-beta commit=6dff599d213be4182a70c8eab4cac8a36d3c15e4 but was also running into something similar on pervious commmits
* which operating system (`uname -a` on *Nix)
Ubuntu  x86_64 GNU/Linux
* version of `btcd`, `bitcoind`, or other backend
btcd version 0.12.0-beta
* any other relevant environment details

###

[2018-07-17 12:33] jpentland opened #1570 "go app using lnrpc fails to build with 'undefined: proto.InternalMessageInfo'"
### Background

Trying to build a simple application (based on a  [stackoverflow](https://bitcoin.stackexchange.com/questions/73869/rpc-call-to-lnd) post because I couldn't find the right documentation):
[code]

### Your environment

* LND Version: `lnd version 0.4.2-beta commit=6dff599d213be4182a70c8eab4cac8a36d3c15e4`
* OS ArchLinux: `4.17.3-1-ARCH #1 SMP PREEMPT Tue Jun 26 04:42:36 UTC 2018 x86

[2018-07-17 12:51] frico21 opened #1571 "Force closed channel stuck in pending channels forever"
### Background

I have a force closed channel on pending channels for more than 1 month by now.  This is what it looks like when calling for pendingchannels, take a look at blocks_til_maturity: -1175.

The channel was with another node I own and that node pendingchannels doesn't show anything, also the closing tx was confirmed normally....

Can't say if the funding channel amount was returned sinc

[2018-07-17 15:06] federicobond opened #1573 "QueryRoutes + SendToRoute interface is confusing in the presence of a multigraph"
The current QueryRoutes command returns an array of Routes through which a payment of a certain amount can be routed. The route hops are described as a sequence of channels. Its output can then be used as an input to SendToRoute, which promises to take one of those routes and route the payment through it.

Unfortunately, when multiple channels are open between two consecutive hops, that promise ca

[2018-07-17 18:56] wpaulino commented on #1573
Duplicate of #1515.

[2018-07-17 18:56] #1573 closed

[2018-07-17 19:19] federicobond commented on #1573
Thanks for the quick response, I had missed that issue.

[2018-07-17 19:39] Roasbeef commented on #1207
Closing for now as we're investigating an alternative scheme.

[2018-07-17 19:39] #1207 closed

[2018-07-17 20:31] slush0 opened #1574 "autopilot: with large values of num_max_channels, the pilot/agent spins unnecessarily consuming CPU"
### Background

Similarly to issue #910, I'm observing excessive CPU usage on my node (load 3-4), although there is no activity in lnd log (debuglevel=info). Node's uptime is actually around 14 hours and the load didn't settle down.

The only reason I see might be the number of peers/channels (around 200), but I don't suppose high CPU usage is expected when there're no payments going thru. Or am I

[2018-07-17 20:36] slush0 opened #1575 "panic: htlc index mismatch: 1 vs 0"
### Background

lnd panicked and process stopped shortly after casual service reload:

[code]

After the restart, it booted up normally.

### Your environment

* 0.4.2-beta commit=b0288d46773ac6d45e5dc4d5e6a80dd3034d0b9f
* Linux server01 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux
* bitcoind 0.16.1

### Steps to reproduce

I cannot reproduce.

### Expected behaviour

[2018-07-17 20:44] slush0 opened #1576 "Typo in logging"
I noticed following line in my log:

```[INF] DISC: peer %!x(MISSING) reconnected. Retry sending AnnounceSignatures.```

Seems like MISSING is not expanded by actual value.

### Your environment

* lnd commit=b0288d46773ac6d45e5dc4d5e6a80dd3034d0b9f

[2018-07-17 23:02] Roasbeef commented on #1569
I've seen this a bit myself, I think the issue is that during a long running rescan, btcd doesn't prioritize regular RPC requests, so certain sub-systems are unable to fully start up. The profiles you've provided should be pretty helpful though, we'll take a look at those and see what the next steps to solve this issue are.

[2018-07-17 23:40] Roasbeef commented on #1575
Was this a new node, or an existing node? As in did it have some channels existing from maybe before 0.4.2 or right after it? In the past we've tackled this issue and assumed that the series of PR's linked in this issue did the trick: https://github.com/lightningnetwork/lnd/pull/1255

[2018-07-17 23:43] #1576 closed

[2018-07-18 03:34] Cees2daBees commented on #900
@cfromknecht that's what i was doing originally and didn't seem to recover the wallet before. but i just deleted the entire lnd folder and re-installed and re-initialized the wallet with the cipher and passphrase and looks all ok now. walletbalance and onchaintxns all back. thanks!

[2018-07-18 07:33] robtex opened #1580 "lnd refuses to start while sweeping"
issues sweeping when starting up:

2018-07-17 06:37:55.349 [ERR] UTXN: Failed to re-register for kindergarten sweep transaction at height=531727: -22: TX rejected: transaction 725e7b9ebf2a123586e7849e0fee604be0b89810280b57603f99e1dc8eb3c7f8 has insufficient priority (3839.404011461318 <= 5.76e+07)

2018-07-17 06:37:55.363 [ERR] FNDG: failed to handle fundingconfirmation: failed sending fundingLock

[2018-07-18 08:39] Roasbeef commented on #1569
See the two linked PRs!

[2018-07-18 10:00] juscamarena commented on #1569
Running both PR's now and can now addinvoice quickly after startup.

Just started running it but seems stalled a bit with no peers.
Here's the profile: http://paste.ubuntu.com/p/3q3h5T5JFm/

I've also tried manually connecting to peers as shown in the logs below:
https://paste.ubuntu.com/p/Rhd4YdT33S/

Without the patches lnd did eventually start connecting outbound. Will follow up and see how lon

[2018-07-18 16:22] jpentland commented on #1570
This was solved by additionally using an older version of genproto:
[code]

Maybe this additional step should be added to the readme?

[2018-07-18 19:08] jpentland commented on #1570
I'm working on a PR now

[2018-07-18 19:23] jpentland commented on #1570
Trying to build `grpc-gateway` without `glog` results in this error:
[code]

[2018-07-18 22:59] cfromknecht commented on #900
Awesome, great news @Cees2daBees!

[2018-07-18 23:00] Roasbeef commented on #1580
Duplicate of #1429.

[2018-07-18 23:00] #1580 closed

[2018-07-18 23:41] Roasbeef commented on #1243
AFAIK, that's always the case currently? As in there's no default authentication or anything like that, so users would have to spin up their own via like a proxy or special headers perhaps?

Special notifications as in once a particular operation hits a particular milestone. So like if we're forwarding an HTLC, when we actually decode the onion blob or something like that. This would allow us to f

[2018-07-19 01:19] blockchainsolutionshi commented on #976
Can I add zmq after syncing bitcoind, or do I have to do the whole thing over again?

[2018-07-19 05:31] nharmon9 opened #1586 "ZMQ connection refused"
### Background

Dial tcp connection refused

### Your environment

* 0.4.2
* Darwin 17.4.0
* bitcoind
* mainnet
zmq things set to 127.0.0.1:28332

### Steps to reproduce

$lnd
unlock wallet

### Expected behaviour

It should start up lnd

### Actual behaviour

dial tcp 127.0.0.1:28332: connect : connection refused

[2018-07-19 06:48] halseth commented on #1575
@slush0 Thanks for reporting this!

This is a quite serious bug we have been investigating before. I thought we were able to fix it in v0.4.2 though... Did you upgrade from v0.4.1, and the channel was opened from the old version?

Something to note is that the HTLC restoration in this case is a result of receiving a `fundingLocked`, meaning that either 1) the channel shouldn't have been active yet

[2018-07-19 08:18] frico21 commented on #1571
any progress on this? :S

[2018-07-19 10:40] peername commented on #1586
Do you have these lines in bitcoin.conf?
zmqpubrawblock=tcp://127.0.0.1:28332
zmqpubrawtx=tcp://127.0.0.1:28332

[2018-07-19 17:04] nharmon9 commented on #1586
Yes

[2018-07-19 19:18] wpaulino commented on #1586
`bitcoind` must be compiled with ZMQ support as it is not included by default.

[2018-07-19 19:36] nharmon9 commented on #1586
I tried:
brew install zeromq
git clone "bitcoin repo"
make
sudo make install
all with the bitcoin.conf in the same folder with the block data having the lines mentioned above.
I may be really stupid but the one thing I haven't tried is restarting the computer.

[2018-07-20 04:27] btcontract commented on #1347
Indeed it's annoying, keep getting user complaints all the time. Plus, it looks like ACINQ works on receiving in their Android wallet which also uses private channels, so will face the same issues.

[2018-07-20 08:45] slush0 commented on #1575
Existing node, created from 0.4.2-beta codebase.

Unfortunately, logs are already gone :(. I'll take a snapshot if this happen again after some restart.

[2018-07-20 08:47] slush0 commented on #1571
I'm affected by this, too. Have one pending channel with "-1371" blocks_til_maturity.

[2018-07-20 09:18] slush0 commented on #1574
While I have no experience with go profilles, I succeed with exporting these images:

This has been taken after ~15 minutes of CPU time after lnd start from /debug/pprof/profile:

![profile001](https://user-images.githubusercontent.com/565341/42994408-4f7311e8-8c0e-11e8-9877-6f2369aa46d3.png)

This has been taken after ~35 minutes of CPU time after lnd start from /debug/pprof/profile:

![profile00

[2018-07-20 09:53] slush0 commented on #1574
This is taken after ~2 hours of CPU time, when the load settled a bit (but it is still eating 2 CPU cores):

![profile004](https://user-images.githubusercontent.com/565341/42996282-5dce09b4-8c13-11e8-9966-8852045e9113.png)

[2018-07-20 10:01] slush0 commented on #1574
If I understand it well, most of the time lnd spends in some autopilot logic. It may be relevant that my autopilot settings is max_channels=400.

[2018-07-20 13:11] slush0 commented on #1574
After I turned autopilot off, and ~3 hours of lnd CPU time. Load is significantly lower, but it is still definitely not idling.

![profile005](https://user-images.githubusercontent.com/565341/43004082-eb418198-8c2e-11e8-9519-b70c6b0d5695.png)

[2018-07-20 14:53] juscamarena commented on #1494
I'm having this same issue using btcd as the backend.

2018-07-20 14:47:38.942 [INF] DISC: Broadcasting batch of 8 new announcements
2018-07-20 14:47:39.131 [ERR] FNDG: Unable to complete reservation sign complete: Transaction rejected: output already spent
2018-07-20 14:47:39.131 [INF] FNDG: Cancelling funding reservation for node_key=03cb7983dc247f9f81a0fa2dfa3ce1c255365f7279c8dd143e086ca333df10

[2018-07-20 19:56] Roasbeef commented on #1494
@juscamarena on startup, if you start with `LNWL=trace`, what does lnd try to rebroadcast?

[2018-07-20 23:54] Roasbeef commented on #1571
[code]

@frico21 in your case it appears that the contract resolver thinks that this is actually a CSV output, when it's due to the remote party closing out on chain, meaning that we don't actually have to wait for a CSV delay before we can sweep the output. Are you using the `bitcoind` backend?

[2018-07-20 23:55] Roasbeef commented on #1571
@slush0 in your case, is the size of the limbo output very small? Like some low multiple of dust?

[2018-07-21 00:04] Roasbeef commented on #1574
Thanks for those profiles!

Yeah it looks like something is up with the autopilot agent, it shouldn't be using anywhere near that much CPU. What settings are you running with? So like the number of max channels, and so on? The agent itself is event driven, so it should only try again if: a new channel is closed, we modify our wallet balance, or a prior instance to open a channel failed for w/e rea

[2018-07-21 00:11] Roasbeef commented on #1586
You just need to ensure that `bitcoind` is actually listening on those ports. If it isn't then you don't actually have zmq active.

[2018-07-21 00:11] #1586 closed

[2018-07-21 00:20] rikur opened #1597 "lnd stopped receiving updates from bitcoind zmq"
### Background

lnd fell behind bitcoind back-end. I didn't have debug logging enabled, but I started seeing a bunch of log messages like this:

[code]

It seems like the ZMQ connection between lnd and bitcoind died at some point. The only possibly relevant log entry I have is this:

[code]

The connection was not re-established during five hours before I restarted lnd. From the little I understan

[2018-07-21 00:22] Roasbeef commented on #1597
What commit are you running? It helps if you fully populate the items in the issue template. `lnd` _should_ reconnect automatically. However, if bitcoind restarts, and `lnd` did auth using the rpc cookie, then atm we don't re-read that from disk, as we can't differentiate a disconnect from a restart on bitcoind's end.

[2018-07-21 00:23] Roasbeef commented on #1597
It's probable that no block arrives in 30min+

[2018-07-21 00:23] Roasbeef commented on #1597
That's unrelated. That's an issue of the remote party hanging up the connection as we try to complete the p2p handshake.

[2018-07-21 00:24] Roasbeef commented on #1597
This should be fixed by #1566.

[2018-07-21 00:24] rikur commented on #1597
Wow, you're on fire! It's the official 0.4.2-beta.

I did not restart bitcoind. Let me check it's logs to make sure.

What if I ran out of free file descriptors or something?

[2018-07-21 00:31] Roasbeef commented on #1597
What the issue is atm, is that if a ton of notifications come in, then bitcoind will just start dropping them, rather than buffering to ensure reliable delivery. The PR I linked will now use a distinct socket for new tx notifications vs new block notifications. The block notifications are critical, while the tx notifications aren't themselves. By partitioning the two, we can ensure that bitcoind u

[2018-07-21 00:36] rikur commented on #1597
My terminal screen ran out of buffer, but I do remember a little glitch when I started lnd prior to this issue:

When I first tried to start lnd, I received this error and the client exited:
https://github.com/lightningnetwork/lnd/blob/b0288d46773ac6d45e5dc4d5e6a80dd3034d0b9f/lnd.go#L279

After second attempt, lnd started just fine.

[2018-07-21 00:37] rikur commented on #1597
Thanks for the explanation. One more thing that might be of interest:

[code]

It seems lnd had indeed received newer blocks even before that premature messaging started.

[2018-07-21 00:38] rikur commented on #1597
What happens if LND misses a block or two? Will it try to re-fetch them?

[2018-07-21 00:48] #1495 closed

[2018-07-21 01:10] Roasbeef commented on #1569
In that trace, we see the same issue of the RPC client waiting on btcd to return a block:
[code]

[2018-07-21 01:11] Roasbeef commented on #1569
So it would appear that the issue might actually be with btcd. btcd supports the same profiling (even same arg) that lnd does, so I think a set of profiles or goroutiune dumps for when btcd when lnd is tarting up would allow us to get to the bottom of the issue at hand.

[2018-07-21 01:20] Roasbeef commented on #1597
See https://github.com/lightningnetwork/lnd/pull/1439

[2018-07-21 01:40] rikur commented on #1597
Great! Thank you. Closing this issue.

[2018-07-21 01:40] #1597 closed

[2018-07-21 11:04] roeierez commented on #444
I have investigated this hang in new address and I am sharing here my observations:
During initial sync the function syncWithChain (in btcwallet/wallet.go) is fetching the block headers from the btcd peers and commits them to the db every 10K blocks.
On start of every such batch the bucket with key "waddrmgrNamespaceKey" is locked for write (tx.ReadWriteBucket(waddrmgrNamespaceKey) and the same lo

[2018-07-21 14:16] robtex opened #1599 "temporary_channel_failure messages wrong"
"unable to route payment" messages usually looks like this:
[code]
with correct chainhash and otherwise sane data .

but sometimes they look like this.
it seems the entire message is skewed by 2 bytes, and the first two bytes look like a length specification and are always 01 02
[code]

it seems the messages that look like this are sent from c-lightning nodes.

according to the rfc it looks like t

[2018-07-21 19:09] orbitalturtle commented on #1404
Makes sense, thanks @Roasbeef

[2018-07-22 00:13] Roasbeef commented on #1599
Our parsing is deterministic. AFAICT, this doesn't appear for `lnd` to `lnd`, therefore, we it's safe to conclude that this might be an issue with `c-lightning`. They've had an issue in the past due to stray pointer arithmetic where channel updates in their in-memory store get partially garbled. AFAIK, they've fixed this issue since then, so either it's a regression on their side, or you're intera

[2018-07-22 01:09] robtex commented on #1599
btw i think the 01 02 might not a length byte as my first guess was, but rather message type 258

[2018-07-22 01:55] #1100 closed

[2018-07-22 01:55] Roasbeef commented on #1128
Closed by #1371.

[2018-07-22 01:55] #1128 closed

[2018-07-22 02:03] Roasbeef commented on #1569
With that PR merged, can you try updating your `btcd` and giving it another shot? The other two related PR's have also been merged as well (async invoice ntfn, async rescan).

[2018-07-22 02:41] #1329 closed

[2018-07-22 03:00] bob-333 commented on #1494
I have a similar issue I think.

I had autopilot enabled. At 19:23 it broadcast a funding transaction spending utxo abdbb3c2:1

    2018-07-21 19:22:59.665 [INF] FNDG: Generated ChannelPoint(6bcca1c3bf04c2dcca722785823eb120ee97a90c7938d4ce21f3663a00fdd701:0) for pendingID(5642bc2b575301889c0ae2865325b109706e449076a2e58260ea35ed426f7538)
    2018-07-21 19:22:59.841 [INF] LNWL: Broadcasting funding

[2018-07-22 03:11] bob-333 commented on #1494
I also noticed the following log entries:

    2018-07-21 19:24:26.602 [INF] LTND: Received shutdown request.
    2018-07-21 19:24:26.602 [INF] LTND: Shutting down...
    2018-07-21 19:24:26.602 [INF] LTND: Gracefully shutting down.
    2018-07-21 19:24:26.602 [INF] ATPL: Autopilot Agent stopping
    [...]
    2018-07-21 19:33:50.898 [INF] CRTR: FilteredChainView stopping
    2018-07-21 19:33:50.9

[2018-07-22 08:42] ZapUser77 opened #1602 "Sendtoroute syntax is unclear"
### Background

Trying to use sendtoroute command to rebalance channels

### Your environment

* version of `lnd`
0.4.2
* which operating system (`uname -a` on *Nix)
* version of `btcd`, `bitcoind`, or other backend
Bitcoind
* any other relevant environment details

### Steps to reproduce

Sendtoroute

Can't use queryroutes to self-balance.

using the --routes parameter to manually specify a JSON

[2018-07-22 09:13] ZapUser77 opened #1603 "Feature Request: Rebalance command"
It would be really nice to have a Rebalance command with 3 arguments: Outgoing channel ID(optional), Incoming channel ID(optional), and amount.

This would automatically find a route to the next to last hop (you're the last hop), then get all the info it needs for the incoming channel and adds the last route, creates a pay request, and uses sendtoroute to fulfill the request.

If outgoing or incom

[2018-07-22 10:56] cdecker commented on #1599
Yep, that looks a lot like there are two different interpretations of what it means to send back a channel_update: do we include the type or not? c-lightning includes it lnd seems not to.

For reference the `0x0102` bytes are indeed the message type 258 which is [channel_update](https://github.com/lightningnetwork/lightning-rfc/blob/fd9da9b95eb5d585252d7e749212151502e0cc17/07-routing-gossip.md#the

[2018-07-22 14:39] robtex commented on #1599
Thank you guys!

I guess you will also check other message types used in similar cases.
`amount_below_minimum`, `fee_insufficient` , `incorrect_cltv_expiry` , `expiry_too_soon`, `channel_disabled` all include a `channel_update`

 I haven't done much interoperability tests myself. I started investigating this particular problem while trying to make my rebalancer understand which channels are down,

[2018-07-22 16:35] guggero commented on #1236
I have implemented option 2 as requested.
It was not possible to do it without adding the `--stateless_init` flag to all three startup commands `create`, `unlock` and `changepassword`.
Because for example during the `unlock` phase, the daemon does not know if the macaroon files are missing because we removed a previously set `--no-macaroons` flag or because it was initialized stateless. Therefore

[2018-07-22 17:05] robtex opened #1604 "lnd panic at reception of payment"
```lnd version 0.4.2-beta commit=6dff599d213be4182a70c8eab4cac8a36d3c15e4```

[code]

[2018-07-22 17:06] githorray commented on #1604
Can confirm, panic. ;-)

[2018-07-22 17:40] robtex commented on #1604
good news, it seems to be fixed in
 `lnd version 0.4.2-beta commit=bca926d6af69b117eb6afa0e50ec2dc32d2899d4`

[2018-07-22 19:06] Roasbeef commented on #1236
There's no need to _delete_ the existing macaroon db, in the future this
will grow to hold more than just the root macaroon key. If the macaroon
itself is changing due to the changepassword rpc, rather than the db being
re-encrypted, then that's a bug and should be fixed.

On Sun, Jul 22, 2018, 9:35 AM Oliver Gugger <notifications@github.com>
wrote:

[2018-07-22 19:35] guggero commented on #1236
Ah, that was kind of my question in the longer question from a week ago: Does the user expect the macaroon root key to change as well when changing the password? Or should it stay the same?

The deletion of the macaroon db file was implemented in the change password PR, so I assumed that was correct. But I agree that there probably will be more information stored in there that should not be delete

[2018-07-22 21:47] slush0 commented on #1574
autopilot.active=1
autopilot.maxchannels=400
autopilot.minchansize=500000
autopilot.maxchansize=500000

The log is repeatedly getting wall of messages like this (maybe 200 repeated messages in range of 3 seconds, then it stop for few minutes, then again):

[code]

as you can see, the line is printed many times per second.

The only other lines of autopilot logs so far were:

[code]

Should I open

[2018-07-22 21:49] slush0 commented on #1571
The limbo balance is 0.1677 BTC:

[code]

[2018-07-23 07:39] slush0 commented on #1574
After running lnd with `ATPL=trace` overnight, I see repeating pattern here.

There's wall of ~100 lines `Reached cap of 10 pending channels opens`, followed by `Attempting to execute channel attachment directives`, appearing in log every 3 minutes. Which is, BTW, not true. There's currently one pending_open_channel and two pending_force_closing channels in my `lncli listpendingchannels`.

[code]

[2018-07-23 07:59] slush0 commented on #1574
After some digging into logs, I've found few peers (probably) behaving badly, sending some garbage, which ends up with closing the connection, and reopening in another second. I have open channel with this particular peer, so maybe events like this trigger autopilot?

[code]

[2018-07-23 09:53] slush0 commented on #1574
Maybe not relevant, but after setting`debuglevel=PEER=notice` I also found out there's intensive communication between peers. Like hundreds of actions per second. I have no idea if this is normal or not though:

[code]

[2018-07-23 09:55] frico21 commented on #1571
@Roasbeef I am using btcd (version of btcd: version 0.12.0-beta)

[2018-07-23 10:00] juscamarena commented on #1494
If he has pending channels it also triggers a rescan from when the channel was opened causing me long startup times, I'll try in a bit, have to apply a patch by Wilmer Paulino first.

[2018-07-23 10:13] robtex opened #1605 "channel_update disable usage"
according to https://github.com/lightningnetwork/lightning-rfc/blob/master/07-routing-gossip.md#the-channel_update-message

[code]

Are there any plans to implement this in lnd to signal loss of connectivity to a peer? It would avoid *many* dead ends in routing discovery.

Other than signalling that the channel with the peer is actually down, my opinion is that it could be used to signal other rea

[2018-07-23 10:58] robtex opened #1606 "lnd sends temporary_channel_failure instead of amount_below_minimum"
routing node reports
```ChannelLink(531325:350:0) Unable to handle downstream add HTLC: proposed HTLC value is below minimum allowed HTLC value```

reports to sender
[code]

shouldn't it send `amount_below_minimum` ?

[2018-07-23 12:38] juscamarena commented on #1569
I've applied @wpaulino patch to make use of txindex and not scan back all the way to the channel opening time manually. Seems that made everything snappy, I haven't tried the btcd patch but can say for sure it was the ghost pendingchannels and having many of them taking ages to rescan for a txid that won't ever appear. Any way to fix the wrong balance or do I have to manually rescan everything lik

[2018-07-23 13:39] alexbosworth opened #1607 "describegraph fails when expected node is not found"
### Background

Getting graph details using `describegraph` results in a `ErrGraphNodeNotFound` error.

### Your environment

* `"version": "0.4.2-beta commit=bca926d6af69b117eb6afa0e50ec2dc32d2899d4"`
* Ubuntu 16.04.4 LTS
* Bitcoin Core 0.16.0

### Steps to reproduce

    lncli describegraph
    [lncli] rpc error: code = Unknown desc = unable to find node

### Expected behaviour

`describegraph`

[2018-07-23 13:42] jrwagh333 commented on #1430
What exactly is the commitment fee? Can this be explained in more detail and can you adjust it manually?

[2018-07-23 13:53] slush0 commented on #1571
This may be relevant, however none of these numbers seems familiar to me. I just found out in logs:

[code]

[2018-07-23 15:55] ZapUser77 opened #1609 "LND and C-Lightning can't open channel together"
### Background

Describe your issue here.

### Your environment

* version of `lnd`
0.4.2
* which operating system (`uname -a` on *Nix)
Raspbian
* version of `btcd`, `bitcoind`, or other backend
BitcoinD
* any other relevant environment details

### Steps to reproduce

Try to open a channel from LND to C-Lightning (Or visa versa)

### Expected behaviour

Tell us what should happen

### Actual beha

[2018-07-23 16:39] vpecinka opened #1610 "Pending channel with negative blocks_til_maturity"
### Background

I cannot get rid of forced closed channel (from the other party). There is negative number in `block_til_maturity` and satoshis are in limbo. The channel was created originaly from my side with 100.000 sat, no transaction was made on it.

### Your environment

* lnd version 0.4.2-beta commit=bca926d6af69b117eb6afa0e50ec2dc32d2899d4
* Linux zec2 4.4.0-130-generic #156-Ubuntu SMP Thu

[2018-07-23 19:33] Roasbeef commented on #1494
@bob-333 in that first broadcast, was the transaction included in the mempool of the node? As in, was there an error?

[2018-07-23 19:43] Roasbeef commented on #1494
If you grep y'all's logs for: `reservation timed out waiting for peer`, does anything come up?

[2018-07-23 19:43] Roasbeef commented on #1494
Rescans in master for historical spend dispatches are now async.

[2018-07-23 19:48] Roasbeef commented on #1603
Indeed, which is why it should likely be done by external programs. Several routing node operators already have scripts they use to rebalance their channels via the `sendtoroute` RPC call.

[2018-07-23 19:52] Roasbeef commented on #1599
Here's how we encode the failure messages: https://github.com/lightningnetwork/lnd/blob/master/lnwire/onion_error.go#L1080

The length of the message, then the internal message itself. This is encapsulated in the htlc fail message which has its own type.

The first thing in the buffer is the type of the error code itself: https://github.com/lightningnetwork/lnd/blob/master/lnwire/onion_error.go#L1

[2018-07-23 19:53] Roasbeef commented on #1599
We _always_ include the type as we use the same routine for encoding a regular channel update not encapsulated within an error message.

[2018-07-23 19:55] #1604 closed

[2018-07-23 20:12] Roasbeef commented on #1599
OK, so turns out that there's an ambiguity in the spec atm. It just says the length and then the channel update, without specifying the type itself.

[2018-07-23 20:15] robtex commented on #1603
i've discovered it is a bit early to do this though.

it would be helpful with better error-reporting on sendtoroute with specified channels on failures etc.

also i would love addition of timestamp and flags from msg258 in describegraph to better guess which intermediate channels are more likely to be active. the success rate for each attempt is very low today.

also all the htlc:s that are sent

[2018-07-23 20:24] robtex commented on #1599
i think we should always including the type.
including message type makes it flexible and easy to add other types instead of `channel_update` in the future.

[2018-07-23 21:00] slush0 commented on #1610
Seems related to #1571.

[2018-07-23 21:48] slush0 opened #1611 "Feature request: Add programmatic way of unlocking wallet"
### Background

Currently there's no easy way of unlocking wallet in automatic manner, making it hard to automate services for managing lnd. Although I understand passing passphrase over command line is not safe, reading passphrase over stdin or launching external command for fetching passphrase would make it possible.

### Expected behaviour

Starting lnd and unlocking wallet with passphrase from

[2018-07-23 21:58] wpaulino commented on #1607
This should be fixed by #1600.

[2018-07-23 22:16] cfromknecht commented on #1610
@vpecinka do you know if the sweep transaction is being broadcast? Has the problem persisted across restarts?

Can you try restarting LND and looking for these logs? The latter is probably returning an error
https://github.com/lightningnetwork/lnd/blob/master/utxonursery.go#L666
https://github.com/lightningnetwork/lnd/blob/master/utxonursery.go#L678

If you didn't initiate that payment, then someo

[2018-07-23 23:20] Roasbeef commented on #1574
In the short term, I'd lower that target as there aren't even that many active _listening_ nodes according to my crawler which currently feeds the DNS seeds.

Yeah so there's currently a hard coded limit of 10 pending channels at a time. If you have more channels than that pending, then it can't proceed opening more channels. That should ideally also be lifted into a configuration value.

Yeah the

[2018-07-23 23:22] Roasbeef commented on #1574
OK, just to recap (thanks again for the detailed investigation!) it appears the issue is due to having a very high-ish value for the number of max channels relative to the number of nodes that are actually listening on the network. In the short term, this can be mitigated by using a smaller value.

The actual bug seems to be that we should also further narrow out potential candidates by first doin

[2018-07-23 23:33] Roasbeef commented on #1599
We can't add other messages in the future (for these messages) as that would break the behavior of existing peers. It will need to be done in a new set of failure messages which includes the type. I agree that the newer messages should include the type just to make things explicit all the way through. Closing this for now as eclair also doesn't expect or write out the type there as it's implicit.

[2018-07-23 23:33] #1599 closed

[2018-07-23 23:37] Roasbeef commented on #1606
Which commit is the routing node on? Here's where we reject that at forwarding time: https://github.com/lightningnetwork/lnd/blob/master/htlcswitch/link.go#L1758-L1779

So we'll send back the amount below min there. It's a recent-ish change to move the checks to this section in the link itself.

[2018-07-23 23:40] Roasbeef commented on #1571
That last log is that a peer didn't finish the funding workflow in time, so we remove the funding reservation in order to free up those inputs. We'll only do this before the funding transaction itself has actually been broadcast/signed.

[2018-07-23 23:44] Roasbeef commented on #1611
There's an gRPC method: https://api.lightning.community/#unlockwallet
Also available over REST: https://api.lightning.community/rest/index.html#v1-unlockwallet

Yeah there's no way to "unencrypt" as it defers to on-disk encryption. The `--noencryptwallet` option actually just uses a hard coded key for the encryption, and atm also doesn't give you a mnemonic seed or anything like that.

[2018-07-23 23:45] Roasbeef commented on #1607
Yep, it'll be fixed by that issue. I can also tag on a fix to just keep going and compute the graph even if a node isn't actually found.

[2018-07-23 23:48] Roasbeef commented on #1609
I have several channels open with c-lightning nodes. Which lnd commit are you on? What does lnd respond with on its end?

[2018-07-23 23:49] #1607 closed

[2018-07-23 23:52] Roasbeef commented on #1610
Looking on chain, all outputs have been swept at this point. Is your lnd node still getting notifications from the chain backend? Are you using a bitcoind backend? If so, is it remote?

[2018-07-24 00:39] Roasbeef commented on #1605
Re-opening for now, as we're gonna go ahead and merge that linked PR as is. Atm, it only sends on channel closes, but at least paves the way to doing more in the future.

[2018-07-24 00:40] cfromknecht commented on #1610
I only see the first stage being confirmed, but the second layer sweep [hasn't shown up](https://www.smartbit.com.au/tx/6e6c6a744d6bbee760152751cfd2f1d89712f577434fd3720ce9b4941ed278cd), which seems consistent with the output in pendingchannels

[2018-07-24 00:46] #1132 closed

[2018-07-24 01:38] ZapUser77 commented on #1602
-_-   Why did you close the ticket?  This is still exactly as unclear as when I posted it.

I understand that you believe you're providing useful information.  But, you're providing what's I already found in the commands "help"... which was less than useless to someone who doesn't know how to find the format of the "queryroutes JSon".

I removed the channel ID's for security reasons.  And the abov

[2018-07-24 01:40] ZapUser77 commented on #1602
I'm trying to find the syntax.
Do I create a file?
Do I just do an excessively long command?  If so, what is the specific syntax?  How do I find the syntax of "queryroutes json".

[2018-07-24 01:49] Roasbeef commented on #1602
[code]

[2018-07-24 01:49] Roasbeef commented on #1602
You can use `queryroutes` to see what the syntax looks like. If you look above, there're three options: pass as a keyword arg, pass positionally, or read in from stdin.

[2018-07-24 01:51] ZapUser77 commented on #1602
-_-
I quoted the help in the original ticket... and said it was insufficient.
You quote the help... and tell me is.

I quoted the output of queryroutes.

I still have no idea what the syntax should be.

Can you *please* just give me the an example of what the command should be?

[2018-07-24 01:55] Roasbeef commented on #1602
If you don't know what JSON is, then I'm afraid I can't help you out here. I recommend you just experiment with the command and work it out. The issue tracker is for actual bug or requests related to the codebase, we can't walk you through from JSON to rebalancing.

[2018-07-24 01:57] ZapUser77 commented on #1602
Ok, Just tell me how to locate the format?  I've issued the command "Queryroutes".
Are you saying just use the output?
I don't need you to walk me through anything.  I'm just need *basic* syntax example... something that should be IN the help of the command itself.

[2018-07-24 02:02] Roasbeef commented on #1602
Yes, that is the output. The help statement explicitly denotes that the expected output.

[2018-07-24 02:09] ZapUser77 commented on #1609
LND
0.4.2

When I try to create a channel with blockstream: 02f6725f9c1c40333b67faea92fd211c183050f28df32cac3f9d69685fe9665432@104.198.32.198:9735

2018-07-24 09:06:51.774 [INF] FNDG: Initiating fundingRequest(localAmt=0.005 BTC, remoteAmt=0 mSAT, capacity=0.005 BTC, chainhash=000000000019d6689c085ae165831e934ff763ae46a2a6c172b3f1b60a8ce26f, addr=104.198.32.198:9735, dustLimit=0.00000573 BTC)
2018

[2018-07-24 02:14] Roasbeef commented on #1609
Ah ok, if you upgrade to master this had been fixed. Basically a new protocol feature that was flipped on by default by c-lightning after 0.4.2 came out.

[2018-07-24 02:14] #1609 closed

[2018-07-24 02:18] ZapUser77 commented on #1602
Why not just Say use the "queryroutes output syntax"?  I was looking for a .json file.

"The help statement explicitly denotes that the expected output." Only to those who are familiar with coding languages that use JSON.  Not every programmer is. Which is the entire point.

The point of the ticket is:
Please make it clear in the command help what the syntax should be.

[2018-07-24 02:42] ZapUser77 commented on #1609
Thanks.  Worked.

[2018-07-24 03:02] neogeno commented on #1236
I tested the latest code but was unable to get back any admin_macaroon when calling ChangePassword RPC with stateless init flag. I am using nodeJS and here is the JSON of the response {"admin_macaroon":{"type":"Buffer","data":[]}}

Also, I think for security reasons, if the user is changing the password, he doesn't ****necessarily **** want to keep the same macaroon file as if the user suspects hi

[2018-07-24 04:36] robtex commented on #1599
Definitely should avoid the channel, that is what i try to do.
But i find the output is unparseable until lnd makes a compatibility patch to parse the message if it does include the message type, and i don't think internal routing logic of lnd is able to avoid that channel either.
A patch to check length and skip the first two bytes should be quick and trivial to implement.

[2018-07-24 04:37] Roasbeef commented on #1599
So clightning is gonna be modified to exclude the length. lnd and ACINQ will keep their current behavior. The spec more or less says "the length of a channel update", not the "the length of a type and the channel update".

[2018-07-24 05:35] robtex commented on #1599
i assume you mean the opposite? they should exclude the type but keep the length?

since we seem to only have channel_update as message type in the errors now, it is trivial to support both versions in all implementation, and update the spec to say it *should* include the type.

after all that seems to be the consensus of what is really the best approach.

otherwise we would need to wait until the

[2018-07-24 06:40] robtex commented on #1605
regarding flapping, just [re]start a timer each time the status changes. when timer is up, it means the channel stopped flapping so it is safe to update the status.
timer could be like 10 minutes so it won't spam updates even if ppl upgrade their node.

[2018-07-24 07:04] halseth commented on #976
@blockchainsolutionshi You can add it after sync :)

[2018-07-24 07:11] vpecinka commented on #1610
@cfromknecht I would guess my lnd and bitcoind are working fine. Both run locally under same user. How or where else can I verify it receives notifications?

[code]

I also tried to restart LND, still having this pending channel.

[code]

Output of all logs I have now:

[code]

and for the second one:

[code]

For context, I have `minrelaytxfee=0` in my bitcoind.conf.

[2018-07-24 07:22] vpecinka commented on #1610
This unconfirmed balance is related? I didn't notice it before lnd restart, however, I'm not sure. Maybe it was there...

[code]

[2018-07-24 07:32] vpecinka commented on #1610
Here is all related to closing_txid `60ccda7151a4131abdc28c693342f48f0ecea667bbc56c8388f739cf2b26105b` in my logs, if it helps:

[code]

and also this multiline dumps:

[code]

and later one:

[code]

[2018-07-24 07:45] halseth commented on #1430
@jrwagh333 It is just the fee used for the pre-signed commitment transactions. Cannot be set manually at this point.

[2018-07-24 07:47] halseth commented on #1570
I think this should wait until #1467 is merged.

[2018-07-24 07:58] halseth commented on #1606
It will be this case: https://github.com/lightningnetwork/lnd/blob/e0baa4969035fc555b185d21acaa0b09aecdef6f/htlcswitch/link.go#L1058

Not sure why it is not caught by the check mentioned above before it gets to `channel.AddHTLC()`?

[2018-07-24 08:14] halseth commented on #1606
Looks like the channel constraints is never set properly in the link:
https://github.com/lightningnetwork/lnd/blob/e0baa4969035fc555b185d21acaa0b09aecdef6f/fundingmanager.go#L1052
https://github.com/lightningnetwork/lnd/blob/e0baa4969035fc555b185d21acaa0b09aecdef6f/peer.go#L1523

[2018-07-24 10:15] juscamarena commented on #1494
@Roasbeef http://paste.ubuntu.com/p/YwbkfxjsFt/

[2018-07-24 10:34] juscamarena commented on #1494
Here's some more logs, set Trace just for  LNWL but didn't show, setting system wide did unless I did the per subsystem setting wrong: https://paste.ubuntu.com/p/q7YpvndqjR/

[2018-07-24 10:50] cdecker commented on #1599
I thought we decided to standardize on including the type everywhere we have nested messages to make the length computation consistent with how we handle wire messages. We just allow the nested messages in an error to either be prefixed with a type or not.

@robtex if you rely on being able to parse the messages you can just check in your external script whether they have a type prefix or not.

[2018-07-24 10:52] cdecker commented on #1599
Like I said yesterday, I prefer adding some workaround that prefixes the type if it is not present in the short-term, if it allows us to achieve a better consistency in the long-term.

[2018-07-24 13:10] bob-333 commented on #1494
@Roasbeef It looks like that first transaction was pretty normal.

Here are the logs:

     LockTime: (uint32) 0
    })

    2018-07-21 19:22:59.842 [INF] LNWL: Inserting unconfirmed transaction 6bcca1c3bf04c2dcca722785823eb120ee97a90c7938d4ce21f3663a00fdd701
    2018-07-21 19:22:59.953 [INF] CNCT: Creating new ChannelArbitrator for ChannelPoint(6bcca1c3bf04c2dcca722785823eb120ee97a90c7938d4ce21f3

[2018-07-24 14:42] btcontract opened #1615 "Incorrect `final_incorrect_cltv_expiry` logic"
It seems like currently `FailFinalIncorrectCltvExpiry` is sent in wrong circumstances when `proposed_expiry - grace < chain_height`: https://github.com/lightningnetwork/lnd/blob/b0288d46773ac6d45e5dc4d5e6a80dd3034d0b9f/htlcswitch/link.go#L2150-L2164

While according to https://github.com/lightningnetwork/lightning-rfc/blob/master/04-onion-routing.md it should be sent when `The CLTV expiry in the H

[2018-07-24 14:43] btcontract commented on #1615
Found out when investigating https://github.com/btcontract/lnwallet/issues/77, that one is also suspicious but for different reasons.

[2018-07-24 15:09] robtex commented on #1599
@cdecker i would if i could. unfortunately i don't get the entire hexdump.
the workaround to use parsed channelid, shifting it left 16 bits and shifting in 16 bits from the parsed timestamp to fill it up seems a little bit too hackish in comparison to how easy it would be to make the decoder inside lnd skip two bytes when needed before decoding it, which would also benefit lnd:s own route prune lo

[2018-07-24 19:02] Roasbeef commented on #1599
Going forward yes, but since 2/3 have a current behavior, we decided clightning to switch over itself. Either way the rollout would be instant as most are still running on the tagged releases.

[2018-07-24 19:39] robtex commented on #1599
how about this
1) make a small patch for reading channel_update with or without type included in all implementations
2) clightning removes type temporarily so old lnd/acinq implementations can understand it
3) when we are confident most nodes run a version that can read the version with type included, we start adding it in all implementations

[2018-07-24 19:54] cdecker commented on #1599
So that implies this inconsistency would be dragged along indefinitely, and if we decided to clean up at a later point in time, we'd still need to add exactly the same code to handle both options, with the added bonus of now having a much larger install base.

[2018-07-24 21:49] Roasbeef commented on #1599
Sorry, that should read _wouldn't_ be instant.

There's no future clean up of the _prior_ messages due to the existing deployment of both lnd and acinq nodes. What I'm referring to is the _next_ version of the HTLC fail messages (for example dlog based htlcs, etc) that allows us to revise exactly what the payload is.

I'm just repeating what was decided on in the call: c-lightning is the minority

[2018-07-24 22:47] vegardengen opened #1616 "lnd does not finish starting all watchers in ChainArbitrator"
[lnd.log](https://github.com/lightningnetwork/lnd/files/2225725/lnd.log)
### Background

I decided to force close some old channels with peers I hadn't seen for a month or more. I force-closed 5 channels in total. About the same time, I noticed someone creating dust channel of 20k satoshi with me, so after having force-closed, but before anything was confirmed I guess, I restarted node to set a mi

[2018-07-24 23:11] Roasbeef commented on #1599
In the mean time, we can just parse both based on the length to bridge the gap a bit.

[2018-07-24 23:14] Roasbeef commented on #1615
Yeah looks like we should actually be sending `final_expiry_too_soon` here.

[2018-07-24 23:14] vegardengen commented on #1616
bitcoin@thundroid:~/log/lnd/bitcoin/mainnet$ lncli pendingchannels
{
    "total_limbo_balance": "921438",
    "pending_open_channels": [
    ],
    "pending_closing_channels": [
    ],
    "pending_force_closing_channels": [
    ],
    "waiting_close_channels": [
        {
            "channel": {
                "remote_node_pub": "0241cff95a87da9ca9b581b84ce2c15fb58a0879c951e6125ad2be04b12af8ff4

[2018-07-24 23:15] vegardengen commented on #1616
``bitcoin@thundroid:~/log/lnd/bitcoin/mainnet$ lncli pendingchannels
{
    "total_limbo_balance": "921438",
    "pending_open_channels": [
    ],
    "pending_closing_channels": [
    ],
    "pending_force_closing_channels": [
    ],
    "waiting_close_channels": [
        {
            "channel": {
                "remote_node_pub": "0241cff95a87da9ca9b581b84ce2c15fb58a0879c951e6125ad2be04b12af8f

[2018-07-24 23:18] Roasbeef commented on #1494
I see a ton of:
[code]

In that trace (over 500 instances), so that points towards an issue in the zombie reservation sweeper. If it unlocks outputs that are actually still in use, then this may lead to a double spend. However, since the transaction was inserted into the txstore, then these inputs should still be marked as unspent...

[2018-07-24 23:20] Roasbeef commented on #1606
Ahh, so we don't pass in those constraints when adding the link for a new peer? We should actually even persistently store the constrains for each link, as atm, users need to re-run all the updatechanpolicy code after each restart.

[2018-07-25 00:17] rustyrussell commented on #1599
OK, to be *absolutely* sure, I grabbed a decrypted `temporary_channel_failure` msg from c-lightning:

[code]

You can see here:
1. 1007: the type `temporary_channel_failure` (4103)
2. 0082: the length of the following field (130 characters)
3. 0102...: the channel_update message, starting with the type (258)

So, indeed, we include the type in the channel_update.  On our call @Roasbeef and Fabrice

[2018-07-25 00:43] wpaulino commented on #1616
@vegardengen, follow the [debugging docs](https://github.com/lightningnetwork/lnd/blob/master/docs/debugging_lnd.md#capturing-pprof-data-with-lnd) and post a goroutine dump of whenever you think the node is stuck.

[2018-07-25 02:11] lobsterpub commented on #1379
@mariodian did you ever figure this out?

[2018-07-25 03:30] mariodian commented on #1379
@lobsterpub nope. I haven’t figured out how to “properly” generate certificates. I’m on a dynamic IP and I’m not sure you can generate it for 0.0.0.0.

[2018-07-25 04:42] vegardengen commented on #1616
Well. After @Roasbeef said they would eventually finish, I decided to let it linger over the night.

It's now morning, 4 out of 5 pending channels has gone from waiting to pending.

[2018-07-25 04:54] vegardengen commented on #1616
To help catching this issue, I restarted with profiling. This is what is going on when it scans for the last channel close TXID (8 hours later)

[goprofile.log](https://github.com/lightningnetwork/lnd/files/2226513/goprofile.log)

[2018-07-25 05:51] readyforlnd opened #1619 "Unable to start lnd due to missing channel info"
### Background
Unable to start LND, tried patch described in Issue #1476 but it did not fix the issue.  Let me know if I can provide any more information to help.

2018-07-24 22:36:34.012 [INF] LTND: Version 0.4.2-beta commit=7cf5ebe2650b6798182e10be198c7ffc1f1d6e19
2018-07-24 22:36:34.012 [INF] LTND: Active chain: Bitcoin (network=mainnet)
2018-07-24 22:36:34.013 [INF] CHDB: Checking for schema u

[2018-07-25 06:16] Stadicus commented on #1379
The way to go is probably using a dyndns with a domain name. Then you can create the certs as I have documented here:

https://github.com/Stadicus/guides/blob/master/raspibolt/raspibolt_69_lncli-web.md#optional-certificates-for-remote-usage

[2018-07-25 06:49] guggero commented on #1236
@neogeno I'll have a look why it's not working on the weekend.

I'll implement an additional flag, something like `--new_mac_root_key` that changes the macaroon root key as well as the password. So the default would be to not change the key.

[2018-07-25 07:32] NicolasDorier opened #1620 "[Feature Request]: Show full node highest PoW chain height"
This way mobile wallet can show a progress bar without having to parse the logs.

[2018-07-25 07:36] NicolasDorier commented on #1620
Closing that, actually there is **facepalm**

[2018-07-25 07:37] NicolasDorier commented on #1620
Reopening actually what would be nice also is the block header height so we can have an idea of the advancement.

[2018-07-25 07:39] NicolasDorier commented on #1620
meh actually, can workaround ...

[2018-07-25 07:39] #1620 closed

[2018-07-25 07:42] robtex commented on #1599
the statement that lnd always includes the message type was a mistake and probably prior to your voice-communication.
according to my investigations neither eclair nor lnd includes the message, in reality only clighting currently does.
the consensus seem to be that it should be included in the future, and for now the implementations should support both versions, which i think is an excellent idea!

[2018-07-25 07:56] bockha commented on #1429
This  issue is no longer reproducible on my node using LNDs master branch.

[2018-07-25 07:56] #1429 closed

[2018-07-25 13:14] jpentland opened #1623 "Unable to open channel because "mempool min fee not met", channel still shows as pending."
### Background

Tried to open open a channel but it failed due to "mempool min fee not met". Channel still shows as pending.

### Your environment

* version of `lnd` : commit e0baa4969035fc555b185d21acaa0b09aecdef6f (mainnet)
* which operating system (`uname -a` on *Nix): Linux bitcoin-node 4.9.35-v7+ #1014 SMP Fri Jun 30 14:47:43 BST 2017 armv7l GNU/Linux (raspberry pi)
* version of `btcd`, `bit

[2018-07-25 14:13] jpentland opened #1624 "Feature request: dynamic host resolution to continually update external IPs"
### Background

Currently the advertised IP address can only be configured by either setting `externalip` at startup, or using the `nat` option to automatically retrieve the IP address. In cases where this fails there is currently no fallback option to allow the user to set the IP themselves at runtime.

### Solution

Add a command  `setaddr` to `lnrpc` that allows the user to modify the list of a