[2016-01-18 05:12] PaulCapestany opened #4 "Allow for error-free build via `go github.com/lightningnetwork/lnd/...`"
Not a big deal, but figured I might as well post this issue.

Currently the `uspv` package has these build errors:

[code]

Other than that, only other package build issues I think others would run into when trying to do a `go get` of the `.../...` variety is the `too many errors` flavor of error in `lnstate`

[2016-01-18 05:57] Roasbeef commented on #4
Thanks! I've fixed the build errors with [these](https://github.com/LightningNetwork/lnd/commit/8e54e0c3393971583c1b7a745dd4be897a29a954) [three](https://github.com/LightningNetwork/lnd/commit/872db633dfce6247a4f9f9d82a500a9ede495527) [commits](https://github.com/LightningNetwork/lnd/commit/8e54e0c3393971583c1b7a745dd4be897a29a954).

We'll have an automated [travis-ci](https://travis-ci.org/) buil

[2016-01-18 05:58] #4 closed

[2016-02-24 17:21] redsquirrel opened #9 "Curious: relationship to ElementsProject/lightning"
Just a Lightning newbie trying to wrap my head around the work that's going in this space.... What's the relationship between [lnd](https://github.com/LightningNetwork/lnd) and [ElementsProject/lightning](https://github.com/ElementsProject/lightning)? Thanks!

[2016-02-25 20:21] PaulCapestany commented on #9
@redsquirrel would be curious to hear if the ["Other Lightning Network implementations"](https://github.com/paulcapestany/lnd/tree/readme#other-lightning-network-implementations) section in PR https://github.com/LightningNetwork/lnd/pull/10/ helps answer your question?

[2016-02-25 20:22] redsquirrel commented on #9
@PaulCapestany I just read it, and it absolutely does. Thanks! :+1:

[2016-02-25 20:22] #9 closed

[2016-02-25 20:23] PaulCapestany commented on #9
Good stuff 👍

[2016-05-10 16:24] RCasatta opened #11 "Installing on Mac OS X"
For your reference I posting the error I am getting when trying to build on Mac OS X

[code]

[2016-05-23 20:59] Roasbeef commented on #11
Hi @RCasatta, I recently pushed a series of commits, along with updating the import paths and default branches on some of the in-progress remote branches we currently build against. These commits should have resolved the build issues.

Can you give building another shot, reporting back here with your findings?

[2016-05-24 08:09] RCasatta commented on #11
Hi @Roasbeef, now `go get` it's working but when i launch `lnd` I got:
[code]

[2016-07-06 21:49] cpacia opened #13 "uspv: race condition"
Hi all,

I've pulled out the upsv package and I'm working to beef it up hopefully to use in OpenBazaar. I'll report bugs as I find them but the first major one I've come across is transactions being sent by the remote peer before the merkle bock is processed.

`IngestMerkleBlock` parses the block and adds the txid to `OKTxids` and then `TxHandler` checks that txid exists in the map before ingestin

[2016-07-06 23:00] cpacia commented on #13
Ah ok just processing all the blocks in the same goroutine solves all the problems.

[2016-07-06 23:28] cpacia commented on #13
And it looks like this was my bug as I'm the one who stuck the goroutine in there :p.

Anyway if I find any more issues I will post here.

[2016-07-06 23:28] #13 closed

[2016-07-11 03:09] feeling4t opened #14 "Can Not connect to any peer in segnet4, Could I use other block chain?"
2016-07-07 12:07:22 dnsseed thread start
2016-07-07 12:07:22 Loading addresses from DNS seeds (could take a while)
2016-07-07 12:07:22 0 addresses found from DNS seeds
2016-07-07 12:07:22 dnsseed thread exit
.......
2016-07-07 12:08:23 Adding fixed seed nodes as DNS doesn't seem to be available.
2016-07-07 12:08:23 connect() to 37.34.48.17:28901 failed after select(): Connection refused (111)
2016

[2016-07-11 18:47] Roasbeef commented on #14
My local btcd node is still able to successfully connect to the segnet4 DNS seed. It has also been around since segnet was created, so its addrman is well populated. As a result I have no problem connecting to other nodes on segnet.

You might need to find/locate the address of an existing segnet node in order to bootstrap your bitcoind node.

Alternatively, you can use testnet as you suggested in

[2016-07-12 05:59] feeling4t commented on #14
@Roasbeef thank you, cound you give the ip address of some segnet node, or your peers.dat?

[2016-08-25 14:42] AndrewSamokhvalov commented on #14
@Roasbeef me too, andrew.shvv@gmail.com

[2016-08-26 01:30] Roasbeef opened #20 "Implement RPC Authentication"
Currently the RPC server is completely unauthenticated, responding to any and all requests sent to the server. Such behavior is fine for the current pre-alpha state the daemon is in, however future release should introduce a mechanism for authenticating privileged peers to the RPC server.

Two possible paths forward are first a simple _password_-based authentication mechanism, and a more advanced

[2016-08-26 01:31] Roasbeef opened #21 "Create a WalletController implementation for Bitcoin Core"
Within the daemon there exists an base-wallet interface called the `WalletController` which the `LightningWallet` uses in a composite manner to create a fully-fledged Lightning enabled wallet. The interface itself is rather minimal and should be able to accommodate easily dropping in an alternative wallet into the daemon.

The current, and only (at the time of writing this issue) concrete implemen

[2016-08-26 01:31] Roasbeef opened #22 "Fully integrate Onion Routing (Sphinx)"
[I originally proposed that we use Sphinx as a base of the onion routing within the network.](https://lists.linuxfoundation.org/pipermail/lightning-dev/2015-December/000384.html) I then created a working implementation of Sphinx which can be found [here](https://github.com/lightningnetwork/lightning-onion). Since then, Christian Decker has began [drafting an initial specification](https://lists.li

[2016-08-26 01:32] Roasbeef opened #23 "Finalize peer-to-peer encryption+authentication scheme"
Currently within the daemon, we use `lndc` for establishing an confidential+authenticated link with outgoing/incoming peers. The scheme implemented by `lndc` is very simple, based off of solely `ECDH` followed by a hash-based proof of identity.

 Ultimately, we should instead use an existing peer-review scheme for our enc+auth protocols. One such scheme which looks promising is [Noise](http://nois

[2016-08-26 01:33] Roasbeef opened #24 "Switch to using internal packages in several areas"
Many of the currently exported packages within `lnd` likely aren't' meant for public consumption. Therefore we may want to investigate switching to using [internal packages](https://docs.google.com/document/d/1e8kOo3r51b2BWtTs_1uADIA5djfXhPT36s6eHVRIvaU/edit) for these packages. Internal packages cannot be consumed by code _outside_ this repo, but is visible to all packages _within_ the repo.

Pac

[2016-08-26 01:33] Roasbeef opened #25 "Figure out packaging for language-specific gRPC libs"
gRPC allows us to easily create fully complete libraries within the list of supported languages using the `protoc` compilation tool. Currently the compiled protos for `Go` reside within the `lnrpc` package. After the beta release, we should provide pre-compiled code for various other languages in order allow developers to easily start to experiment/develop against the API without having to install

[2016-08-26 01:33] Roasbeef opened #26 "Use semaphores to limit goroutine concurrency within the daemon"
There a several areas within the daemon where a goroutine is launched to asynchronously complete a task. Currently the deployment of such goroutines is _unbounded_. Semaphores should be added to various areas in order to control the level of concurrency dedicated to these outstanding async requests.

Grepping for "semaphore" wtihin the repo yeids:

[code]

In golang a simple semaphore can be creat

[2016-08-26 01:33] Roasbeef opened #27 "Add incremental update notifications within ChainNotifier"
The current gRPC API for both opening and closing transactions allows for the initiator to receive notifications with progress updates. These updates may indicate that the channel has `N` confirmations left before it can be considered open or closed. Such updates may be useful for rendering UI updates, or prioritizing resources within larger applications that build a layer above LN.

In order to i

[2016-08-26 01:34] Roasbeef opened #28 "Adhere to max-weight limits within LCP state machine"
Currently within the [commitment update state-machine](https://github.com/lightningnetwork/lnd/blob/master/lnwallet/channel.go) all HTLC adds are accepted. This is an issue since the addition of a new HTLC may push the commitment transaction over the consensus enforced weight (formerly called cost) limit for transactions (4,000,000). An additional factor to be considered is the weight of a future

[2016-08-26 01:38] Roasbeef commented on #11
The daemon currently requires an active instance of my [`btcd` fork](https://github.com/Roasbeef/btcd) to operate. In the near future we'll be integrating the SPV wallet within the repository which will remove that dependancy.

[2016-08-26 01:42] Roasbeef commented on #14
For the most part, segnet is pretty much dead at this point. I've switched over primarily to using a local instance of `simnet` instead.

Now that Bitcoin Core has released version 0.13, there should be more segwit enabled peers on testnet now, so I'd recommend running the daemon in testnet mode for now. The daemon can be switched over to testnet mode by passing the `--testnet` flag on the command

[2016-08-26 01:46] Roasbeef opened #29 "Add RPC to show current total available channel capacity"
An RPC should be added, similar to `walletbalance` which shows the total available payment bandwidth across all open channels.

Steps to complete this issue:

- Add a new proto defintion to `lnrpc/rpc.proto`.

- Use the `gen-protos.sh` tool to re-compile the latest definitions.

- Implement the `channelbalance` RPC within the rpcServer. This will involve obtaining channel snapshots from all the pe

[2016-08-26 01:52] Roasbeef opened #30 "Fully update channel meta-data during state updates"
Currently within the state machine `lnwallet/channel.go`, only the current settled balances are updated before committing the channel to disk. Ultimately, the other fields such as sat/sent received, total fees paid, etc, should be updated as well.

[2016-08-26 01:55] Roasbeef opened #31 "Add support for positional arguments to lncli"
Currently, `lncli` (`cmd/lncli`) only support fully specifying each argument for each command. This parsing should be extended to also allow positional arguments, and also combo of positional+keyword arguments.

[2016-08-26 02:06] Roasbeef opened #32 "Only allow a single pending channel per-peer"
Currently the `fundingManager`, and the `rpcServer` will happily allow either a caller or remote peer to create multiple pending channels at a time. This behavior should instead be restricted to only allow a single pending channel at a time per-peer. Such a constraint acts as a defense against a slow-loris like DoS attack wherein a peer creates hundreds of thousands of pending channels, never inte

[2016-08-26 18:24] AndrewSamokhvalov commented on #29
I will try to do this one.

[2016-08-27 14:26] AndrewSamokhvalov commented on #29
Hi @Roasbeef, @T909!

I have a questions:
1. Do we have tests for RPC functions?
2. Do we have the way test RPC functions like "WalletBalance" without running BTC node?

[2016-08-30 05:37] Roasbeef commented on #29
Hey @AndrewSamokhvalov,

Great questions! I've just finished some work I prioritized to streamline the process of both automatic, and manual testing within the daemon.

1. With [this commit](https://github.com/lightningnetwork/lnd/commit/2032723efcc3f11c2028556141e2df75008e5c6a), I added a small framework which is useful for the creation of integration tests. There's a basic example here which jus

[2016-08-30 16:44] AndrewSamokhvalov commented on #29
I don't know how, but sometimes test `TestLightningNetworkDaemon` isn't working.
[code]

Looks like channels not initialized properly, or maybe more time is needed, so:

[code]

[2016-08-30 18:46] Roasbeef commented on #29
Hmm yes it seem the test occasionally run into timing issues. Currently, once Alice learns of the channel, she then asynchronously notifies Bob that it's now open. IF the timing of the execution within the tests is off, then it may be possible that Alice has learned of the channel, but Bob is still waiting on Alice's signal.

I'm currently working on adding some additional asynchronous events cons

[2016-08-31 02:51] Roasbeef commented on #29
Heya,

I've pushed a few commits which make the current `networkHarness` and the current example test much more robust. All the `time.Sleep`'s have been removed so execution is much quicker, and the tests are "tighter" since they consume async requests from the daemon rather than just executing and hoping the timing works out correctly.

As a result of the new async "status update" functionality,

[2016-09-06 07:38] AndrewSamokhvalov commented on #29
Hi @Roasbeef , sorry for delay, are tests in `master` branch working for you? If no, any chance that tests will be repaired in near future? Just need a way to understand that I didn't break anything :)

[2016-09-06 17:58] Roasbeef commented on #29
The tests work fine for me on the master branch locally (other than a failing test in `lnwire` which is fixed by an outstanding PR).

I still need to investigate that re-occurring failure in Travis. My current hunch is that the underlying `rpctest` package from `btcd` that's being used doesn't currently account for parallel multi-process execution. I need to add something along the lines of a file

[2016-09-06 19:08] Roasbeef commented on #29
OK, Travis is now green 💚.

There was a lingering race condition which I've fixed in the latest series of commits to master.

[2016-09-07 09:00] AndrewSamokhvalov commented on #29
@Roasbeef Yep, thanks

[2016-09-09 16:04] AndrewSamokhvalov commented on #29
@Roasbeef Could we read the logs from test node? When I test `channelbalance` over RPC I am getting this `lnd_test.go:158: unable to get channel balance: rpc error: code = 13 desc = transport is closing`, looks like I have runtime error on btc node side, but can't find a way to read logs or insert `log.Print()` properly to understand what is going wrong.

[2016-09-10 15:39] AndrewSamokhvalov commented on #29
@Roasbeef I found temporary [solution](http://stackoverflow.com/questions/8875038/redirect-stdout-pipe-of-child-process-in-golang), but maybe there is better way.
go```
cmd := exec.Command("ls", "-l")
cmd.Stdout = os.Stdout
cmd.Stderr = os.Stderr
[code]

[2016-09-10 20:16] Roasbeef commented on #29
Yeh, locally I would do something along those lines when debugging the integration tests.

I think that ability should be made accessible to test authors, so just pushed a commit (https://github.com/lightningnetwork/lnd/commit/d2acb4336ce35b6961b1ae5bb023d7cd29510971) which adds the ability to dump the logs of a particular node at any point in the tests.

[2016-09-14 11:42] AndrewSamokhvalov commented on #32
I will try to do this one.

[2016-09-15 18:59] #29 closed

[2016-09-22 03:03] Roasbeef commented on #22
As of these two commits: https://github.com/lightningnetwork/lnd/commit/e1b82566bd2f8fd6e491c26e15f05813e8a3cfe3 + https://github.com/lightningnetwork/lnd/commit/e29d8e7e060fd4ed1d4d75f8b97e8a454fb7d7b7 multi-hop onion routing using Sphinx is now fully integrated within the daemon. The only lingering item within this issue is to integrate the latest changes to the underlying Sphinx packet construc

[2016-09-22 16:51] AndrewSamokhvalov commented on #28
@Roasbeef Could you elaborate please what "future stealing transaction" mean?

[2016-09-26 19:42] Roasbeef commented on #28
By "stealing transaction" I mean the transaction(s) that sweep any rightfully owned outputs into the node's wallet after a unilateral/uncooperative channel closure directly on-chain. In this scenario there may be zero (no HTLC's, they broadcasted) or many outputs (fully loaded commitment tx with many HTLC's) to sweep depending on who broadcasted the commitment transaction, and if it's the most up-

[2016-09-26 20:20] AndrewSamokhvalov commented on #28
@Roasbeef Wow! Thanks for such detailed response!

[2016-09-28 12:50] AndrewSamokhvalov opened #38 "Change 'sendcoins' error message"
When I tried to move bitcoins from `p2pkh` address to `p2wkh`, I found that our decode method can't recognise `p2wkh` address format.

[code]

[2016-09-28 15:15] AndrewSamokhvalov commented on #38
Sorry, my fault,all works fine. But maybe we should change error message?
[code]

[2016-09-28 22:48] Roasbeef commented on #38
Nice, happy you figrued it out in the end.

Yeah, the error message there isn't very accurate. It's attempting to decode an address of `""`(empty string), which causes the command to fail.

This is closely linked to #31 which proposes adding support for _positional_ arguments in addition to the currently supported key word arguments. As a stop gap, some preliminary sanity checks can be added to al

[2016-10-03 19:20] AndrewSamokhvalov commented on #28
* As far as I understand, correct me if I am wrong, the weight of the final transaction consist of  two parts:
* Initial commitment transaction (`OurCommitTx`) is generated during channel creation, and its size isn't  changing during life of the channel, so we may calculate size once and then use as base size, lets call it `initialCommitmentSize`.
* The size of the unsettle `htlc` multiplied by it

[2016-10-04 17:50] BitfuryLightning opened #41 "Move routing tools directly into lnd"
Steps:
1. Check that all needed functionality is inside tools (neighbors, beacons, path finding)
2. Get rid of gob in message serialization
3. Put tools into latest lnd master

[2016-10-04 17:50] BitfuryLightning commented on #41
Steps 1,2 implemented. Now working at 3.

[2016-10-04 17:52] BitfuryLightning opened #42 "Add module for collecting message statistics"
Total number, min/max average size for each type of message. This may be useful for determination of routing performance for different routing options.

[2016-10-04 17:53] BitfuryLightning opened #43 "Make routing options configurable from command line"
Currently, they are hardcoded.

[2016-10-04 17:54] BitfuryLightning opened #44 "Make routing table persistent"
Currently routing table is lost when lnd is restarted.

[2016-10-18 23:15] Roasbeef commented on #14
Closing this issue as testing has now primarily moved onto `Testnet3`.

[2016-10-18 23:15] #14 closed

[2016-10-20 22:55] Roasbeef commented on #23
The initial scheme has now been implemented and resides within the `brontide` package. However, the daemon still currently uses `lndc` for p2p connections. Once I make the switch over this issue will be marked as resolved.

After closing this issue, the next step is a formal write up of the handshake and cipher scheme used within `brontide`.

[2016-10-21 00:12] Roasbeef opened #48 "Clearing and settling of HTLC's below the dust limit"
When adding an HTLC to a commitment transaction, care must be taken to ensure that the HTLC value isn't _below_ the dust-limit. If so, then either party may find themselves in an undesirable situation wherein their current commitment transaction isn't relayed nor accepted by nodes on the network due to the policy around dust-limits.

Therefore, the logic around accepting/forwarding/clearing HTLC's

[2016-10-21 01:32] Roasbeef opened #49 "Graceful cooperative channel closure"
Currently cooperative channel closure assumes that there are no _outstanding_ HTLC's before closing. This is a naive assumption in practice and can result in a potential loss of funds for one side due to a "vanishing" HTLC.

Instead, once a cooperative channel closure has been initiated, both side should wait until the channel has been "drained" before proceeding with the final closure process (wi

[2016-10-21 02:10] Roasbeef opened #50 "Add database versioning"
Currently, there isn't an upgrade mechanism in place within the database which makes the current schema rigid and upgradeable. To remedy this, a new bucket should be added to the database (`metaBucket`) which stores key that house meta-data related to the current/version state of the database.

The `createChannelDB` method should be modified to create this new bucket+key during initializing. In a

[2016-10-21 02:24] Roasbeef opened #51 "Implement the temporary IRC discovery mechanism"
As a stop-gap, and to force us to migrate to something else in the future we decided at the Lightning Summit to temporarily use IRC as a discovery mechanism for nodes on the network. Additionally, things like identity key rotations, or changes in the total capacity of a channel are to be advertised over IRC in the format initially defined within the spec.

Christian Decker is currently working to

[2016-10-21 02:31] Roasbeef opened #52 "Dynamic Commitment Fees"
Currently there's a hard-coded fee of 5k satoshis on the commitment transaction. This sufficed for initial tests but needs to be made dynamic for real-world use in order to maintain the invariant that the current commitment transaction is able to be included in the next block.

In the Lighting Summit, we agreed that for now the initiator pays all fees on the commitment transaction. Therefore any a

[2016-10-21 02:47] Roasbeef opened #53 "Improve re-organization safety"
Currently within the daemon re-orgs are mostly *unaccounted* for w.r.t to channel operation.

There are two cases that need to be accounted for:

1. We're waiting for a channel to open, and a "negative" confirmation takes place possibly re-orging out the funding transaction.
2. The channel is currently active, and the funding transaction gets re-orged out.

[2016-10-21 03:19] Roasbeef opened #54 "Ensure notifications are reliably dispatched"
Within the daemon, proper dispatch and handling of events/notifications can be crucial in order to ensure that funds aren't lost/suspended due to a missed event.

Currently in the default implementation of the `ChainNotifier`, any events which are registered but not dispatched are lost during restarts as they're only persisted in memory. In order to reconcile this, a _persistent_ notification queu

[2016-10-21 04:03] Roasbeef opened #55 "Optimize on-disk channel state transition updates"
Currently as implemented within `bolt` both appending to the revocation log for the counter-party and updating our "best state" for the current channel are done in distinct database transactions. As a result, due to bolt's single-writer model, only a single channel can be updated at a time. In this format, on-disk updates have the potential to be the bottle-neck during concurrent channel updates.

[2016-10-21 05:12] Roasbeef opened #56 "Implement link-layer channel payment fragmentation"
The daemon currently support open/closing and conducting payments over several channels per-peer. However, link-layer payment fragmentation has yet to be implemented.

Link-layer payment fragmentation arises when an HTLC is to be forwarded on an out-going interface, but neither of the links (channels) have sufficient capacity. In order to clear+settle the payment, the payment hash may have to be d

[2016-10-21 05:18] Roasbeef opened #57 "Make channel initialization paramters configurable"
Currently all channels are created with exactly the same hard-coded values for the channel initialization parameters. These values should instead be placed within the `lnwallet.Config` struct and parsed accordingly within `lnd`, ultimately threading the values into the wallet.

[2016-10-21 05:32] Roasbeef opened #58 "Add obfuscated state-hints to commitment transactions"
A combination of the `sequence` and `lockTime` fields within the commitment transaction can be used to compactly encoded the current height of a particular commitment transaction. With such a state-hint, if a prior transaction is broadcast by counterparty then the necessary revocation hash/key can be located in constant-time. State-hints save us from performing linear scans through the stored revo

[2016-10-21 05:36] Roasbeef opened #59 "Update commitment transaction design to support blinded outsourcing"
At the Lightning Summit, we decided to switch the design of the commitment transaction's to support the proposed blinded channel outsourcing scheme. The commitment transaction itself, the secrets generated as part of a new channel, the funding workflow messages, and the channel state-machine itself need to be updated as a result.

[2016-10-21 05:48] Roasbeef opened #60 "Implement reservation zombie sweeper"
Currently within the wallet's `ChannelReservation` workflow any reservation which are partially started but not ultimately completed are never cleaned up, meaning the allocated resources will be active until a daemon restart.

A "zombie sweeper" goroutine should be added which manually cancels reservations which haven't progressed for a certain "idle" period of time.

[2016-10-21 05:52] Roasbeef opened #61 "Re-write wire protocol implementation to specification"
https://github.com/lightningnetwork/lightning-rfc/blob/master/01-messaging.md

[2016-10-21 06:07] Roasbeef opened #62 "Switch to using channel short_id's within the p2p protocol"
The current specification draft refers to channels globally via a short identifier rather than the full channel point (utxo). The rationale for the switch lies in the space savings on the wire when advertising new channels as well as within the nested-header for message which update the channel state (add/settle/cancel htlcs, update state, close, errors).

The short ID format is as follows:
- `blo

[2016-10-21 06:15] Roasbeef commented on #49
The spec will be fashioned after this section in the current lighting-rfc's: https://github.com/rustyrussell/lightning-rfc/blob/master/bolts/02-wire-protocol.md#4-channel-close

[2016-10-21 06:20] Roasbeef opened #63 "Switch to 2-layer HTLC's"
Switch HTLC structure back to the format which was originally in the paper.

See: https://lists.linuxfoundation.org/pipermail/lightning-dev/2015-November/000339.html

[2016-10-22 22:37] Roasbeef commented on #32
Fixed by #36.

Closing.

[2016-10-22 22:38] #32 closed

[2016-10-26 13:08] AndrewSamokhvalov commented on #50
I will grab this one

[2016-10-27 16:00] AndrewSamokhvalov commented on #60
will take this one

[2016-10-28 02:53] Roasbeef commented on #23
Closing this issue now as ab97d9693fccd9c57364c123cfdbfc7da1d8abc implemented the new p2p crypto scheme, and 422336480e05ae7f71e8df209b341a5ff480be17 + 4fe23a8b3e0cc81bbbdf9944a7d137029f1723c2 replaced the prior scheme with `brontide` within the daemon .

[2016-10-28 02:53] #23 closed

[2016-10-28 03:41] Roasbeef commented on #22
As of f37956e38e37804aca75238ece9b65eca06cf11f, the daemon now meets the Sphinx V1 specification.

Closing this issue.

[2016-10-28 03:41] #22 closed

[2016-10-31 21:46] Roasbeef opened #68 "Automatic RPC configuration for btcd"
Currently, when setting up `lnd` users are required to manually enter the RPC credentials for `btcd`. This can be a bit cumbersome and makes setting up `lnd` initially a bit clunky.

As an enhancement alternative, `lnd` can attempt to lookup the app data directory for `btcd` and parse out the current RPC credentials. The daemon would then default to this route for automatically configuring the `bt

[2016-11-07 23:22] jackzampolin commented on #68
Looks like this is already implemented? https://github.com/lightningnetwork/lnd/blob/master/config.go#L38

[2016-11-07 23:45] Roasbeef commented on #68
Nice eye! However, that section only _partially_ implements what I briefly lined out in this issue.

What you pointed out is the section where we automatically read btcd's RPC certs which are required for the JSON-RPC's established TLS connection. The missing compontent is to also parse out the _user authentication_ information from the `btcd.conf` which is found in the `btcdHomeDir` folder.

Once

[2016-11-08 01:21] Roasbeef commented on #44
I've started a branch locally for this.

[2016-11-16 20:55] #58 closed

[2016-11-18 17:38] AndrewSamokhvalov commented on #48
will take this one

[2016-11-18 23:47] bryanvu opened #73 "Document required versions of protoc-gen-go, grpc, protoc"
In order to generate and compile the protobufs in lnrpc (using gen_protos.sh), versions of protoc-gen-go and grpc must be compatible. This should be rarely encountered, but will be necessary for developers looking to extend the lnd rpcs.

protoc-gen-go at commit df1d3ca07d2d07 is compatible with grpc version 1.0.0, as both use support package version 3.

protoc-gen-go at commit 8ee79997227b is com

[2016-11-18 23:58] bryanvu opened #74 "Document or change installation location for grpc-ecosystem"
In order to generate new protobuf files using lnrpc/gen_protos.sh, the grpc-ecosystem repo must be cloned into $GOPATH/src/github.com.

Alternatively, the include path in gen_protos.sh could be changed to point to $GOPATH/src/github.com/lightningnetwork/lnd/vendor/github.com.

[2016-11-19 17:54] AndrewSamokhvalov commented on #48
Opened the [spec issue](https://github.com/lightningnetwork/lightning-rfc/pull/9) regarding this task.

[2016-11-22 20:57] #30 closed

[2016-11-22 21:25] Roasbeef commented on #50
Closed by #64.

[2016-11-22 21:26] #50 closed

[2016-11-23 01:40] Roasbeef opened #75 "ChainNotifier should consult historical data to check if ntfn can immediately be dispatched"
## Issue
Currently within the `ChainNotifier`'s notification system, a subtle race-condition can cause a notification to never be dispatched.

A scenario which can lead to a "zombie" notification is as follows:

 * A request is sent to be notified once a certain `txid` reaches a confirmation
 * Before the `ChainNotifier` receives the request, a block is connected to the main-chain which confirms t

[2016-11-23 02:17] Roasbeef opened #76 "Add pure p2p implementation of the ChainNotifier interface"
## Issue
Currently, the only concrete instantiation of the `ChainNotifier` interface is `BtcdNotifier` an implementation which relies on a websockets connection to btcd's RPC interface. In the future we'll be adding an implementation/modifying the `WalletController` and related interfaces into implementations that don't necessarily speak to a `btcd` full-node directly over the RPC interface. One s

[2016-11-23 02:41] Roasbeef opened #77 "Replace elkrem with shachain throughout wallet"
## Isssue
Currently within the codebase, `elkrem` is used as a revocation tree to derive the revocation hashes we use during the commitment updates. In the current draft of the spec, `shachain` is used instead as it's a bit more efficient and is a bit more generalized.

There's currently a `shachain` package within the project, however it is incomplete and doesn't have any tests .

## Steps to Com

[2016-11-23 03:07] Roasbeef opened #78 "Creates invoices for payments we've sent"
## Issue
Currently within the daemon, we keep records of all payments we've requested and fulfilled successfully. The code for this lives in [`channeldb/invoices.go`](https://github.com/lightningnetwork/lnd/blob/master/channeldb/invoices.go) and also within the [`invoiceregistry.go`](https://github.com/lightningnetwork/lnd/blob/master/invoiceregistry.go). With this code in place users/merchants/ex

[2016-11-23 03:32] Roasbeef opened #79 "Implement error message wraping/encryption and decryption"
Cross-tracking here, see lightningnetwork/lightning-onion#4

[2016-11-23 03:52] Roasbeef opened #80 "Persist active onion circuits before forwarding"
## Issue

Currently within the daemon, the `htlcSwitch` manages the teardown/setup of [onion-circuits](https://github.com/lightningnetwork/lnd/blob/master/htlcswitch.go#L66) generated during the forwarding of multi-hop payments. However, as implemented currently, a well timed daemon restart may lead to possibly loss of funds. This is due the fact that the onion circuits are currently kept in [vola

[2016-11-23 04:23] Roasbeef opened #81 "Implement proper HTLC failure within the htlcSwitch"
## Issue
Currently within the `htlcSwitch`, handling forwarding failures aren't properly implemented. In case of any of the errors described below forwarding will either fail silently, trigger an error, lead to an invalid commitment state, or a "stuck" HTLC.

## Steps to Completion

The following error cases need to be properly handled:

* The outgoing interface/link for an HTLC sent over the `htl

[2016-11-23 04:26] Roasbeef opened #82 "Add new "queryroute" RPC method"
A new RPC should be added called `queryroute` or `findpath` (something along those lines). The RPC should query the `routingManager` for a potential path to a particular `pubkey` (a node on the network). The RPC should also factor in channel capacity information (as flows may be insufficient).

[2016-11-23 04:33] Roasbeef opened #83 "Convert signatures sent over the wire to a bare 64-byte encoding"
## Issue

Currently within the codebase, signatures are sent over using Bitcoin's DER encoding. Within the current spec draft, signatures instead are sent using only `64-bytes` meaning the `R` and `S` values are sent over as raw big-endian integer values.

## Steps to Completion

In order to conform to the spec, the `lnwire` package should be modified to encode signatures as `64-bytes` rather than

[2016-11-23 04:41] Roasbeef commented on #51
Will be fixed by #72

[2016-11-24 02:02] Roasbeef commented on #28
Closed by #46.

[2016-11-24 02:03] #28 closed

[2016-11-24 02:38] Roasbeef commented on #41
Closed by #70.

[2016-11-24 02:38] #41 closed

[2016-11-27 17:12] AndrewSamokhvalov commented on #77
will take this one

[2016-11-27 20:52] bryanvu commented on #83
Will take this one.

[2016-11-28 14:46] BitfuryLightning commented on #78
Will take this one.

[2016-11-29 00:13] aakselrod commented on #83
I'll take this one; @bryanvu is aware.

[2016-11-29 00:15] aakselrod commented on #20
I'll take this one; will continue discussions with @Roasbeef on macaroon implementation.

[2016-12-05 20:40] aakselrod commented on #83
Opened PR #86 to resolve this issue.

[2016-12-05 23:51] BitfuryLightning commented on #78
Some initial work
https://github.com/lightningnetwork/lnd/pull/88

[2016-12-08 20:32] Roasbeef commented on #75
Closed by #85.

[2016-12-08 20:32] #75 closed

[2016-12-08 20:56] #83 closed

[2016-12-12 20:31] AndrewSamokhvalov commented on #81
will take this one

[2016-12-13 19:01] #48 closed

[2016-12-15 05:47] mkl- commented on #80
Will take this one.

[2016-12-15 05:55] BitfuryLightning commented on #79
Will take this one.

[2016-12-28 00:16] #78 closed

[2016-12-28 00:48] #82 closed

[2017-01-03 00:02] Roasbeef commented on #44
Fixed in e327ffe9543bc8f8e73eeb62362ed741a7c54753.

[2017-01-03 00:02] #44 closed

[2017-01-03 00:03] #38 closed

[2017-01-03 00:03] #11 closed

[2017-01-05 05:00] aakselrod commented on #20
# Background on Macaroons

Macaroons are described by the paper [Macaroons: Cookies with Contextual Caveats for Decentralized Authorization in the Cloud](http://theory.stanford.edu/%7Eataly/Papers/macaroons.pdf). In essence, they are bearer tokens issued by a target service (in our case, `lnd`) with restrictions (called caveats) describing what actions the bearer of the macaroon may be allowed to

[2017-01-09 07:20] takaya-imai opened #96 "Can not open a channel"
I try to open a channel but I got an error. How could I open a channel?

[code]

That invalid address or key "QWyyAQGXe8mCbnFSY6nbM9jEqULb4Qj3vVfR" appeared as error in log file.

[code]

[2017-01-10 03:52] Roasbeef commented on #81
Closed by 6bd0e068c6653bc7d17bb26b3a74f644d4aa040e.

[2017-01-10 03:52] #81 closed

[2017-01-10 03:54] Roasbeef commented on #96
Are you running the `btcd` and `lnd` using testnet or simnet? It looks like `btcd` received an addresses from a different chain that the one it's operating on.

I've recently pushed some modifications which remove the `remote_amt` field as currently in the wire protocol only single funder transactions are supported. However, I've also added a `push_amt` option whcih allows you to push some funds t

[2017-01-13 23:52] AndrewSamokhvalov commented on #80
will take this one

[2017-01-14 11:46] takaya-imai commented on #96
@Roasbeef, Thanks for your response.

testnet3
simnet is necessary?

[2017-01-14 13:29] AndrewSamokhvalov commented on #96
Hello @takaya-imai! First of all thank you for dedicating your time on `lnd`!

I don't want you to be bored and until @Roasbeef is there I want suggest you to try slightly different approach - use `simnet` for first time. The result in this case should be more deterministic. After that I believe that you will feel more confident with usage of `lnd`. We have an article about ["How to create lightni

[2017-01-14 20:46] Roasbeef commented on #96
@takaya-imai nope, you can run on `testnet3. If you update your local version of my [btcd fork](https://github.com/roasbeef/btcd), then you should be able to bring up `lnd` can connect out to the rest of the network.

[2017-01-15 07:59] takaya-imai commented on #96
@AndrewSamokhvalov, Thanks.

The article is a good one!

[2017-01-15 08:39] takaya-imai commented on #96
@Roasbeef, I try to install your btcd fork but I got the following warning messages.
How do I install your btcd fork? This warning is not critical one?

[code]

[2017-01-15 11:38] Roasbeef commented on #96
@takaya-imai those logging messages aren't critical. That's just `glide` printing some verbose logging describing what it's doing at each step.

[2017-01-16 09:01] aantonop opened #105 "Unable to synchronize wallet to chain: -5: Rescan address QWz2S3yUGE79RHoeSfWymDtBY1cpnHPATnaK: decoded address is of unknown size"
Getting an error when lnd starts

I am also getting an RPC error if I try to sendcoins from my p2pkh address to my np2wkh witness address:

lnclisendcoins --addr=2N5ZbCJjzrtC69Rwim4vAMtUVZ4x41yaAJV --amt=2000000
rpc error: code = 2 desc = -5: Invalid address or key: QWzEMQt8gbCA4UwWgzwnRYsLGY3gVoU2tGfU

Not sure if these two errors are related, but they are both about invalid address/key.

I tried

[2017-01-16 09:47] AndrewSamokhvalov commented on #105
Hi @aantonop, glad to see you there!

Could you be more specific with error which you are getting while `lnd` start?

[2017-01-16 09:49] aantonop commented on #105
Here's the log showing the first part of LND's startup sequence. LND starts successfully, but there's that strange error in the logs and then I can't sendcoins:

15:57:54 2017-01-16 [INF] LTND: Version 0.1.0-alpha
15:57:56 2017-01-16 [INF] LNWL: Opened wallet
15:57:58 2017-01-16 [INF] LTND: LightningWallet opened
15:57:58 2017-01-16 [DBG] LTND: Adding debug invoice (*channeldb.Invoice)(0xc8204de30

[2017-01-16 10:34] takaya-imai commented on #96
@Roasbeef I got errors after `go install . ./cmd/...` like [error.txt](https://github.com/lightningnetwork/lnd/files/708028/error.txt).

So I executed the followings to build your btcd fork.

[code]

[2017-01-16 10:35] AndrewSamokhvalov commented on #96
Hello @takaya-imai! Seems, that you forgot to do `glide install`.

[2017-01-16 11:00] AndrewSamokhvalov commented on #105
@aantonop From quick review it seems that for some reason `btcwallet` can't recognise `segwit` `p2wkh` addresses. The reason for that might be wrong version of `btcwallet`. Will try find something else.

[2017-01-16 11:12] AndrewSamokhvalov commented on #96
@takaya-imai I edited previous comment, hope it helped you!

[2017-01-16 11:16] takaya-imai commented on #96
@AndrewSamokhvalov thanks for useful command `go get -u -v github.com/roasbeef/btcd/...`.

I try again to install [roasbeef/btcd](https://github.com/roasbeef/btcd) then no errors appear... It might that I had a bad environment.

[2017-01-16 11:19] aantonop commented on #105
Was running wrong version of btcd, the non-segwit version. Not sure how but
both got installed and I symlinked the binary of the wrong one.

Fixed now, thanks

On Mon, Jan 16, 2017 at 6:00 PM, andrew.shvv <notifications@github.com>
wrote:

--
Andreas M. Antonopoulos
andreas@antonopoulos.com
Tel: +1 347 744 9404

[2017-01-16 11:20] #105 closed

[2017-01-21 10:56] tompre commented on #31
I would take this one.
I also have some ideas for bash completion for pubkey or channel ids.
Whats your take on that?

[2017-01-21 13:16] #96 closed

[2017-01-22 15:16] cpsola opened #112 "panic: runtime error when trying to establish a new channel"
When trying to create a new channel with the [testnet LN faucet](http://faucet.lightning.community/), I get this error:

[code]
The error seems to appear when the opening transaction is confirmed.

I'm using docker containers created from the Dockerfiles in this repo.

[2017-01-22 15:18] AndrewSamokhvalov commented on #112
@cpsola what version of `lnd` are you using?

[2017-01-22 15:29] cpsola commented on #112
`[INF] LTND: Version 0.1.1-alpha`

Do you need any other info?

Thnks

[2017-01-22 15:37] AndrewSamokhvalov commented on #112
@cpsola yeah, I think it would be great to get all `lnd` logs, it might facilitate investigation.

[2017-01-22 15:54] cpsola commented on #112
lncli listpeers
{
	"peers": [
		{
			"pub_key": "036a0c5ea35df8a528b98edf6f290b28676d51d0fe202b073fe677612a39c0aa09",
			"peer_id": 1,
			"address": "159.203.125.125:10011",
			"bytes_sent": 5270,
			"bytes_recv": 24158
		}
	]
}

[2017-01-22 16:09] cpsola commented on #112
@AndrewSamokhvalov Ok, I reproduced all the procedure again.

I had a docker container with btcd and another container with lnd.

I connected the lnd with the testnet faucet peer:

`lncli listpeers`
`{
	"peers": [
		{
			"pub_key": "036a0c5ea35df8a528b98edf6f290b28676d51d0fe202b073fe677612a39c0aa09",
			"peer_id": 1,
			"address": "159.203.125.125:10011",
			"bytes_sent": 5270,
			"bytes_recv": 24

[2017-01-22 16:23] AndrewSamokhvalov commented on #112
@cpsola Thanks for reproducing it again! The first thing which strikes the eye is that `btcd` isn't fully synced:
[code]

[2017-01-22 16:30] cpsola commented on #112
@AndrewSamokhvalov Ok, I'll wait until btcd is fully syncronized and then try to create the channel again.

[2017-01-23 00:00] Roasbeef commented on #112
The panic you ran into has been partially addressed due to de70175be60b22a45506dfea600d9f42a19b69bb. The currently missing portion would be to _disallow_ all channel creation until `lnd` has fully synced to the chain.

[2017-01-23 01:32] Roasbeef opened #113 "lnd doesn't work from 32-bit <-> 64-bit systems"
## Describe the Bug
As reported by `shinobimonkey` on IRC, it seems that `lnd` is unable to establish an encrypted p2p connection between 32-bit and 64-bit systems.

## Steps to Reproduce
Spin up an `lnd` node on a 32-bit system, and one on a 64-bit system and attempt to establish a connection using `lncli connect`. The two nodes will be unable to connect to each other.

## Investigation so Far
I

[2017-01-23 08:33] cpsola commented on #112
Indeed, waiting for btcd to fully syncronize solved the problem.

I am now able to create the channel without problems :) :

`# lncli listchannels {
	"channels": [
		{
			"remote_pubkey": "036a0c5ea35df8a528b98edf6f290b28676d51d0fe202b073fe677612a39c0aa09",
			"channel_point": "1cfd66eba99cc17febd90e1ca5c12c6888915e15e11edd461d08f9800a7fb923:0",
			"chan_id": 1193774958648688640,
			"capacity": 30

[2017-01-23 08:36] AndrewSamokhvalov commented on #112
@cpsola Glad it helped! As @Roasbeef said the issues had been partially addressed, and additional work still need to be done, so leave it open.

[2017-01-29 17:44] alexbosworth opened #117 "Incorrectly formatted RPC command crashes daemon"
Made a mistake when issuing a command and hit a panic (lnd version 0.1.1-alpha - eb73d14a92ad5033099d40579a44128248fc5ded)

[code]

[code]

[2017-01-29 23:04] AndrewSamokhvalov commented on #117
@alexbosworth Thanks for creating the issue! 👍  We will try to fix that :)

[2017-01-29 23:16] Roasbeef commented on #117
Thanks for the report! This bug has been fixed by d94777acf6fea4a12a0a2a3938bfa98e301f93bf

Closing.

[2017-01-29 23:16] #117 closed

[2017-01-29 23:19] Roasbeef commented on #112
The second portion of the issue has been fixed by a658fabf481a0ede6e94d860bf19fff49bc0d66c, so I'll be closing this issue now.

[2017-01-29 23:19] #112 closed

[2017-01-30 01:59] Roasbeef commented on #31
@tompre excellent!

In order to do bash completion for the pubkey's channelID's, you'll need to before to a call to `describegraph` in order to obtain the available list of pubkey's/chanID's. If we had a sort of "console" mode, you could put both sets in their own trie then use that for auto-completion.

[2017-01-30 02:38] AndrewSamokhvalov commented on #52
will take this one

[2017-01-30 21:45] tompre commented on #31
I wanted to use the bash completion functionality provided by urfave/cli. [link](https://github.com/urfave/cli#bash-completion)
Basic completion can be enabled by a single flag (`app.EnableBashCompletion = true`) and completion candidates are generated in go using the `BashComplete` flag in the command definition.
Unfortunately @aantonop did not see this before writing pull request #109 and I did

[2017-02-02 08:55] stevenroose opened #124 "Using roasbeef/btcd breaks db compatibility with btcsuite/btcd"
After running roasbeef/btcd on testnet, btcsuite/btcd was unable to use the database afterwards.

I reported the problem here first: https://github.com/btcsuite/btcd/issues/918

[2017-02-02 09:12] Roasbeef commented on #124
[Responded](https://github.com/btcsuite/btcd/issues/918#issuecomment-276904543) in the original issue.

[2017-02-02 09:33] stevenroose commented on #124
Well, I guess it's ok to close this issue. Or maybe wait until segwit lands in btcd#master. Up to you.

[2017-02-02 09:34] #124 closed

[2017-02-06 05:01] juscamarena opened #126 "Unable to locate link"
http://pastebin.com/MPuXAQEk
I've included: getinfo, current channels, queryroute, and attempting to send to a few nodes.

I think this has been a common issue we've all been seeing. Is it graph related or any zombie channels?

[2017-02-06 05:04] juscamarena commented on #126
Ah.. Just noticed I'm seeing zero active channels.
"num_active_channels": 0,
Weird. I was able to send to 034106ba0a6ffdb98f345b2d39173d236575aa9b18f68542db7c5dc7d561ff68da which I have a channel open. Maybe something went wrong on his end.

[2017-02-06 23:25] Roasbeef commented on #126
I have a local commit for multi-path path finding which should be pushed out some time later this week. This new feature will make sending payments more reliable as a variety of paths will be considered and tries serially when attempting to dispatch a payment rather than the first complete path encountered.

The `num_active_channels` field doesn't indicate the total number of _open_ channel, just

[2017-02-10 21:58] aakselrod opened #127 "Panic when too-short payment request is sent to DecodePayReq"
## Describe the Bug

As reported by `Ylbam` on IRC, the following panic occurred:

[code]

## Steps to Reproduce

zbase32-encode a byte sequence shorter than `invoiceSize` bytes and send the resulting string to `lnd` as the argument for the `DecodePayReq` RPC.

## Investigation so Far

`zpay32/zbase32check.go` line 95 attempts to extract `invoiceSize` bytes from the decoded byte slice without chec

[2017-02-10 21:59] aakselrod opened #128 "Channel has neither first nor second edge when running GetNetworkInfo"
## Describe the Bug

As reported by `Ylbam` on IRC, the following panic occurred:

[code]

## Steps to Reproduce

Unknown at this time. Additional information may be forthcoming from `Ylbam`.

## Investigation so Far

This appears to be an issue in a switch inside a closure inside the `GetNetworkInfo` RPC handler. The channel has neither the first nor second edge populated, and the switch doesn't

[2017-02-11 00:22] #127 closed

[2017-02-11 08:30] juscamarena commented on #126
Here's another crash:

http://pastebin.com/bi9GFuxy

[2017-02-11 09:47] juscamarena commented on #126
Here's another crash: http://pastebin.com/hghXR2jP

[2017-02-11 09:52] juscamarena commented on #126
Not to bombard with more comments here's another one but from my raspberry pi: http://pastebin.com/sQ9UvbDm

[2017-02-11 09:53] AndrewSamokhvalov commented on #126
Hey @juscamarena, thanks for your feedback! I will try to elaborate the reason of this panics and will be soon with response.

[2017-02-11 21:18] juscamarena commented on #126
Thanks! For further reference, do you prefer I create a new issue each time or just post here or on irc?

[2017-02-12 02:19] Roasbeef opened #131 "Update NodeAnnouncement address advertisement to match spec"
Currently, the `lnwire.NodeAnnouncement` uses a recently dated format for communicating the reachable address of a particular node. Atm we assume that they're always encoding an IPv4 or IPv6 address within an IPv6 address. However, this is rather restricts as it means we can't signal hidden service addresses (both the current and next-gen version), or i2p address etc. [A recent modification to the

[2017-02-12 02:34] Roasbeef opened #132 "Implement non-interactive payments by including the preimage in the Sphinx e2e payload"
With the current implementation there are two ways to send a payment to a remote node:
  1. Receive an invoice from them, and fulfill that invoice using the `SendPayment` RPC.
  2. Both the sender and receiver have been started with the `--debug_htlc` flag, and the sender sends a payment using the hard-coded "debug" preimage value within the HTLC.

A third mode is possible which is similar to the

[2017-02-12 02:38] Roasbeef opened #133 "Add command-line access to the GetTransactions RPC call"
Currently, access to the `GetTransactions` RPC call isn't exposed within `lncli`. The call allows a user to see all the on-chain transactions made by `lnd`'s internal wallet.

# Steps To Completion

- [x] A a new command to the `cmd/lncli` package named: `listchaintxns`

- [x] The new command should follow the typical process to add a new command.

# Follow Up Tasks

Pagination should be added to

[2017-02-12 02:46] Roasbeef opened #134 "The daemon should reject any channel state-transitions if not fully-synced to the chain"
Currently within the daemon, we disallow accepting or creation channels if the daemon is not fully synced. The rationale behind this is that, we're unable to properly fully verify the channel creation process if we aren't synced to the chain, as we won't be able to tell when the funding transaction has been confirmed. Also in the case of a dual-funder channel, if we don't have the latest UTXO stat

[2017-02-12 02:55] Roasbeef opened #135 "Add an --external_ip configruation option to the daemon"
Currently, the TCP address that all daemons advertise is incorrect (`[::]:10019`). This is lifted from the set of listening addresses that are set within the configuration on boot up. As a result, none of the `NodeAnnouncement` messages propagated within the network don't contain any true reachability information. This should be remedied to allow a user to _optionally_ specify a set of public reac

[2017-02-12 03:03] Roasbeef opened #136 "Daemon is mishandling TCP connections, leads to exhausted connections slots"
I've noticed with the faucet node, that after a period of time the faucet is unable to accept any new connections. It rejects all new incoming connections as the set of available file descriptors have been exhausted.

Poking around the box a little bit when this happens, I find that there a tens of TCP connections stuck in the `CLOSE_WAIT` mode which signals that the other end has hung up the TCP

[2017-02-12 03:25] Roasbeef opened #137 "Add a message retransmission sub-system"
Message retransmission has now been [described in detail within the spec](https://github.com/lightningnetwork/lightning-rfc/blob/master/02-peer-protocol.md#message-retransmission). The implementation specified is (at a high-level ) rather straight forward: for each message sent, there exists a message which when received implicitly "ACKs" the message sent. Once the message has been ACK'd, the send

[2017-02-12 03:43] Roasbeef opened #138 "Prune unconnected nodes from the channel graph"
Currently we accept any and all `NodeAnnouncement` messages received. Instead we should:

- [ ] Limit the number of unconnected nodes we accept and write to the database.
    * A node is unconnected if it doesn't have any authenticated channels advertised whcih are still open

- [ ] Remove `LinkNode`s from the database, once we have closed out all previous channels with them.

The lack of an imple

[2017-02-12 04:00] Roasbeef opened #139 "Add DisconnectPeer RPC"
An RPC should be added that removes a peer targeted either by its public key or it's relative `peer_id`. The RPC should remove the peer both from the sever and also remove the persistent connection attempt

**NOTE:** It isn't possible to complete this issue until the `connmgr` package within `btcd` has been modified to allow removal of a connection which hasn't been successfully established.

[2017-02-12 04:09] Roasbeef opened #140 "Augment the PendingChannels RPC to also show which channels are being closed"
There exist three states of pending funds within `lnd` as it's writen today:
  1. A channel funding workflow has completed, and a channel is about to be "open". The funds are in limbo until the channel reaches `N` confirmations.
  2.  A channel has been cooperatively closed, and the funds are in limbo until the closure transaction reaches a single confirmation.
  3. A channel has been unilaterally

[2017-02-12 04:18] Roasbeef opened #141 "Ensure the connmgr doesn't attempt to establish connections based off of incoming connection info"
Currently, if we receive an incoming connection, then the port we store in the database for the IP address that made that incoming connection is the port the TCP connection was assigned to after the initial handshake completed. Upon boot (if we later establish a channel with that node), the daemon will then tell the `connmgr` to establish a persistent connection to that peer, however the connectio

[2017-02-12 04:25] Roasbeef commented on #113
As an update, we have a few users connecting out to the faucet from Raspberry Pi's, so the root cause of this issue is still unknown.

[2017-02-13 18:49] cjamthagen commented on #63
Will start working on this.

[2017-02-13 18:51] AndrewSamokhvalov commented on #63
Hi @cjamthagen! I think the @Roasbeef will take this one, but lets wait for him.

[2017-02-13 18:53] cjamthagen commented on #63
Ah, thanks for letting me know.

[2017-02-14 10:32] cjamthagen commented on #63
Just so I know, are `advanced` issues off the table, so to speak? Are other issues that no one claimed yet up for grabs? Let me know. @AndrewSamokhvalov @Roasbeef

[2017-02-14 10:44] AndrewSamokhvalov commented on #63
@cjamthagen I think there are plenty of [them](https://github.com/lightningnetwork/lnd/issues?q=is%3Aopen+is%3Aissue+milestone%3Av0.2-alpha) 😄

[2017-02-14 11:51] cjamthagen commented on #63
Not questioning the amount of issues available. Just wondering if some of them, like this one, are being worked on already.

[2017-02-15 00:50] aakselrod commented on #128
`Ylbam` has reported another panic with a similar cause, this time in `func (r *ChannelRouter) syncChannelGraph(syncReq *syncRequest) error` in `rouing/router.go`. Panic is listed below:

[code]

[2017-02-15 14:03] AndrewSamokhvalov commented on #137
will take this one

[2017-02-15 17:50] bryanvu commented on #131
Will take this one.

[2017-02-16 11:03] Roasbeef commented on #63
Heya, yeah @AndrewSamokhvalov is right, I'll be implementing this in the near future. Generally, the issues tagged `advanced` are up for grabs other than this one and #59.

[2017-02-16 11:17] cjamthagen commented on #63
Ok, thanks for letting me know. I'll stop working on #59 then. Man.. you're hogging all the fun ones for yourself :)

[2017-02-16 15:00] aakselrod commented on #128
Fixed by commit 5560f032f62abe82364eaa6e1b5d79234472da1e

[2017-02-16 15:00] #128 closed

[2017-02-16 22:15] aakselrod opened #142 "lnwallet doesn't see channels as closed; attempts to close them are rejected as double-spends"
`mably` and `juscamarena` on Slack are reporting issues closing channels. The closing transaction is seen (correctly) as a double-spend. Examples below:

[code]

[code]

This is correct and the channels were closed earlier, but the wallet didn't see it.

I believe @Roasbeef is already working on the fix with a state machine update; either way, this issue is to track that work and/or a fix.

Anothe

[2017-02-16 22:19] mably commented on #142
I'll just add that these ghost channels seems to stall any sendpayment command you make even if you have opened another similar channel.

[2017-02-17 02:22] aakselrod commented on #142
I'm still working on reproducing this, but have an additional example with a bit more detail from `moli` on Slack:

[code]

and

[code]

[2017-02-17 03:45] Roasbeef commented on #142
The issue is is mishandling of the `max_in_flight_htlc` channel policy paramter by the current `htlcManager` goroutine. Due to jittery latency between hops, when performing a large number of consistent streaming payments, it's possible that the number of uncommitted changes `state.pendingBatch` exceeds the `max_in_flight_htlc` policy paramter for that particular channel. When this event happens th

[2017-02-17 22:48] aakselrod opened #144 "`pendingchannels` RPC command causes panic"
Reported by `mably` on Slack, the following panic occurs:

[code]
This happens when the `pendingchannels` RPC handler attempts to dereference the channel point in one of the pending channels. The channel was opened directly after the peer force-closed all existing channels. Restarting the local `lnd` process and attempting again resulted in another panic. Restarting the peer `lnd` process and star

[2017-02-18 06:10] spolu commented on #144
ooc where is "Slack"? is there a public (private?) slack room one can join?

[2017-02-18 20:48] AndrewSamokhvalov commented on #144
@spolu https://bitcoincore.slack.com/messages/ln-testers/

[2017-02-18 22:52] spolu commented on #144
🙏

[2017-02-18 22:55] spolu commented on #144
@andrewsamokhvalov Is that a private channel? I'm spolu on bitcoincore.org slack.

[2017-02-19 12:18] AndrewSamokhvalov commented on #144
@aakselrod As far I understand this happens because `FundingOutpoint` of reservation initialized only on stage of receiving `SingleFundingComplete` message.

[code]

[2017-02-19 13:21] aead opened #146 "replace ChaCha20Poly1305 implementation"
I recommend to switch from my ChaCha20Poly1305 implementation to the "official" [golang](https://godoc.org/golang.org/x/crypto/chacha20poly1305) implementation.
I'm planning to restructure my repository (backward comp. breaking changes) in a few weeks and I don't want to break your build.
The golang implementation will also lead to a significant performance improvement on amd64 (caused by more spe

[2017-02-19 14:34] aead commented on #146
Sry, you use vendoring - so this has low priority

[2017-02-19 22:50] AndrewSamokhvalov opened #147 "`openchannel` cause panic"
Reported by `mably` on `Slack`, the following panic occurs:
[code]
From `mably` description now he is developing web client for `lnd`, so this request were made not by using `lncli`.

It seems that for some reason the `peerID` and `targetPubkey` are equals to `nil`, I think we should  move the validation logic of parameters inside `Validate` function of `openChanReq` struct and do this for all typ

[2017-02-21 09:50] #147 closed

[2017-02-21 13:13] AndrewSamokhvalov opened #148 "panic during handling peer start"
`moli` reported in Slack:
[code]

[2017-02-22 02:21] bryanvu commented on #73
Note that some versions or combinations of the above versions of protoc-gen-go and grpc will result in a rpc.pb.go file with both camelCase and snake_case json names, and some versions will result in just snake_case. This should be resolved when we set the version numbers.

[2017-02-23 00:49] Roasbeef commented on #77
Fixed by #89

[2017-02-23 00:49] #77 closed

[2017-02-23 00:50] Roasbeef commented on #148
Fixed by #149

[2017-02-23 00:50] #148 closed

[2017-02-23 00:50] Roasbeef commented on #144
Fixed by #145

[2017-02-23 00:50] #144 closed

[2017-02-24 19:40] Roasbeef commented on #54
Closed by #121.

The final lingering area that will require full persistence is the `breachArbiter`. I'll be making a follow up issue detailing the required modifications to the sub-system in order to allow it to survive restarts.

[2017-02-24 19:40] #54 closed

[2017-02-28 21:41] #62 closed

[2017-03-01 12:16] afederigo commented on #26
Hello!
I would like to try to solve this issue

[2017-03-02 22:23] Roasbeef commented on #31
Closed by #120.

[2017-03-02 22:23] #31 closed

[2017-03-07 15:08] AndrewSamokhvalov commented on #126
Was fixed in [this](https://github.com/lightningnetwork/lnd/commit/178f561a2a11c49bad9e07501866f650ff29df33) commit

[2017-03-07 15:17] AndrewSamokhvalov commented on #113
I believe [this](https://github.com/lightningnetwork/lnd/issues/146) might be related.

[2017-03-07 23:01] afederigo commented on #139
I will try to solve this.

[2017-03-08 10:28] shravan-shandilya commented on #141
@Roasbeef Will try to solve this.

[2017-03-08 12:13] afederigo commented on #26
I have stopped the work under Roasbeef's recommendation.

[2017-03-09 01:40] Roasbeef commented on #133
Closed by #157.

It should be pretty easy to expose pagination in the future if it's requested by users of `lnd`.

[2017-03-09 01:40] #133 closed

[2017-03-09 03:33] 21E14 opened #160 "Append newline to openchannel and closechannel's outputs"
Trivial: “lncli openchannel” output seems to need a new line suffixed lest it flows into the bash prompt. Apparently, this impacts "lncli closechannel" too.

[2017-03-09 03:35] Roasbeef commented on #160
Not sure how it appears in your prompt, but a successful `openchannel` command appears like this on my prompt:
[code]

[2017-03-09 03:38] 21E14 commented on #160
I get the following in the docker container:

{
	"funding_txid": "bunchofnumbers"
}root@1234567890:

Apparently, moli is seeing the same with closechannel (see #ln).

[2017-03-16 19:23] #146 closed

[2017-03-16 19:23] #160 closed

[2017-03-16 19:24] Roasbeef commented on #146
Thanks for the heads up! We've moved over to the `crypto/x/chachapoly1305` library.

[2017-03-16 19:25] Roasbeef commented on #113
Closing for now due to commit 9234956. If the issue re-appears I'll re-open this.

[2017-03-16 19:25] #113 closed

[2017-03-16 19:26] Roasbeef commented on #126
As Andrew pointed out, this was fixed by 178f561a2a11c49bad9e07501866f650ff29df33, and a few other commits.

Closing.

[2017-03-16 19:26] #126 closed

[2017-03-21 09:52] AlexanderPavlenko opened #164 "build fails with "undefined: sort.Slice""
https://github.com/lightningnetwork/lnd/blob/5e11e56818efb60fd9d77522bb856eb0026199c8/routing/router.go#L1160

I guess, https://github.com/lightningnetwork/lnd/blob/master/docker/lnd/Dockerfile#L1 needs to be updated to go 1.8

[2017-03-27 22:57] Roasbeef commented on #164
Fixed as part of 761b0466ebb5a8e87e102024952ad873ed8ffc8f and 69b257154fea291ed5e9b02ffeff54a14a79754a.

Closing.

[2017-03-27 22:57] #164 closed

[2017-03-27 22:59] Roasbeef commented on #73
Will be fixed by #169.

[2017-03-27 22:59] Roasbeef commented on #74
Fixed by b4fff97d14ee8807cbc4fb09d08704b5663d0926.

Closing.

[2017-03-27 22:59] #73 closed

[2017-03-27 23:32] #74 closed

[2017-03-29 18:58] Roasbeef commented on #142
The overflow bug was fixed by: 505421db2c78500802194546076588eb17cb297b.

Closing

[2017-03-29 18:58] #142 closed

[2017-03-29 19:05] Roasbeef commented on #131
Closed by #154.

[2017-03-29 19:06] #131 closed

[2017-03-29 19:06] Roasbeef commented on #135
Closed by #154.

[2017-03-29 19:06] #135 closed

[2017-03-29 19:07] Roasbeef commented on #141
Closed by #154.

[2017-03-29 19:07] #141 closed

[2017-03-30 02:49] Roasbeef commented on #51
Fixed by #72.

[2017-03-30 02:49] #51 closed

[2017-03-30 02:50] #26 closed

[2017-03-30 02:50] #24 closed

[2017-04-01 18:14] #68 closed

[2017-04-02 14:21] mmgen commented on #21
Please make lnd usable with bitcoind as a backend. This will greatly increase your user base.

[2017-04-07 16:40] aakselrod opened #175 "channeldb+funding: implement streaming and regular RPCs for static backup format"
A request has come in to allow online backup of the databases used by `lnd` so that the process doesn't have to be stopped for backup.

The channel DB can be backed up using https://godoc.org/github.com/boltdb/bolt#Tx.WriteTo

The wallet DB can be backed up using https://github.com/btcsuite/btcwallet/blob/master/walletdb/interface.go#L203 (`DB.Copy()`).

[2017-04-10 18:45] molxyz opened #177 "RPC Port Number Error"
Under  https://github.com/lightningnetwork/lnd/blob/master/docs/INSTALL.md#create-an-lndconf-optional  there's this line:  "btcdhost=localhost:18834".  The port number should be "18334".

Thank you.

[2017-04-10 19:11] #177 closed

[2017-04-10 19:27] halseth commented on #140
I'll take a stab at this one :)

[2017-04-10 20:28] molxyz opened #178 "Doc: Add port 5656 to externalIP in lnd.conf sample"
Using  lnd.conf sample got this error:   "SRVR: unable to create server: address xxx.xxx.xx.xxx: missing port in address".  Should add port 5656.  Thank you.

[2017-04-13 23:53] Roasbeef opened #180 "Add graph diameter calculation to GetNetworkInfo"
The response of the `GetNetworkInfo` RPC contains the following fields:
[code]

Currently, all fields _except_ the `graph_diameter` field are populated. The [graph diameter](http://mathworld.wolfram.com/GraphDiameter.html) is to represent the diameter, or the worst-case path length from one node to another within the channel graph.

[2017-04-13 23:57] Roasbeef opened #181 "Add a Stop command to gRPC and the RPC Server"
At the time of the writing of this issue, there currently isn't a way to gracefully stop `lnd`. The only way to terminate the process atm is to use `CTRL-C`to kill the process. While the usage of this stopping method is advantageous to gauging the degree of fault-tolerance of the daemon, it would be nice to be able to gracefully top the daemon with a single RPC command.

# Steps To Completion

- [

[2017-04-14 00:13] Roasbeef opened #182 "Implement Fully Asynchronous Channel Opening"
Currently, when opening a new channel, `lnd` must stay active _during the entire duration_ of the funding process from initial message, to funding transaction confirmation. Ideally, this wouldn't be necessary and after the funding transaction has been broadcast, then remainder of the process be full asynchronous and able to survive restarts. Such a change would make `lnd` usable on platforms like

[2017-04-14 00:41] Roasbeef opened #183 "Automatic dynamic channel provisioning and maintenance"
Currently all channel creation is a manual process that must be executed by users either on the command line or directly through a native program which drives the RPC interface. An alternative op-tin mode would be created wherein `lnd` examines the known channel graph from it's PoV, and using a set of heuristics opens up a series of channels that are deemed to be locally advantageous for the drivi

[2017-04-14 03:34] Roasbeef opened #184 "Full persistence within the BreachArbiter"
The `breachArbiter` is sub-system within `lnd` that is tasked with swiftly enacting justice in the case that we detect that a channel peer broadcasts a prior revoked state. With the current implementation, justice _must_ be enacting in a single execution context, meaning that if `lnd` restarts, then we'll never re-attempt to broadcast our transaction sweeping _all_ the funds within the channel. In

[2017-04-14 03:46] Roasbeef opened #185 "Automatic NAT hole punching"
Currently, the only way for `lnd` to advertise it's reachable public IP address is for the user to manually specify it using the `externalip` flag either on the command line or in the configuration file. However, due to the existence of NATs this can be inadequate. As a result, many users won't be able to accept any inbound channel requests unless they're not behind a NAT, or are able to manually

[2017-04-14 03:56] Roasbeef opened #186 "Implement support for Tor Hidden Services and outbound connection establishment"
Currently, `lnd` isn't able to connect to other peers over Tor, nor able to set up a hidden service and use that address as its publicly accessible address. As not all users will want to, or be able to advetise a publicly routed IP address, support for Tor hidden services should be integrated into the daemon. In addition to solving a slew of NAT issues, Tor hidden services also hide the location o

[2017-04-14 04:23] Roasbeef opened #187 "Add a SignMessage/VerifyMessage RPC command"
Within the network, _all_ announcements my other nodes are signed by the nodes that broadcast them. In addition all advertised channels are themselves transmitted with a set of channel authentication proofs that attest to the fact that two nodes consensually opened a channel with each other and are able to perform updates on that channel.

The combination of channel authentication proofs and signe

[2017-04-14 04:34] Roasbeef opened #188 "Add a SendToRoute RPC command"
Currently, the only way to send a payment using `lnd` is to default to the daemon's default path finding and ranking algorithms. It may be the case that a higher level application has additional context, which _must_ be accounted for when sending payments.

A command should be added which allows for "route control", meaning the user explicitly defines the _entirety_ of the route to be used to disp

[2017-04-16 07:04] phlip9 commented on #187
Hey, I'd like to take a stab at this issue.

I also have some questions/comments:

+ I'm assuming `SignMessage` would sign some arbitrary message with the node's `identityPriv` private key.
    + Is `nodeSigner.SignMessage` the canonical way to sign a message?
    + The signature could probably be encoded as `zbase32(s || crc32(s))` where `s := sig.Serialize()`.
    + We could probably pull out th

[2017-04-17 16:59] virtualkill commented on #105
only an anglo spy would say that @aantonop

[2017-04-17 22:25] Roasbeef commented on #187
Hi @phlip9, excited to hear you'd like to tackle this issue?

Yes, that'd be the ideal way to sign incoming messages.

I don't think there's a need to include the checksum component as there isn't an _error correcting_ aspect. If the signature itself has been modified, then it'll fail to verify.

Some thoughts on the serialization method:
   * When signing a message, the only return value should b

[2017-04-18 01:38] phlip9 commented on #187
Indeed, I was a bit confused about why the encoding would need a checksum. I thought it might've been to avoid conflating transmission and transcription errors with invalid signatures, but they shouldn't otherwise be needed.

Right, just returning a pubkey recoverable signature should be fine.

I'm also wondering what the protobuf type of the message should be. I suppose we could take either a UTF

[2017-04-21 11:26] phlip9 commented on #180
I'll take a look at this issue.

[2017-04-21 16:17] Lldenaurois commented on #180
Hi phlip9, Im actually already working on this issue and have a PR open for it.

I need to fix a bug though, so maybe if you'd liketo takea look at the PR that would be cool

[2017-04-21 18:00] molxyz opened #193 "Node connects to itself as peer and seen in "listpeers""
I accidentally connected my own node to itself and was surprised to see it was a successful connection. The node lists itself in "listpeers" twice as a matter of fact.  I think this is an error.

So out of curiosity I tried to open a channel with myself and the process hangs.  If a node tries to connect to itself it should be stopped with a message. And if a node tries to open a channel with itsel

[2017-04-21 19:56] phlip9 commented on #180
Ahh I didn't see that. I'll check out your PR.

[2017-04-22 00:16] juscamarena opened #194 "Daemon Crash"
Here's the output:
https://pastebin.com/XcwYJYXv

On commit: 4fd285236e07e04e10cf660b843a47ed26fd8035

I was in the middle of sending debug payments via the cli manually.

[2017-04-24 00:53] AndrewSamokhvalov commented on #187
@Roasbeef @phlip9

If I understood example correctly apart from the validation result it might be worth it also return `pubkey` of the node which generated this message, in order to be sure that message came from the particular node.

[2017-04-24 02:58] #193 closed

[2017-04-26 22:46] phlip9 commented on #184
I'll take a look at this issue.

[2017-04-27 04:28] Roasbeef commented on #178
The code has been updated such that if the port is unspecified, then it assumes the default port.

Closing.

[2017-04-27 04:28] #178 closed

[2017-04-27 05:26] Roasbeef commented on #184
@phlip9 cool! You may want to study [_this_ commit](https://github.com/lightningnetwork/lnd/pull/90/commits/1d2d3734e302d68032392d2ce54ada229d4b648c) which added full persistence to the `utxoNursery`. Take note of the way the integration tests have been modified to ensure that restarts at each stage of the pipeline doesn't affect the correctness of the final actions taken by `lnd`.

[2017-05-01 14:49] halseth commented on #181
I'll take this one :)

[2017-05-03 20:01] halseth commented on #182
I'll take a look at this one 🤓

[2017-05-03 20:05] AndrewSamokhvalov commented on #182
@halseth fourth step currently in progress now (PR #195)

[2017-05-03 20:07] halseth commented on #182
@AndrewSamokhvalov Thanks for the heads up!

[2017-05-05 00:42] #140 closed

[2017-05-05 21:24] Roasbeef commented on #139
Fixed by #171.

[2017-05-05 21:25] #139 closed

[2017-05-11 11:13] AndrewSamokhvalov opened #204 "Bug, index out of range, channeldb/db.go:409"
User `jimmymow` reported:
[code]

[2017-05-11 13:55] AndrewSamokhvalov opened #205 "Bug: deviation of the `GetInfo` and `ListChannels`"
It have been noticed that sometime get info command shows zero active channel number, but at the same time, wouldn't it be wiser to have one source of information about active channels?

[code]

[code]

[2017-05-11 13:57] AndrewSamokhvalov commented on #205
Okay my fault, noticed the field that channel isn't active.

[2017-05-11 13:58] AndrewSamokhvalov commented on #205
Hmm, no it should be active, because we are connected to the peer:
[code]

[2017-05-11 14:00] AndrewSamokhvalov commented on #205
Nah, it is different peer, kek 😄

[2017-05-11 14:00] #205 closed

[2017-05-11 20:14] Roasbeef commented on #204
A recent schema change took place when adding the latest additions to the `pendingchannels` RPC. As a result, if you keep the same database, and had entries in your `closedChannel` bucket, then this issue could arise.

Closing.

[2017-05-11 20:14] #204 closed

[2017-05-11 21:55] #181 closed

[2017-05-12 20:08] anth-ny opened #207 "node_announcement wire format different from spec"
BOLT #7 node_announcement message puts features prior to addresses. https://github.com/lightningnetwork/lightning-rfc/blob/master/07-routing-gossip.md

node_announcement.go, in Encode and Decode, puts addresses prior to features. https://github.com/lightningnetwork/lnd/blob/2f08337ccd0b22619344d8a357faa8f8a018fab3/lnwire/node_announcement.go

(The spec also says that addrlen is the number of bytes

[2017-05-12 21:40] #207 closed

[2017-05-15 11:37] afederigo commented on #188
Could I take this task? Is it still free?

[2017-05-15 22:40] Roasbeef commented on #187
Closed by #192.

[2017-05-15 22:40] #187 closed

[2017-05-16 03:28] Roasbeef commented on #52
Closed by #199!!!

Still a few more edge cases to be handled (incorporation of `fee_update` messages, and corner cases related to zero valued outputs, but can handled later).

[2017-05-16 03:28] #52 closed

[2017-05-16 04:45] Roasbeef commented on #188
@afederigo AFAIK now no one is currently working on this issue. So it's all yours!

[2017-05-16 16:56] afederigo commented on #188
Ok, I will try to resolve it.

[2017-05-22 22:19] stevenroose opened #211 "json: unsupported value: NaN on `getnetworkinfo`"
I'm on bitcoin testnet and I get this error message when trying to use getnetworkinfo.

[code]

[2017-05-23 22:31] Roasbeef commented on #211
Can you provide any further details to aide us in investigating this issue? Perhaps a log dump when the command is run?

[2017-05-24 10:18] stevenroose commented on #211
I guess there was none, I tailed the logs right above, I would have noticed if there was one, but let me double-check.

It was a fresh installation from latest master. I think it was even before I added any funds.

[2017-05-24 10:27] stevenroose commented on #211
This is the whole startup log in debug loglevel. (Trace dumps whole blocks and my ssh connection fails to handle that nicely :D)
[code]

[2017-05-27 10:36] stevenroose commented on #211
@Roasbeef Maybe this has something to do with it: https://github.com/btcsuite/btcd/pull/947

But it should not, since I'm attaching it to the btcd built with your personal branch. Maybe you updated the getnetworkinfo struct to comply with bitcoind?

[2017-05-31 18:29] Roasbeef commented on #211
That `btcd` RPC call is completely unrelated to the issue you're reporting here. Dug in a bit last week and found the source, will push the fix in a minute here. Thanks for reporting this!

[2017-05-31 18:35] #211 closed

[2017-06-02 00:10] BitfuryLightning opened #212 "Test failure on fast machine. number of pending channels for alice incorrect. expected 0, got 1"
When launching tests
`go test -v`
following error occurs

=== RUN   TestLightningNetworkDaemon
--- FAIL: TestLightningNetworkDaemon (36.42s)
	lnd_test.go:3027: Running 18 integration tests
	lnd_test.go:85: Passed: (basic funding flow)
	lnd_test.go:85: Passed: (disconnecting target peer)
	lnd_test.go:85: Passed: (graph topology notifications)
	lnd_test.go:62: Failed: (funding flow persistence): exi

[2017-06-02 00:16] BitfuryLightning opened #213 "Test failure. Synchronizing blockchain"
When running tests. Sometimes error occur

=== RUN   TestLightningNetworkDaemon
--- FAIL: TestLightningNetworkDaemon (44.27s)
	lnd_test.go:3027: Running 18 integration tests
	lnd_test.go:85: Passed: (basic funding flow)
	lnd_test.go:85: Passed: (disconnecting target peer)
	lnd_test.go:85: Passed: (graph topology notifications)
	lnd_test.go:85: Passed: (funding flow persistence)
	lnd_test.go:85: Pa

[2017-06-07 18:28] Roasbeef commented on #76
Closed as part of the recent `neutrino` implementation.

[2017-06-07 18:28] #76 closed

[2017-06-09 05:51] Roasbeef commented on #56
Closing for now as the current onion routing scheme renders this impossible if we wish to maintain the verifiability of the per-hop payload.

[2017-06-09 05:51] #56 closed

[2017-06-13 10:22] AndrewSamokhvalov commented on #194
Hi @juscamaren! Thank for send crash output. Could you check please that you are running latest version of `lnd`?

[2017-06-13 10:25] AndrewSamokhvalov commented on #194
Ooops, that was `Apr 22` sorry :)

[2017-06-13 10:27] AndrewSamokhvalov commented on #194
As the historical note from @Roasbeef about that issue:

[2017-06-13 23:02] MaxFangX commented on #187
Without a way to recover the public key that signed a message (from the command line or RPC) given a signature and a message, apps cannot use the sign/verify mechanism for authentication, requiring instead another scheme like a username/password or other scheme, which is too high friction for a user who wants to simply pay a site and then be able to come back to that later. @phlip9 would it be pos

[2017-06-14 00:21] phlip9 commented on #187
The current implementation returns a pubkey recoverable signature, which
means you can derive the signing pubkey from the signature.

You could also explicitly return a pubkey for signing and require a pubkey
parameter for verification, which would be clearer imo.

On Tue, Jun 13, 2017, 16:02 Max Fang <notifications@github.com> wrote:

[2017-06-19 13:53] #213 closed

[2017-06-26 07:25] BitfuryLightning opened #226 "Add encryption of lnd database"
Currently, if somebody gets access or stole machine with lnd, he can easily claim all funds in lnd.
The solution is to save some parts of lnd database in encrypted format.
To open it password/passphrase should be entered.

[2017-06-26 07:45] BitfuryLightning commented on #132
Can I take this?

[2017-06-26 09:54] lostinblue commented on #186
I was working on a project that does this as a library, I can take care of this feature possibly.

[2017-06-26 10:17] AndrewSamokhvalov commented on #186
Hey @lostinblue ! Great to see that someone is willing to contribute in the project. The additional [information](https://github.com/lightningnetwork/lightning-rfc/commit/60f611d7b7434a5200f645384e36a215690ec1ce) which might be helpful for you.

[2017-06-26 10:19] AndrewSamokhvalov commented on #186
Oops 😁

[2017-06-27 10:41] Roasbeef commented on #226
The wallet database is already stored in an encrypted format, with both an optional public passphrase (for addresses, public keys, imported scripts, etc), and a private pass phrase (for private keys, etc).

Currently, both the [public](https://github.com/lightningnetwork/lnd/blob/54cb8a05cd5897c02128dbd42b4cc780b33a553c/lnwallet/btcwallet/btcwallet.go#L68) and [private passphrase](https://github.c

[2017-06-27 10:54] Roasbeef commented on #132
I consider this issue to be of a rather low priority. It doesn't require any modifications to the spec instead, but instead should be coupled with a signaling mechanism to use the extra bytes in the payload to signal that some, or all of the remaining per-hop payloads are to be decrypted as they're a complete package.

Nevertheless, @AndrewSamokhvalov has started some preliminary work on this feat

[2017-06-27 11:15] Roasbeef commented on #132
Adding to the description in the issue, the following change needs to be made in `lightning-onion`:
   * Rather than _discarding) the currently un-used payload when parsing a sphinx packet, the value should instead be embedded within the `HopData` as a new field of type `[]byte`

To accompany this change, the `htlcswitch.ForwardingInfo` struct should be modified to either opaquely embed the unused

[2017-06-27 11:20] Roasbeef commented on #186
@lostinblue sounds like a plan, very excited to see this implemented! The networking/connection handling of `lnd` is similar to [`btcd`](https://github.com/btcsuite/btcd) which has already implemented this feature. As a result, you may want to take a look at their implementation (doesn't have auto hidden service though), as an initial point of reference.

[2017-06-28 07:51] lostinblue commented on #186
I will read over the above and get in contact if I have more questions.

[2017-06-28 08:00] lostinblue commented on #186
What I have previously worked on is an onion hash table (https://github.com/onionNet/oht). It connected peers similar to ricochet, using hidden services generated.

I have had on my list of things to do, to make a simple library for onion routing using hidden services without the pub/sub.

I will look over the btcd implmenetation, and implement it with whatever improvements I can think of. This ma

[2017-07-03 14:20] BitfuryLightning commented on #226
Nice explanation.
I have one concern. If somebody wants to create GUI interface to lnd he would not be able to unlock wallet programmatically. Maybe add command option:
1. (Default) Unlock wallet from command line using ReadPassword
2. Unlock using RPC call.
3. Use default values for locking/unlocking. Useful for tests.

[2017-07-04 16:19] NourGritli opened #229 "Failure Setting up LND using Docker"
Hello everyone ,
I was trying to create a lightening network cluster (using Docker as described in your Readme file ) but i keep getting these errors :
![screenshot at 2017-07-04 18-09-29](https://user-images.githubusercontent.com/29896934/27837389-3709a690-60e4-11e7-87fd-2162b10c7096.png)
![screenshot at 2017-07-04 18-08-55](https://user-images.githubusercontent.com/29896934/27837393-41090fe6-60e

[2017-07-04 16:47] AndrewSamokhvalov commented on #229
Hey @NourGritli , thanks for creating the issues 👍  Was able to reproduce it locally, create the fix in a minute.

[2017-07-04 16:50] AndrewSamokhvalov commented on #229
PR: #230

[2017-07-04 16:58] NourGritli commented on #229
Hey @AndrewSamokhvalov , Thank you for the rapid response
unfortunatelly am still getting the same error
![screenshot at 2017-07-04 18-57-54](https://user-images.githubusercontent.com/29896934/27838411-bdaf0e64-60ea-11e7-9ed0-eb434ae6eaba.png)

[2017-07-04 17:20] AndrewSamokhvalov commented on #229
@NourGritli My PR has to be merged with master

[2017-07-04 17:24] NourGritli commented on #229
@AndrewSamokhvalov  i add your modifications to my local repo and the problem is solved
Thank you :+1: :smile:

[2017-07-04 17:25] #229 closed

[2017-07-04 19:46] Roasbeef commented on #226
I fail to see how with what I described above, one wouldn't be able to unlock the wallet from the GUI in a programmatic manner. Seems all one would need to do is pipe the standard input from the GUI into `lnd`. The GUI wouldn't attempt to start `lnd` _before_ the passphrase was entered.

Agreed that it would be nice to have an option which reverted to using the default values (as is used by defaul

[2017-07-05 11:04] BitfuryLightning commented on #226
ReadPassword "checks" if STDIN is a tty device. When stdin is piped it is not a tty.
So ReadPassword fails.
It is not possible to simply pipe into a program which requires input from a terminal.
Consider this small program:

[code]
When it is launched from terminal
[code]
This possibly can be solved using expect, but `unbuffer`  does not work with Go ReadTerminal.
That is why it would be nice to a

[2017-07-11 01:29] afederigo commented on #180
If this task hasn't completed and nobody is working on it, I'd like try to finish it.

[2017-07-11 03:33] Lldenaurois commented on #180
Hey man, feel free to work on it :)

[2017-07-11 03:54] Lldenaurois commented on #180
Hey aferdigo, I actually just noticed that my PR is almost done. My bad... Been kinda swamped lately. I will upload the PR later today

[2017-07-11 13:39] afederigo commented on #180
Ok, I will take another one :)

[2017-07-15 02:08] Roasbeef commented on #79
Fixed by #79.

[2017-07-15 02:08] #79 closed

[2017-07-18 12:36] BitfuryLightning commented on #226
@Roasbeef
Do you still think that using terminal only for the passphrase is enough?

[2017-07-18 23:09] Roasbeef commented on #226
Heya,

Thanks for that example, and the sample code as well! I agree that there needs to be at least _one_ more option w.r.t initial authentication.

@aakselrod is currently working on our initial support for macaroons. Along with that set of changes, we'll also be implementing default (with an option to toggle off) required TLS connections in order to communicate with the gRPC server. This is req

[2017-07-18 23:23] Roasbeef commented on #226
Mulled it over a bit and decided that the read from a file option promotes poor security practices on the side of the client. Instead, I think we should pursue the RPC pass. However, this can only land in after Alex's initial macaroon work which will add the TLS defaults.

[2017-07-26 10:28] stevenroose commented on #132
Is there a spec for this so that other implementations can receive these payments?

[2017-07-26 10:29] AndrewSamokhvalov commented on #132
Hey @stevenroose ! No there is no yet, but I have implementation of it locally.

[2017-07-31 03:38] #61 closed

[2017-07-31 03:40] Roasbeef commented on #57
Fixed.

[2017-07-31 03:40] Roasbeef commented on #59
Fixed.

[2017-07-31 03:41] Roasbeef commented on #63
Fixed.

[2017-07-31 03:41] #57 closed

[2017-07-31 03:41] #59 closed

[2017-07-31 03:41] #63 closed

[2017-08-01 20:11] AndrewSamokhvalov opened #242 "Unable to connect to remote node."
### Description
By one of our testers `mably` and others have been reported that `lnd` might getting into the state where other nodes are unable to establish the connection to it.

### Observation
* If we connect to the stuck machine over `ssh` and try to connect to other nodes it will lead to resolving the problem.
* If we connect to the stuck machine over `ssh` and check the `lsof` we will see t

[2017-08-02 11:55] BitfuryLightning opened #243 "Integration tests fail sometimes after latest update"
go version: go1.7.1 linux/amd64
lnd version:  24db310aefd5913dd6e56de22dd474e65d1f0d6b
btcd verision:  f8c02aff4e7a807ba0c1349e2db03695d8e790e8

Sometimes (20%)
[code]

[2017-08-02 12:12] halseth commented on #243
Thanks! We are currently hunting flakes :) If you add the ` -logoutput` flag to the command, you'll find text files (`output*.txt`) containing the node logs, which can be useful for debugging.

[2017-08-02 22:58] #138 closed

[2017-08-08 10:02] cdecker opened #248 "--datadir is ignored for logs and certificates"
While integration testing various implementations I ran across this issue, attempting to replace the certificate that is used for grpc connection. Despite specifying the `--datadir` parameter, the logs and the certificate files will end up in `$HOME/.lnd`. I would have expected everything to end up in the directory specified by `--datadir`.

lnd version: f13c81eb6a82f2489325939cc5df047b779d4477

[2017-08-10 20:14] Roasbeef commented on #182
Closed by #195 and #208.

[2017-08-10 20:15] #182 closed

[2017-08-10 23:14] #212 closed

[2017-08-10 23:14] #242 closed

[2017-08-13 19:54] flaurida commented on #60
Can I take this? It seems like it would be a good issue to get my feet wet :)

[2017-08-16 15:23] cdecker opened #254 "Panic when exchanging gossip with c-lightning"
While integration testing I noticed a fun `panic`:

[code]

It appears to crash `lnd` completely, instead of dropping the announcement and continuing. No idea yet what causes this, just wanted to give a heads up :wink:

[2017-08-16 18:15] Roasbeef commented on #254
Thanks for the report!

Dug into it a bit, and found the culprit: we never updated our `NodeAnnouncement` encoding/decoding order after we moved around the features (`a257554456cda98afd1532c302c0e5e84de0455e`). Will get this fixed very soon!

[2017-08-18 00:23] MoritzC opened #255 "Installation problems on Raspberry Pi"
when running `sudo apt-get install golang-go` i only got
go1.3.3 linux/arm
which threw all kinds of errors during `go install`

to get the recommended version - Go 1.8 - get the archive [here](https://golang.org/dl/)

example with newest version
`wget https://storage.googleapis.com/golang/go1.8.3.linux-armv6l.tar.gz`
`tar -C /usr/local -xzf go1.8.3.linux-armv6l.tar.gz`

[2017-08-18 02:21] Roasbeef commented on #20
Fixed by #250.

We'll be making a few follow up issues to implement some more of the advanced functionality outlined in this original issue, as well as Alex's PR.

[2017-08-18 02:21] #20 closed

[2017-08-18 02:22] Roasbeef commented on #25
We've opted just to provide details installation instructions for certain popular languages. These instructions can be found in [this directory](https://github.com/lightningnetwork/lnd/tree/master/docs/grpc).

[2017-08-18 02:22] #25 closed

[2017-08-18 02:24] Roasbeef commented on #183
This has been implemented by the [`autopilot`](https://github.com/lightningnetwork/lnd/tree/master/autopilot) package. Closing.

[2017-08-18 02:24] #183 closed

[2017-08-18 12:26] BitfuryLightning opened #256 "Bug in breach arbiter"
It seems like when the balance of one party in breached commitment is 0, breach arbiter is unable to create justice tx, because it assumes that there are always two outputs to parties.
Example test
https://github.com/BitfuryLightning/lnd/commit/b7f8e5bf9058c5f780894e44092fa455b76ae565

Should I:
1. Create are distinct test for it?
2. Fix it?

[2017-08-18 12:28] BitfuryLightning commented on #226
It seems that macaroon gets merged, so I will proceed.

[2017-08-22 08:07] Roasbeef commented on #243
I think both of those flakes should be fixed at this point int he latest version of master. Can you verify that you don't encounter these flakes anymore? Thanks for the report!

[2017-08-22 08:07] Roasbeef commented on #254
This should be fixed in the latest version of master. Leaving open for now as to wait for verification before closing.

[2017-08-22 11:24] cdecker commented on #254
No longer panics :+1:, though parsing fails and kills the connection. The following gossip messages are created by c-lightning and parse correctly in Eclair, but fail in lnd:

```01000e3a2a9376c229a1431e87d8afba0be2d151ffe46ec5aba846efd61159925dde47f277e7bf124807ef2dda4632912de3c9c6bd9f367be588b7be541e4e2ae82cce438995e84341bcc99674bec1540a857c20f1efbc218bf732e5e5cbfb4d1f0a547a2b1688cb111cfdfd5bebb

[2017-08-23 08:47] juscamarena opened #259 "lnd daemon crash"
https://pastebin.com/1Cn9uyXD

I left it running overnight. This is the lnd instance I use for the backend over at lightning.bitrefill.com

commit: 90a03954b252c382b0dd5a4317d38d967e6673d0

I have since updated to master.

[2017-08-23 15:55] DaReaper opened #260 "[lncli] rpc error: code = Unknown desc = cannot get macaroon: root key with id 0 doesn't exist"
Hi,

I've been getting this error when I am attempting to generate a new address using either p2pkh, p2wkh or np2wkh:

[code]

Lncli version- 0.2.1

My LTN chainstate is currently synched to the latest block header on the BTCN testnet.

Kindly help me out on this.

Thanks

[2017-08-23 16:08] halseth commented on #260
is this only an issue with the `newaddress` command?

One workaround is to just start `lnd` with the extra argument `--no-macaroons`

[2017-08-23 16:20] DaReaper commented on #260
@halseth Just checked it happens even with other commands.

I've also tried the following and ended up with the following error:
[code]

[2017-08-23 16:22] halseth commented on #260
Try passing it as an argument when you start your lnd node:
[code]
then issue the lncli command as before:
[code]

[2017-08-23 16:24] DaReaper commented on #260
@halseth Thank you, trying it out. Also have another question. What's the safer way to stop lnd? At the moment I ran lnd --no-macaroons and I get this:
`
Started rescan from block 00000000145850f562e423304bab37b00b48ac8a0ee9b3bd944d14ee68f907e5 (height 62385) for 1 address`

[2017-08-23 16:32] halseth commented on #260
You can do `lncli stop` or just press `ctrl-c` in the `lnd` terminal :)

[2017-08-23 16:34] DaReaper commented on #260
@helseth Thank you very much for your time and support! The address got succesfully generated. You're amazing!

[2017-08-23 17:43] #260 closed

[2017-08-23 18:00] aakselrod commented on #260
For future reference: this is a symptom that the data directory was deleted (including the macaroons database) and the macaroons in the root directory weren't. The `admin.macaroon` and `readonly.macaroon` files are for clients to use, but they encode macaroons that are usable only with the macaroon database for that instance; if the macaroon database is deleted, those files become invalid and must

[2017-08-23 18:35] #259 closed

[2017-08-23 18:56] Roasbeef commented on #254
Closing as we located the issue: c-lightning wasn't populating the `chain_hash` field in the `ChannelAnnouncement` message.

[2017-08-23 18:56] #254 closed

[2017-08-24 09:55] juscamarena opened #261 "Neutrino Error"
https://pastebin.com/PZ065arN

Restarting it made it fetch everything fine after.

commit 48712526d61c1512dff26211082a97b0605f270e

[2017-08-24 18:24] johynpapin commented on #175
Hello. Can I work on this issue?

[2017-08-24 18:39] aakselrod commented on #175
Sure. This should be an easy one, since we're no longer planning on integrating a LevelDB back-end at this time.

[2017-08-24 19:09] dooglus opened #263 "state go version dependency"
I tried following the installation instructions in docs/INSTALL.md and failed.

is it worth mentioning the minimum supported version of go? I used the apt-get command from the instructions and ended up with version 1.3.3 on debian stable, which failed when I tried to install glide.

I don't really understand why it installed v1.3.3 when v1.7.5 is available in backports, but that's what happened.

[2017-08-24 19:45] DaReaper commented on #260
@aakselrod You're right, I had deleted the database files but forgot to delete admin.macaroon and readonly.macaroon. Thanks for pointing that one out!

[2017-08-24 21:03] Roasbeef commented on #263
Hi @dooglus, thanks for pointing this out! A prior version of our documentation specified the minimum golang version, but looks like it was lost in a recent re-org. I'll be pushing a commit shortly that updates the installation notes and also specifies the min golang version.

[2017-08-24 21:09] #263 closed

[2017-08-24 21:54] johynpapin commented on #175
In that case I will try to do that.
I want to make sure I understand the problem.
So I have to add an RPC to make a backup, and add the corresponding command in the cli?

[2017-08-24 23:43] cfromknecht commented on #256
@BitfuryLightning thanks for documenting this! I am currently working on improvements to the breach arbiter in these PR's #241 and #264. I have talked with @Roasbeef about a potential solution and will see that it is resolved in the latter update.

[2017-08-26 00:57] Roasbeef commented on #184
Closed by #241.

[2017-08-26 00:57] #184 closed

[2017-08-27 20:42] Crypt-iQ commented on #186
I would like to work on this.
I am not sure if @lostinblue is still working on this or not.

[2017-08-27 20:57] Roasbeef commented on #43
Closing as this issue is now obsolete.

[2017-08-27 20:57] #43 closed

[2017-08-27 20:58] Roasbeef commented on #255
I've recently updated the documentation to indicate that the min golang version if go 1.7.

Closing.

[2017-08-27 20:58] #255 closed

[2017-08-27 22:09] Roasbeef opened #270 "Make the ChannelRouter and ChannelGraph re-org aware"
# Issue

Currently, the channel router attempts [prunes edges from the `ChannelGraph`](https://godoc.org/github.com/lightningnetwork/lnd/channeldb#ChannelGraph.PruneGraph) with each new block that's connected to the end of the main chain. The set of outpoints (channels) that the `ChannelRouter` watches is the [`ChannelView`](https://godoc.org/github.com/lightningnetwork/lnd/channeldb#ChannelGraph.

[2017-08-27 22:24] Roasbeef opened #271 "Fuzz the wire parser in the lnwire package"
# Issue

Currently, within the `lnwire` package, we have a set that uses the [`testing/quick`](https://golang.org/pkg/testing/quick/) package to create a set of block-block tests that use the quickcheck testing paradigm to exercise our wire parser. This set of tests uses property based testing to ensure that the parser is able to adhere to the [`mainScenario`](https://github.com/lightningnetwork/l

[2017-08-27 22:53] Roasbeef opened #272 "Convert all onion errors to adhere to the error interface, interpret in ChannelRouter"
# Issue

Within the protocol, we use onion routed payment paths to add a degree of censorship resistance and privacy to the process of sending and forwarding payments within the network. We also re-use the generated onion circuits to send HTLC related forwarding errors on the _backwards) path. Details of the format and types of these errors can be found in [`BOLT-0004`](https://github.com/lightnin

[2017-08-27 23:06] Roasbeef opened #273 "Add a new SetAlias method to allow updating a node's alias"
# Issue

Currently, for a node's alias (essentially a user-agent string) we simply use the first few hex characters of a the node's public key encoded using the serialized form. Users should be able to configure this, either via a new RPC, or just via a command line flag. Or, why not both? ¯\_(ツ)_/¯

# Steps to Completion

- [ ] Add a new `SetAlias` RPC that allows users to modify their alias.

-

[2017-08-27 23:13] Roasbeef opened #274 "Don't unconditionally create a new NodeAnnouncement upon startup"
# Issue

[Atm, upon start up we'll unconditnioally create a new node announcement, write it to the database, sign the announcement ~~and broadcast it to the network~~](https://github.com/lightningnetwork/lnd/blob/master/server.go#L212). This is unnecessary, as we should only do this if configuration options between this running instance and the last have modified what our `NodeAnnouncement` _shoul

[2017-08-27 23:38] Roasbeef opened #275 "De-duplicate announcements in the AuthenticatedGossiper"
# Issues

Atm, when we receive valid announcements either from the network, or a local subsystem within the [`AuthenticatedGossiper`](https://github.com/lightningnetwork/lnd/blob/master/discovery/service.go#L99) we immediately add them to the next announcement batch. This can cause excessive spamming as if user triggers a command that triggers a new `ChannelUpdate` to be sent, then each instance o

[2017-08-28 00:32] Roasbeef opened #276 "Utilize new golang 1.8 features within the codebase"
# Issue

With golang 1.9 out, we'll be sliding over by a version, making the minimal version supported by `lnd` to be golang 1.8 and 1.9. As a result, we can now safely use new language features or package related changes that are now relevant. Off the top, I can think of two such instances, though it's possible that there are many more.

# Steps to Completion

- [x] We can now use the [`sort.Slic

[2017-08-28 01:13] Roasbeef opened #277 "Expand PublishTransaction into a reliable transaction [re]broadcast sub-system"
# Issue

Currently, we use the `PublishTransaction` method of the [`WalletController`](https://godoc.org/github.com/lightningnetwork/lnd/lnwallet#WalletController) interface to broadcast transactions. Relevant transactions that are to be broadcast include: funding transaction, commitment transactions during a force close, transactions sweeping time locked outputs within the `utxoNursery`, and just

[2017-08-28 01:42] Roasbeef opened #278 "Add fee-based cut-off within SendPayment of the ChannelRouter"
# Issue

Any attempts to send payments within the daemon is eventually routed through the [`SendPayment`](https://github.com/lightningnetwork/lnd/blob/master/routing/router.go#L976) method of the `ChannelRouter`. As it stands now, there are no fee-based cut offs during the path finding process. This means that it's possible, given a particular path and payment amount for the fees paid to exceed 10

[2017-08-28 05:19] blico commented on #274
I would like to give this one a shot! (seems easy enough)

[2017-08-28 05:45] Crypt-iQ commented on #186
I've looked for a couple of hours, and though Tor now uses Ed25519, it does not yet use it for hidden services.  No sources online that I could find indicated or showed how to generate a hidden service with a Ed25519 secret key.  I used both the ControlPort's "ADD_ONION NEW:<private key> Port=<port>" command with an Ed25519 key and received a 513 Invalid Key error.  I also tried creating a hidden

[2017-08-28 05:57] liuchengxu opened #279 "no admin.macaroon"
The error occurs when I try to run `lncli newaddress np2wkh` in docker. Any clue?
[code]

[2017-08-28 10:51] halseth commented on #279
Are you using `--no-macaroons` when starting `lnd`? Try also specifying `--no-macaroons`  to `lncli`

[2017-08-28 11:32] liuchengxu commented on #279
Hi, @halseth, this is what I got:

[code]

[2017-08-28 11:57] halseth commented on #279
Ok, not sure exactly why the macaroon was not created when running `lnd`, but you should be able to work around this by starting `lnd` (in addition to lncli) with the `--no-macaroons` flag.

@aakselrod can provide more info.

[2017-08-28 12:50] aakselrod commented on #279
If you're running `lnd` in a different directory than the default, the `admin.macaroon` file gets created there. `lncli` looks for it in `~/.lnd/admin.macaroon` by default but you can specify a different location with `--macaroonpath`. If you're using `--no-macaroons` in `lncli`, you need to use it when starting `lnd` as well.

[2017-08-28 19:56] aakselrod opened #281 "Add new TLS cipher suites"
After issue #276 is completed, there's an additional bit of improvement allowed by Go 1.8 that can be done. The new standard library has additional cipher suites that can be added to the `CipherSuites` slice in the TLS configuration in `lnd.go`. Only those suites that follow the guidelines listed in the comments should be added. Specifically, this means that they shouldn't use outdated primitives

[2017-08-28 20:05] aakselrod opened #282 "Macaroons: encrypt DB entries with key protected by same PW as wallet"
Currently, macaroon database entries (particularly root keys) are written in plaintext. This is OK for alpha, but unacceptable for mainnet operation with real money. The following steps need to be taken:

- [ ] Add code (similar to waddrmgr) to lock/unlock macaroon database, storing a key encrypted with a password, and allowing to change the password
- [ ] Add code to upgrade the database by encry

[2017-08-28 20:31] aakselrod opened #283 "Add command-line tool to delegate macaroons"
Macaroons are useful because it's possible to delegate them without contacting the target service. `lncli` shows an example of how to do it with an expiration time. Either a new command can be added to `lncli` or a new command-line tool altogether can be written to delegate macaroons. Currently supported caveats include allowed/denied RPC permissions and expiration time but the tool will need to b

[2017-08-28 20:37] aakselrod opened #284 "Add macaroon-specific tests"
The macaroon code needs some tests! Some ideas for things to test include:

- [ ] Authenticating to one macaroon service with the macaroon of another service, with no macaroon, or with an invalid macaroon
- [ ] Authenticating using permissions that are denied or allowed in various ways
- [ ] Authenticating with macaroons containing expired and non-expired `TimeBeforeCaveat`
- [ ] Doing all of the

[2017-08-28 21:14] aakselrod opened #285 "Macaroons: add better request replay protection"
The `lncli` command-line utility currently adds a 60-second expiration by default to help mitigate potential replay attacks. We may be able to do better, at least for native protobuf-based gRPC. My current best idea is to add a caveat type for a `RequestHash` and add that caveat, along with the existing expiration, with every call from `lncli`. This should work as long as the `RequestHash` doesn't

[2017-08-28 21:35] aakselrod opened #286 "Add support for root key and possibly macaroon rotation"
When new macaroons are generated, it would be good to rotate the root keys used to generate them. This would include the following change:

- [ ] Update the `RootKeyStorage` implementation to generate a new root key and ID every time `RootKey()` is called.

It might also be a good feature to force macaroon rotation by causing generated macaroons to expire as follows:

- [ ] Update `genMacaroons()`

[2017-08-28 22:25] aakselrod opened #287 "Add support for additional macaroon restrictions such as requester's IP"
There's some low-hanging fruit for locking down macaroons to specific IP addresses using `ClientIPAddrCaveat` provided by the `go-macaroon-bakery`. It would be good to implement this in `macaroons/auth.go` and then in the delegation utility alluded to in #283.

[2017-08-28 22:37] aakselrod opened #288 "Research/add third-party caveat support for discharging macaroons"
Currently, `lnd` doesn't use third-party caveats at all. This is a very powerful feature for using external state as auth information for a request; however, its use requires some detailed security analysis. Third party caveats allow external services to discharge them, thus allowing such features as:

* using gateways to directory services such as LDAP or Active Directory to authenticate/authoriz

[2017-08-28 23:16] aakselrod opened #289 "Add caveat for limiting a user's ability to send payments only to/via specific nodes"
It is possible to limit users/processes to send money only via specific routes or to specific nodes. A new type of caveat would have to be implemented that would allow constructions similar to the following:

* `path[0] in {node1, node2}` to specify that the user can only send through channels open with `node1` or `node2`
* `path[-1] in {node3, node4}` to specify that the user can only send to fin

[2017-08-29 00:44] aakselrod opened #291 "Add support for accounting-based macaroons"
There is a large set of functionality that can be added by extending `lnd`'s macaroon implementation by adding internal state. This partially draws on #286, but also adds root key deletion/expiration with garbage collection. This functionality could enable use cases described in [issue #20](https://github.com/lightningnetwork/lnd/issues/20#issuecomment-270564394) such as:

* Giving a process or us

[2017-08-29 04:24] liuchengxu commented on #279
Thanks, @aakselrod . Could you give me some more specific instructions? Actually, I'm not familiar with go and docker. Based on your info, if I run `lnd` in the default directory, it should be ok? Then where's the default directory? I didn't realize it.

[2017-08-29 04:27] Crypt-iQ commented on #186
I have several questions:
1.  When creating the HS, do we need to store the private key?  This would allow the same HS to be re-run at a later time.  I know Bitcoin Core does this (https://github.com/bitcoin/bitcoin/blob/master/src/torcontrol.cpp#L507).
2.  What sorts of authentication to Tor's ControlPort should be supported?  Cookie authentication AND Password authentication?
3.  Where would thi

[2017-08-29 06:39] y-zono opened #295 "docker tutorial .lnd/admin.macaroon: no such file or directory"
I'm trying to start the docker tutorial https://github.com/lightningnetwork/lnd/tree/master/docker.

However, I got `.lnd/admin.macaroon: no such file or directory` error. How can I fix this problem?

1.server info

[code]

2.install docker-compose

[code]

https://docs.docker.com/compose/install/

3.install docker

[code]

https://docs.docker.com/cs-engine/1.13/

4.install lnd

[code]

(*1)

I go

[2017-08-29 06:45] y-zono commented on #279
I have the same issue. I posted my issue since I didn't notice here. https://github.com/lightningnetwork/lnd/issues/295

[2017-08-29 07:23] y-zono commented on #279
@aakselrod Is this what you said?

[code]

[2017-08-29 08:18] liuchengxu commented on #279
Nice, @y-zono .

However, I fail to run "Bob" node via `docker-compose up --no-recreate -d --name bob lnd_btc`. @y-zono  Have you also met this?

[code]

[2017-08-29 08:28] y-zono commented on #279
yes. I have the same issue. still I can't solve it.

[code]

[2017-08-29 10:17] halseth commented on #279
I think there's an error in the tutorial. Try using this instead:
[code]

[2017-08-29 10:28] liuchengxu commented on #279
Thanks, @halseth . It works.

[2017-08-29 10:53] Crypt-iQ commented on #271
I can do this - I've used American Fuzzy Lop before so this is familiar territory.

[2017-08-29 11:32] liuchengxu commented on #279
One more problem: `--num_confs` not defined:

[code]

After I remove the `--num_confs` option, another error occurs:

[code]

The docker tutorial seemingly looks really problematic, so I didn't open up another thread.

[2017-08-29 11:34] halseth commented on #279
Yeah, I encountered the same error, fix is up here: #296

The second error seems to just be that the btcd instance is not synced. Are you running on simnet? If so, did you remember to mine the blocks specified in the tutorial?

[2017-08-29 11:47] liuchengxu commented on #279
Thanks, @halseth . I'll check it out.

[2017-08-29 21:25] aantonop opened #297 "SIGSEGV during startup and chain sync (lnd 0.3 alpha)"
I'm getting a segmentation fault soon after startup, failing to sync chain in neutrino mode:
[code]

[2017-08-29 23:08] Roasbeef opened #298 "Fully validate all channel commitment flow constraints"
# Issue

Within the specification [there are a series of flow control and reserve related parmaters](https://github.com/lightningnetwork/lightning-rfc/blob/master/02-peer-protocol.md#requirements) which are used in order to allow nodes to limit their total exposure at any given time (flow control), and also to ensure that both sides always have skin-in-the-game (reserves). The reserves are require

[2017-08-29 23:23] Roasbeef opened #299 "Observe the routing table dump feature bit"
# Issue

Within the protocol, we use [feature bits](https://github.com/lightningnetwork/lightning-rfc/blob/master/09-features.md) to allow nodes to signal their awareness and possibly implementation of new features. Features are either optional or mandatory. An optional feature means we can still interact if you don't know of it, while a mandatory feature means I'll kill the connection and go seek

[2017-08-30 00:52] jamesob commented on #299
Going to be tackling this in the next few days. If anyone has a burning desire to take this over, just say so!

[2017-08-30 01:17] Roasbeef opened #300 "Port over all specification test vectors into table-driven tests"
# Issue

The set of specifications includes a number of tests vectors across the various documents in order to provide implementations with valid inputs to automated tests to ensure that their implementations at least partially compatible with other implementations. In several areas of the codebase, we've ported over these tests to be executed using the [table-driven test paradigm](https://github.

[2017-08-30 01:24] aakselrod commented on #297
This panic should go away with the newest code; though this may not fully fix the issue. Can you please update and try again? Thanks!

[2017-08-30 01:32] Roasbeef opened #301 "Implement 2-week network view pruning"
# Issue

Within the [`AuthenticatedGossiper`](https://github.com/lightningnetwork/lnd/blob/master/discovery/service.go#L99) we currently have a period goroutine, driven by a [`time.Ticker`](https://golang.org/pkg/time/#Ticker) which re-announces the latest channel update for our set of active outgoing channels. This is done to ensure that the latest version of the current routing policy attached w

[2017-08-30 02:33] Roasbeef opened #302 "Allow extraction of logs from running lnd instances in Travis integration tests"
# Issue

We currently use [Travis](travis-ci.org) (like many other projects) for automated Continuous Integration within the project. We run a few batches of tests across the versions of golang that we officially support, toggling on the [race condition detector] to run the project wide unit tests, and also using our [integration testing framework](https://github.com/lightningnetwork/lnd/blob/mast

[2017-08-30 03:22] Roasbeef opened #303 "Re-send FundingLocked in ChannelLink upon re-connect if at state zero"
# Issue

The current specification draft describes the process of re-synchronizing channel state upon reconnection. As transports can be unreliable, we don't have a guarantee that the remote party actually received the last update we sent before the connection was closed. As a result, upon reconnection we'll attempt to retransmit the state necessary to reconcile any possible deviations in our stat

[2017-08-30 04:08] Roasbeef opened #304 "Implement persistent HTLC expiry decayed Sphinx packet replay protection"
# Issues

[Our implementation](https://github.com/lightningnetwork/lightning-onion) of [Lighting's onion routing protocol](https://github.com/lightningnetwork/lightning-rfc/blob/master/04-onion-routing.md) critically depends on proper replay protection in order to deliver on its privacy guarantees. Otherwise, an attacker can inject a prior HTLC into the network to attempt to re-trace its path in t

[2017-08-30 04:49] Roasbeef opened #305 "Implement block-based grace period for channel announcements"
# Issue

Atm, as soon as a channel has reached the specified number of confirmations, then [we _immediately_ announce it to the network](https://github.com/lightningnetwork/lnd/blob/master/fundingmanager.go#L1355). Instead of the immediate announcement, we should be following the specification's prescription to wait until [the funding transaction has reached _at least_ 6 confirmations](https://git

[2017-08-30 04:58] Roasbeef opened #306 "Observe channel announcement preference during channel funding workflow"
# Issue

During the funding workflow process, the initiator of the workflow [signals a bit to indicate if this channel should be announced to the network or not](c627c21cc1e6a58987ad6995172ce1ec3a32fdb361dcda7e6cbfec836e547c97). At this point, we don't currently observe this bit, and will instead [_unconditionally_](https://github.com/lightningnetwork/lnd/blob/master/fundingmanager.go#L1355) annou

[2017-08-31 03:33] liuchengxu commented on #279
hi, @halseth. I have a question:

In the end of *Create lightning network cluster* section, the balance of bob is 0.0001.
[code]

But after I finish the tutorial literally, the balance is 10000. Is there anything I'm missing?

[2017-08-31 03:34] Roasbeef commented on #279
@liuchengxu, the tutorial is a bit out of date. Previously, we used BTC as a unit within `walletbalance`, now we use satoshis. `0.0001 BTC == 10000 satoshis`, so there's no issue here.

[2017-08-31 03:40] liuchengxu commented on #279
Thanks, @Roasbeef.

[2017-09-01 02:12] #279 closed

[2017-09-01 10:24] Crypt-iQ commented on #271
I made a PR for one error that `go-fuzz` found: https://github.com/lightningnetwork/lnd/pull/310

[2017-09-01 12:40] halseth commented on #271
Good finds! 😃  How hard would it be to add the fuzz test that found these errors together with the fix?

[2017-09-01 12:43] Crypt-iQ commented on #271
@halseth do you mean the malicious input?  I'm not sure where I'd put it and whether it belongs in a PR.  I could make a gist though...

[2017-09-01 12:47] halseth commented on #271
I'm not familiar enough with `go-fuzz` to know what this input looks like 😛  It would be nice if the fuzz tests ran continuously together with the rest of the tests, to make sure the bugs are not introduced again, and maybe catch more?

[2017-09-01 12:52] Crypt-iQ commented on #271
@halseth I would agree, but the corpus that `go-fuzz` generates might get too large to include in a repo.  This is a specific test I made to follow the stacktrace that the fuzzer gave me upon crash: https://gist.github.com/Crypt-iQ/96ef579fb6229b6f47ec8c0d41aecd10

[2017-09-01 12:55] halseth commented on #271
Aha, cool :) Let's hear what @Roasbeef was thinking. Thanks!

[2017-09-01 14:17] Crypt-iQ commented on #271
No problem !

[2017-09-01 20:19] Crypt-iQ commented on #271
One thing that `go-fuzz` found was that when deserializing `MsgFundingSigned` messages and then asserting equality after serialization, the two `[]byte` (pre-deserialization and post-serialization) are not deeply equal.  This is because of [line #54](https://github.com/Roasbeef/btcd/blob/master/btcec/signature.go#L54) here which is called only on serialization of `MsgFundingSigned` and alters `*Si

[2017-09-02 01:55] Crypt-iQ commented on #271
I believe that `go-fuzz` has found all of the bugs it can find with the given corpus.  I simply started with a serialized message for each message type and let `go-fuzz` generate the rest of the corpus.  After several hours of running, it has found no more crashes.

[2017-09-03 12:32] johynpapin commented on #21
Does anyone work on this issue? If not, I'll try.

[2017-09-03 14:07] Crypt-iQ commented on #305
I can do this one.

[2017-09-03 18:09] aakselrod commented on #21
Sorry the assignment isn't updated, but I'm working on this issue. Thanks!

[2017-09-03 22:14] flaurida commented on #276
I am going to tackle the first part of this (first checkbox) :)

[2017-09-03 22:52] flaurida commented on #276
Still getting my feet wet but here's my code for replacing the first sort.Sort
https://github.com/lightningnetwork/lnd/pull/315

[2017-09-04 08:08] halseth commented on #303
Taking a look at this one :)

[2017-09-05 07:55] igy254 opened #316 "Incorrect instructions for Go installation on linux"
A the moment instruction for Go installation on Linux is `sudo apt-get install golang-1.8-go`, that is not correct way, and it won't work always and won't work on Debian based distros.

The correct way is:

`wget https://storage.googleapis.com/golang/go1.9.linux-amd64.tar.gz`
`sudo tar -C /usr/local -xzf  go1.9.linux-amd64.tar.gz`

[2017-09-06 07:47] Crypt-iQ commented on #306
I can also take this since it's related to #305

[2017-09-06 18:39] djseeds commented on #278
As long as someone else hasn't been working on this, I'd love to take this issue. I was using this issue as a self-study, but now I think I'm pretty close to finishing the implementation. I definitely need to write some tests, though, before PR.

[2017-09-07 00:33] flaurida commented on #275
I'm going to take a stab at this :)

[2017-09-07 08:06] halseth commented on #275
Here's a bit of background to batch announcements: https://github.com/lightningnetwork/lightning-rfc/blob/master/07-routing-gossip.md#rebroadcasting

[2017-09-07 08:14] halseth commented on #278
Cool! Feel free to put up a pull request of your work (even though it is not ready for merge yet), to get some initial feedback 😄

[2017-09-07 19:36] patwhite commented on #295
So, I see that there's a workaround to specify the macaroon directory list in #279 - @halseth is the right way to handle this through the work around and just update the documentation, or could we tweak the startup scripts to use the other location? Happy to do the work if you give some guidance

[2017-09-07 20:40] halseth commented on #295
Probably tweaking the startup script would be preferred, then the user wouldn't have to worry about specifying the macaroonpath every call to `lncli` 😄

You probably would want to change this line to `~/.lnd`, or maybe remove it completely (such that `lnd` will use the default path): https://github.com/lightningnetwork/lnd/blob/master/docker/lnd/start-lnd.sh#L49

[2017-09-07 23:43] flaurida commented on #275
thanks!

[2017-09-08 00:46] ddustin commented on #273
I'm working on this one

[2017-09-08 04:22] y-zono commented on #295
Thanks @patwhite @halseth My issue was solved.

[2017-09-08 04:22] #295 closed

[2017-09-08 08:03] johng commented on #272
For errors of type NODE and FlagBadOnion, what is the expected behaviour?

[2017-09-10 03:28] molxyz commented on #316
Agreed. I've also found the better way like this. I've made a little guide for myself just a little bit different because I'd like to verify downloaded files:
`1. DOWNLOAD GO
curl -O https://storage.googleapis.com/golang/go1.9.linux-amd64.tar.gz
# Verify downloaded file by checking the hash taken from: https://golang.org/dl/
sha256sum go1.9*.tar.gz
d70eadefce8e160638a9a6db97f7192d8463069ab33138893

[2017-09-10 16:40] mrwhythat commented on #286
@aakselrod I'd like to take this as well as other macaroon-related issues such as #285 , but I'd like to base it on #313 when/if it is reviewed/approved

[2017-09-10 17:14] Crypt-iQ commented on #304
I would like to take this if that's ok

[2017-09-10 17:16] aakselrod commented on #286
@mrwhythat I'm hoping to review it this week. I'm in France for Breaking Bitcoin.

[2017-09-10 20:38] molxyz opened #324 "Short command for invoice payment"
Per roasbeef's suggestion, I would like to ask for a change in the command to make invoice payment when using lnd with btcd on commandline.  So, instead of
`lncli sendpayment --pay_req=yx9zqprrqp9f16s9ymcmikjkwxm7a9gbeqm373dehytc96yjd1bjn8ym18sw3mp5rg1rcfitqcj3u6up1acnw9195urj9j5uwjnnpezyyyyyyyyyyyycoxjj3ydy`

Could we make it shorter, something like:
`lncli payinvoice yx9zqprrqp9f16s9ymcmikjkwxm7

[2017-09-11 18:41] blico commented on #301
The description of the first step is not clear to me. Based off of the spec, I am assuming that functionality should be added to the re-broadcast loop that checks for stale channels, and prunes if necessary.

[2017-09-12 17:11] cfromknecht opened #327 "Reliable Handoff betwixt Wallet and On-Chain Subsystems"
Issue
====

We currently use two primary subsystems, i.e. the utxo nursery and breach arbiter, to broadcast on-chain transactions in response to particular types of channel closures. We are looking to further improve the fault tolerance of the handoff initiated by the wallet when it initially detects the relevant channel closures, e.g. [breaches](https://github.com/lightningnetwork/lnd/blob/master

[2017-09-13 07:46] samvrlewis commented on #302
Keen to look into this if it hasn't already been tackled, looks like a good way to get my feet wet!

[2017-09-13 18:18] molxyz opened #329 "Misspelling found on LN Community Blog"
"bitcoin.rpcpass" is misspelled in one place, screenshot to show here: https://i.imgur.com/Iqc1d07.png .
This error is found on this blog (the line before "Docker Build"):
http://lightning.community/lnd/faucet/2017/01/19/lightning-network-faucet/

Thank you.

[2017-09-13 21:44] Roasbeef commented on #301
@blico as in, it should tick every 30 minutes, but filter out the edges it re-broadcasts. It should only re-broadcast a `ChannelUpdate` message, if now minus the `Timestamp` (expressed in unix time), is "close" to 2-weeks.

Re-reading, you're partially correct as I forgot to add the third item: within that same tick, it should examine the edges of the graph, and only prune iff they haven't been up

[2017-09-13 21:47] Roasbeef commented on #302
@samvrlewis this issue hasn't been picked up yet. Solving it would greatly increase our ability to stamp down the remaining flakes we occasionally run into on travis!

[2017-09-13 21:47] Roasbeef commented on #302
@samvrlewis this issue hasn't been picked up yet. Solving it would greatly increase our ability to stamp down the remaining flakes we occasionally run into on travis!

[2017-09-13 21:49] Roasbeef commented on #305
@Crypt-iQ it doesn't require them, but makes sense to work on the others in tandem as they touch the same part of the codebase, and slight refactors in one will likely make it easier to do the rest.

[2017-09-14 00:22] flaurida commented on #287
I can take this while waiting for feedback on other PRs :)

[2017-09-14 01:32] blico commented on #301
Ok gotcha, thanks for the clarification. I will start working on this issue now.

[2017-09-14 10:57] aakselrod commented on #287
Thanks @flaurida, this is already being implemented in #313 by @mrwhythat.

[2017-09-14 12:24] cdecker opened #331 "Error messages double-hex encode temporary funding IDs"
Investigating another problem I noticed that the temporary funding ID in both the logs and the error messages transmitted to peers uses the funding tx ID in a double-hex encoded format:

    Unable to find signed reservation for chan_id=32653463303536373265623230373031333861643132626130323263663639393836646661663661653933653164663137646366393136386166316632356637

This should probably be

    Unab

[2017-09-14 13:36] flaurida commented on #287
Ah ok thanks for the clarification, how about this one instead then?
https://github.com/lightningnetwork/lnd/issues/60

[2017-09-16 22:27] rajeshnair2k commented on #324
I would like to take a stab at this. Is the intention here to create a new command with just payment request as the argument?

[2017-09-18 10:54] halseth commented on #324
Yep, that's my understanding at least :)

[2017-09-18 12:39] halseth commented on #270
I'll take this one :)

[2017-09-19 00:34] #331 closed

[2017-09-19 19:31] Roasbeef commented on #271
Thanks for all the work on this @Crypt-iQ! Do you think you could add some documentation under the `docs` folder which details how you set up your harness for fuzzing? This would include the initial corpus (possible committed as a compressed file), and the fuzzing function you used.

I envision this to be useful as we'll likely want to re-run the fuzzer in the future as we make modifications to th

[2017-09-19 19:55] Crypt-iQ commented on #271
Of course! @Roasbeef

[2017-09-19 21:37] ddustin commented on #273
@Roasbeef "Create a new LightningNode struct for the source node, update the alias, and write it to disk."

When you say 'write it to disk', where should it be written to disk?

[2017-09-19 23:46] Roasbeef commented on #287
Fixed by #313,

Closing.

[2017-09-19 23:46] #287 closed

[2017-09-20 00:23] Roasbeef commented on #271
Current running fuzzing graveyard:
  * #310
  * #312

[2017-09-20 09:37] samvrlewis commented on #302
Have looked about this and have a few options that I'd be interesting in hearing others thoughts on:

**Option 1. Append logs to the travis build log**
\+ Easy solution
\+ Don't need a 3rd party service
\+ Logs are easily associated with the build
\- Travis limits logs to 4MB. At the moment the lnd build log is ~90KB and the logs of all the integration tests are ~800KB. Some room to grow, but not

[2017-09-20 10:34] johng commented on #134
Looks like this has been done? The server doesn't start till the chain is fully synced

[2017-09-20 21:30] jimpo commented on #300
I'm working on this one.

[2017-09-26 09:50] halseth opened #352 "fatal error in server.go"
During a startup/sync of `lnd` a concurrent map access happened in `server.go`, causing `lnd` to crash:
[code]

The map in question is `persistentConnReqs`. Attached are complete crash logs. Happened on commit `d34e131426d378cd58c85d1418432a025eaba867`.

[server_crash.txt](https://github.com/lightningnetwork/lnd/files/1332621/server_crash.txt)

[2017-09-26 11:37] halseth commented on #352
Just saw #343. Yo @cfromknecht is it addressing this issue?

[2017-09-26 11:44] Crypt-iQ commented on #298
I'll take this one

[2017-09-26 19:55] Rav3nPL opened #353 "glide install failing on win10"
Trying back and forth - no workie
to make it funnier: when i do glide install on lighining-onion it works...
[code]

[2017-09-27 00:10] #256 closed

[2017-09-27 02:58] Roasbeef commented on #353
Which version of `glide` are you using?

[2017-09-27 04:21] braydonf opened #354 "Wallet balance available for funding channels non apparently witness specific"
A wallet without any witness outputs, but with a balance, will give `ErrInsufficientFunds`, when trying to open a channel. Looks like some faucets don't yet handle `p2wkh` addresses.

This may not be apparent without reading through the [coin selection code](https://github.com/lightningnetwork/lnd/blob/8a208ae3cd1556f9342e2795c137ccc834d127b9/lnwallet/wallet.go#L1286) and noticing use of `ListUnsp

[2017-09-27 04:24] Roasbeef commented on #354
Yep, we require that segwitty outputs be used as inputs to funding transactions, otherwise malleability is re-introduced.

For faucets, you can use the `np2wkh` address type which wraps a `p2wkh` script within a `p2sh` script.

[2017-09-27 04:24] Roasbeef commented on #354
I agree that this could be better documented!

[2017-09-27 10:56] halseth commented on #352
Did experience the same crash on the `s.peersByPub` map, on commit `80b703b941b8278e37e84933d902b357008cc0c8`:

[code]
[server_crash2.txt](https://github.com/lightningnetwork/lnd/files/1336766/server_crash2.txt)

[2017-09-27 11:00] cfromknecht commented on #352
I believe this is the same bug! Previous design only properly handled the case where the server initiated the disconnect, but could cause this error if the remote peer disconnects unexpectedly. New design should prevent the unprotected access to the internal state

[2017-09-28 20:18] Rav3nPL commented on #353
failing: glide version 0.13.0-dev  (build from source)
works on: glide version v0.12.3 (downloaded binary)

[2017-09-29 11:20] halseth commented on #277
I'll take this one 👍

[2017-09-29 22:11] Roasbeef commented on #302
Hi @samvrlewis,

Thanks for looking into this!

I appreciate the breakdown of the distinct directions we can pursue to implement this much needed testing/debugging feature. I like the gist option as it doesn't require an individual to manage an account hooked up to a credit or that requires an API key for authentication. Taking it a bit further, perhaps we can use zerobin type paste service that i

[2017-09-29 22:13] Roasbeef commented on #243
I've been watching our builds, and I believe the recent set of bug fixes and concurrency related bug fixes have addressed the issue itself.

Closing for now due to inactivity, if I see these pop up within the builds I'll re-open this. Thanks for reporting!

[2017-09-29 22:13] #243 closed

[2017-09-29 22:14] Roasbeef commented on #261
This commit https://github.com/lightninglabs/neutrino/pull/16/commits/0e4155a66399dcba3b4886425c41f986da68dd8b which recently landed in `neutrino` fixed this issue.

Closing.

[2017-09-29 22:14] #261 closed

[2017-09-29 22:38] #354 closed

[2017-10-02 05:40] thisconnect opened #363 "publish on npm?"
hi
simialar to lnd, ipfs is written in go and they distribute a binary, for various platforms

https://www.npmjs.com/package/go-ipfs-dep
https://www.npmjs.com/package/go-ipfs

this could help zap-desktop electron client https://github.com/LN-Zap/zap-desktop/pull/51

[2017-10-02 14:32] joaodealmeida commented on #363
Thanks for bring this issue @thisconnect .
This would be really nice! Is it on your roadmap ?

[2017-10-03 05:18] #272 closed

[2017-10-03 05:18] Roasbeef commented on #272
Fixed as part of: https://git.io/vdCym

[2017-10-03 12:57] halseth commented on #226
@BitfuryLightning did you continue working on this? If not, I will take it over :)

[2017-10-03 13:05] halseth commented on #303
Can be closed re #328 :)

[2017-10-03 22:31] Roasbeef commented on #303
Closing.

[2017-10-03 22:31] #303 closed

[2017-10-05 03:50] Roasbeef commented on #301
Adopted this issue after @blico did the initial work.

Closing.

[2017-10-05 03:50] #301 closed

[2017-10-05 20:50] kordless opened #368 "lnd Dockerfile is not building image on Docker Hub"
Step 10/11 : COPY "docker/lnd/start-lnd.sh" .

COPY failed: stat /var/lib/docker/tmp/docker-builder532973727/docker/lnd/start-lnd.sh: no such file or directory

[2017-10-05 22:24] Roasbeef commented on #368
That's a surprise: I wasn't aware that we have an image on Docker Hub!

Can you like to the image you're trying to build? If you're not able to build from pulling (whichever non-official) image you're pulling from Docker Hub, can you [build locally using the `docker-compose` set up](https://github.com/lightningnetwork/lnd/tree/master/docker)?

(also reminds me that the configuration should be upda

[2017-10-06 01:35] Roasbeef commented on #271
I have a machine with the fuzzing set up recently added running now. I'll continue to monitor this over the next few days/weeks and report here with any new issues found, re-opening as necessary.

Closing.

[2017-10-06 01:35] #271 closed

[2017-10-06 13:01] rajeshnair2k commented on #324
I have a pr(https://github.com/lightningnetwork/lnd/pull/359) open for this. Would appreciate feedback.

[2017-10-07 00:07] mrwhythat commented on #289
If I understand it correctly, these predicates are supposed to be the actual payload of the macaroon (i.e. part of its condition) with the corresponding macaroon checker being able to parse/validate it and apply it to the actual information about the payment route in order to make a decision.

[2017-10-07 05:09] aakselrod commented on #289
That's correct.

[2017-10-07 21:46] mrwhythat commented on #289
Started working on this. I'm assuming node identifiers (`node1`, `node2` etc) are `LightningNode`'s `PubKey` field values. Otherwise, syntax may be extended to allow IP/onion address restrictions.

[2017-10-09 11:16] samvrlewis commented on #302
Thanks for the thoughts @Roasbeef. I actually came across [transfer.sh](https://transfer.sh) the other day which looks perfect for this, so will push on using that.

This is the same method I tried I think, but I wasn't able to get TravisCI to build my fork properly as the package names in lnd refer to `github.com/lightningnetwork/lnd` but Travis had my `github.com/samvrlewis/lnd` fork. Building o

[2017-10-09 11:43] samvrlewis commented on #302
Aha, figured out an easy way to get builds of the forks to work (from https://github.com/cloudfoundry/cli/issues/286 ):

Add the following to the `.travis.yml`:

[code]

If this is useful feature for anyone else, I'm happy to open it as a separate PR otherwise will leave it here for posterity.

[2017-10-10 11:43] rajeshnair2k commented on #282
Is anybody working on this? Otherwise I would like to take a stab at this.

[2017-10-10 16:26] halseth commented on #282
I think #367 should be merged first :)

[2017-10-11 23:52] djseeds commented on #278
I believe I have found an issue in the current formulation of this proposed feature. Essentially, if a set of routes is [cached](https://github.com/lightningnetwork/lnd/blob/f20cb89982e0d9a66cf797383693241bf6c4acb5/routing/router.go#L951), `newRoute` is never called, so once again anything goes. This makes it possible for a route to succeed even if fees > maxFee.

For example, consider the route:

[2017-10-12 22:39] nvk opened #376 "LND FreeBSD release"
Would be very much appreciated if there was an official FreeBSD release.

[2017-10-12 22:45] Roasbeef commented on #376
`golang` has built in support for cross-compiling to FreeBSD and also natively compiling on FreeBSD, so you should be able to build everything locally (if inclined). The last release `v0.3-alpha` is now out of sync with the mainline in master, so it won't be able to establish channels with most of the current testnet network (although that _does_ have a FreeBSD binary, mostly untested though).

[2017-10-16 06:14] bryanvu commented on #368
This error goes away for me on Google Container engine if I remove the directory as in PR #378. @kordless can you send us the info for the image on Docker Hub so I can check to see that this fixes it?

[2017-10-16 16:26] juscamarena opened #380 "LND daemon crash"
Here are the logs in trace mode. It should all be at the end of the file, I copied the logs before starting it again.
https://pastebin.com/HSm9xRBM (I have some further back if needed.

Here's the console output when it crashed:
https://pastebin.com/2LxsH2R6

Here are all the channels I have open:
 https://pastebin.com/ay6KW2sb

I'm on commit f4e7c36c80e8e2be9edb78b3b317c69d28d6d78f

[2017-10-16 19:43] Crypt-iQ commented on #186
Since v3 addresses were released, I'll resume my work on this. Should also make it so that people don't need to port forward anymore when running `lightning-app`

[2017-10-17 09:53] stevenroose opened #381 "crash report: BRAR: unable to load channel from disk: json: cannot unmarshal array into Go struct field Vin.txinwitness of type string"
lnd crashes right after connecting to a new peer.

This are the logs I get for the crash:
[code]

And the stderr output is just this `json: cannot unmarshal array into Go struct field Vin.txinwitness of type string`.

I was on commit f20cb89982e0d9a66cf797383693241bf6c4acb5 when it happened and I suspect that the node that made the connection to me was on that one as well.

[2017-10-17 19:56] stevenroose commented on #381
As mentioned on IRC, this happens when pointing lnd at a btcsuite/btcd node instead of one running roasbeef/btcd.

[2017-10-17 21:21] Roasbeef commented on #381
Closing.

[2017-10-17 21:21] #381 closed

[2017-10-17 22:00] Rav3nPL opened #382 "SRVR: Backing off peer bootstrapper"
It can not find any peers?
btcd is correctly installed/synced and talking to lnd.
But it looks like lnd can not find any active bootstrap nodes.
Tail of my log (running it on screen):
[code]

[2017-10-17 22:42] #302 closed

[2017-10-18 05:47] Roasbeef commented on #299
Fixed by #373.

[2017-10-18 18:43] #299 closed

[2017-10-20 02:12] jimpo opened #385 "Proposal: Reliable HTLC update forwarding"
## Problem

When an intermediary node receives an HTLC update from a peer, it must first negotiate with the peer to irrevocably commit the HTLC then forward the HTLC update to the next node in the circuit. This is currently implemented but may fail if lnd panics or spontaneously dies during the handoff from one link to the next (through the switch). In this case, it is possible for a packet that s

[2017-10-20 02:17] #226 closed

[2017-10-20 20:15] halseth opened #386 "Handling non-confirmed funding transactions"
### Issue
During the current funding workflow, the responder should forget the channel if the funding transaction is not confirmed [within a reasonable timeout](https://github.com/lightningnetwork/lightning-rfc/blob/master/02-peer-protocol.md#requirements-4). For `lnd` this timeout is [currently set to 288 blocks](https://github.com/lightningnetwork/lnd/blob/master/fundingmanager.go#L47).

The fun

[2017-10-21 02:27] rajeshnair2k commented on #282
@halseth I will work on this one since you have merged #367

[2017-10-22 02:05] molxyz commented on #353
@Rav3nPL I also installed glide version 0.13.0-dev from source and it works fine, I'm wondering maybe it's not in the correct GOPATH?

[2017-10-23 14:10] infertux opened #388 "Missing port number in doc"
The command under https://github.com/lightningnetwork/lnd/blob/master/docs/INSTALL.md#running-lnd-in-light-client-mode is missing the port number and fails with the following message:

[code]

[2017-10-23 16:32] aakselrod commented on #388
This is fixed in https://github.com/lightninglabs/neutrino/pull/19 allowing a peer address to be specified without a port.

[2017-10-23 16:46] infertux commented on #388
Great. Closing it then.

[2017-10-23 16:46] #388 closed

[2017-10-24 09:10] mrwhythat opened #391 "Sending payment with 2+ hops fails"
After merging latest changes  to my branch for #372 , `testPaymentPathConstraint` test, which tries to use 2 hops, started failing, so I modified `testMultiHopPayments` to add David, forming the topology **Carol -> David -> Alice -> Bob** with the following:

[code]

This causes the test failure with the following error message:
[code]

Some digging showed that the problem is with `FailFeeInsuffic

[2017-10-24 09:48] mrwhythat commented on #391
Also, there seems to be no tests for multi-hop payments with more than one intermediary.

[2017-10-24 10:43] samvrlewis commented on #27
This issue looks pretty unloved -- if nobody else is working on it and if it's still useful, I'm keen to take a crack at it.

[2017-10-24 22:06] Roasbeef commented on #391
There're unit tests that cover that case, more or less, it's identical to any other multi-hop test as the intermediate nodes follow the exact same logic.

Have you seen this commit (https://github.com/lightningnetwork/lnd/commit/3e64ba0394d6dc709e31cf81eca554617eb110d1)? I think you might need to modify your test (or perhaps made a mistake during the merging) to ensure that it uses the returned pa

[2017-10-24 22:16] mrwhythat commented on #391
I'll take a look tomorrow, but examples I listed here reproduce on `master`. Also, as my test uses `lncli` directly, I do use payment request from the invoice with `--pay_req`.

[2017-10-24 22:18] Roasbeef commented on #391
Thanks for the details! I'm looking into this now. I recently modified the sphinx payload generation to accommodate a recent change within the specification and fixed an existing bug with our fee calculation along the way. It's possible I introduced a regression in the process. I'll reproduce this using your posted code fragment, and will likely be able to get a fix up in short order.

[2017-10-25 00:29] cfromknecht commented on #352
I believe this issue can be closed now, fixed in #343 AFAIA

[2017-10-25 01:34] #391 closed

[2017-10-25 01:44] Roasbeef commented on #352
Closing.

[2017-10-25 01:44] #352 closed

[2017-10-25 08:06] mrwhythat commented on #391
@Roasbeef thanks for the fix, now I can fix my payment path constraints.

[2017-10-27 22:40] #324 closed

[2017-10-29 16:48] kiahmed opened #393 "support to bitcoind and mainnet"
Hi, new to LN , wonder if it'd support the mainnet to try out a real working example also can I configure with bitcoind running on a separate server over RPC? Or is it only hard coded to btcd? I have bitcoind full node that wanted to use but setting up a complete new btcd node and syncing everything would be nightmare now

[2017-10-30 02:48] rodasmith commented on #393
For now, it is a specific build of btcd on testnet. It's pretty easy to set it up on testnet if you follow https://github.com/lightningnetwork/lnd/blob/master/docs/INSTALL.md

[2017-10-31 02:04] Roasbeef commented on #382
Fixed by 5b226a9d37b3a9d0b2f874f40d50d4c575ff0e55

Closing.

[2017-10-31 02:04] #382 closed

[2017-10-31 17:08] johynpapin commented on #386
I'll try to resolve this issue.

[2017-11-03 00:07] #270 closed

[2017-11-09 09:30] mlerner opened #403 "Refactor the lnwallet package"
Test coverage for the `lnwallet` could be increased (see https://coveralls.io/builds/14090803/source?filename=lnwallet%2Fwallet.go#L45). Refactoring the `lnwallet` package would make the packages more easily testable and understandable.

Several things could be done to refactor (in order of when they should be done):
1) Rename `lnwallet` to `wallet`.
2) Separate `btcwallet` and existing lightning-

[2017-11-11 03:53] #137 closed

[2017-11-11 03:53] #380 closed

[2017-11-11 03:55] Roasbeef commented on #297
Closing due to ref'd commit.

[2017-11-11 03:55] #297 closed

[2017-11-11 03:55] Roasbeef commented on #194
Fixed by https://github.com/lightningnetwork/lnd/commit/249e5781304a7bd4ec00496db9cf43b0070c44cc.

[2017-11-11 03:55] #194 closed

[2017-11-11 21:34] nalinbhardwaj commented on #180
I’ll take this up :)

[2017-11-13 09:30] stevenroose opened #408 "Wallet blocked when creating with empty password"
When lnd is launched, it asks for calling `lncli create`. When using the empty passphrase, it errors and exits. When trying again, `lncli create` fails with `wallet already exists`.

Workaround is deleting the two folders in the data directory.

[2017-11-13 09:33] stevenroose opened #409 "Structure of the data directory"
Right now, this structure is created:
[code]

It's kinda confusing that there is a `bitcoin/testnet` and `testnet3/bitcoin`. I think both `channel.db` and `wallet.db` could live in `<protocol>/<network>/`..

[2017-11-14 03:49] halseth commented on #408
Thanks, I will look into this!

[2017-11-14 04:56] Roasbeef commented on #409
The current structure is a hold-over as it's mid way between being able to support multiple chains. In a future of multiple chains, the `channel.db` file would be in a distinct folder as it would be shared across all other instances. In this case, it would look something like:
[code]

Agreed that the current structure is confusing and sub-optimal. Before `0.4-beta` is released, we want to have a s

[2017-11-14 07:18] mlerner opened #413 "Abstract graph functionality to interface"
As noted in a [TODO in routing/graph.go](https://github.com/lightningnetwork/lnd/blob/215d57acb9c145fb98eef7463e736a88ae7ebd2d/routing/graph.go#L3), it would be ideal to refactor some routing code to use an interface, rather than a concrete instance of `channeldb.ChannelGraph`. These changes would allow for graph operations to be abstracted.

An example of possibly affected code is the `findPaths`

[2017-11-14 09:23] stevenroose commented on #409
Perfectly understandable, just keeping this for the record.

Quick thing: does `./graph/testnet/` mean that both litecoin-testnet and bitcoin-testnet will be considered equivalent and share a db, while bitcoin-mainnet and litecoin-mainnet also share one? That's neat.

[2017-11-14 20:35] Roasbeef commented on #409
Yep, that's the plan! Stay tuned for some news soon on the implications of this 😉

[2017-11-14 22:44] mlerner commented on #180
@nalinbhardwaj: are you still working on this? if not, I can finish it.

[2017-11-14 22:51] nalinbhardwaj commented on #180
@mlerner I have the work done already but I think I may have misunderstood the task(which is why I was holding off a PR), is the graph diameter to be found using the same `EdgeWeight()` as `routing/pathfinding.go` or should channel weights be taken as 1?

[2017-11-14 23:22] bryanvu opened #414 "Store and display when multiple payments sent using the same invoice"
When a user sends multiple payments using the same payment request, the sender of the payment will only see one payment in response to the listpayments RPC. This is due to the payments being keyed by payment hash in the database. This will result in the payments shown being inconsistent with the channel balance. (Originally reported by fei via Slack)

[2017-11-14 23:38] bryanvu opened #415 "Add unconfirmed wallet balance to walletbalance RPC"
Currently, the walletbalance RPC returns the fully confirmed wallet balance. This can be confusing when a channel is opened with a particular amount, but a larger amount appears to be subtracted from the wallet balance until the change transaction is confirmed. This also creates confusion in the App UI. One solution would be to have the RPC return both the balance and the unconfirmed amount, and h

[2017-11-14 23:52] bryanvu opened #416 "Add "to" address to listchaintxns RPC"
Currently, the on-chain transactions list doesn't include addresses. In order to make transactions easier to identify, we should display the destination address for each transaction. This would also be useful for the Transactions page in the App, as Bitcoin users are accustomed to seeing addresses in transaction lists. Note that "from" addresses would require significantly more infrastructure to p

[2017-11-15 02:33] mlerner commented on #416
I am going to work on this.

[2017-11-16 00:50] Roasbeef commented on #275
Closed by #322

[2017-11-16 00:51] #275 closed

[2017-11-16 00:51] Roasbeef commented on #353
Closing due to inactivity.

[2017-11-16 00:51] #353 closed

[2017-11-16 00:53] Roasbeef commented on #393
`bitcoind` support will be added once the in-progress PR for #21 is up.

Closing.

[2017-11-16 00:53] #393 closed

[2017-11-16 09:02] nalinbhardwaj commented on #414
I’d like to try this.

[2017-11-16 13:25] yashbhutwala commented on #284
Is anyone else working on this issue? If not, I can take a stab at it.

[2017-11-16 14:40] nalinbhardwaj commented on #415
Taking this :)

[2017-11-16 16:27] Technifocal opened #420 "Missing backslash causing docker containers to fail to launch"
https://github.com/lightningnetwork/lnd/blob/master/docker/lnd/start-lnd.sh#L49

On the arguments for `lnd`, you have forgotten to add a backslash to the new argument implemented in 5ced45af01b0fe4d20f08a32b3cef91d18b35a89. This causes `lnd` to return back complaining about no coin (I.E. `--$CHAIN.active`) selected.

[2017-11-16 22:31] marcopeereboom opened #423 "Missing btcsuite/decred copyright in LICENSE file"
Hey guys, I went through the code a bit and I noticed that Decred was dropped from the license file:
https://github.com/lightningnetwork/lnd/blob/master/LICENSE

Per: https://github.com/btcsuite/btcd/blob/master/LICENSE the following 2 lines are missing:
Copyright (c) 2013-2017 The btcsuite developers
Copyright (c) 2015-2016 The Decred developers

[2017-11-16 22:39] aakselrod commented on #423
We need to add these to neutrino as well, since some of the code is taken from `btcd`.

[2017-11-16 22:41] Roasbeef commented on #423
This isn't a fork for btcd nor decred?

[2017-11-16 22:56] marcopeereboom commented on #423
Doesn't matter if it is a fork.  You have to retain the copyright either on a per-file basis or you shuffle the copyright owners into the main LICENSE file.

Just by having a quick look I found several files that are straight copies from btcd and that means you have to maintain the copyright.

[2017-11-16 23:06] Roasbeef commented on #423
Sure, we'll add the copyright to each of the copied files.

Here's a breakdown of the files we copied initially, let me know if I'm missing any:
  * https://github.com/lightningnetwork/lnd/blob/master/lnwire/message.go
  * https://github.com/lightningnetwork/lnd/blob/master/version.go
  * https://github.com/lightningnetwork/lnd/blob/master/signal.go
  * https://github.com/lightningnetwork/lnd/blob

[2017-11-17 05:58] mlerner commented on #414
I can work on this.

[2017-11-17 08:36] mlerner commented on #420
This should be fixed by https://github.com/lightningnetwork/lnd/pull/427.

[2017-11-17 15:34] pm47 opened #428 "Inverted fields in `Init` message"
The `init` message is [specified](https://github.com/lightningnetwork/lightning-rfc/blob/master/01-messaging.md#the-init-message) as `globalfeatures` then `localfeatures`, but `lnd` does the opposite:

https://github.com/lightningnetwork/lnd/blob/b31e94573b5897b2ab8c715a143119a5d7f37ac6/lnwire/init_message.go#L35-L51

[2017-11-17 18:55] halseth opened #430 "Make invoice decoding (zpay32) compatible with Litecoin addresses."
Currently, there's a bug in the `zpay32` package, making decoding BOLT-11 invoices for Litecoin (starting with `lnltc..`) fail. The reason is that decoding currently assumes the prefix is only 4 characters long, causing amount decoding include the last letter(s) of the prefix: https://github.com/lightningnetwork/lnd/blob/master/zpay32/invoice.go#L299

Steps to completion:

- [ ]  Add a test to `zp

[2017-11-17 21:27] #428 closed

[2017-11-17 22:19] shtirlic opened #431 "lncli connect does not understand ipv6 with port"
[code]

[2017-11-18 17:12] nalinbhardwaj commented on #430
Doesn't [cfromknecht/swapz](https://github.com/cfromknecht/lnd/tree/swapz/zpay32) already implement this? I think it just misses tests(which I can add once that's merged?)

[2017-11-18 20:04] halseth commented on #430
That one kinda works around this bug by trimming the prefix down to 2 characters for litecoin. This issue aims to solve it in a more generic way. The creation of "ltcParams" will come at a later point :)

[2017-11-18 20:34] nalinbhardwaj commented on #430
@halseth Ah, got it. I didn't look very closely, I'll take this up.

[2017-11-19 03:27] cfromknecht commented on #431
Hey @shtirlic! I believe this error is raised when the address provided is missing the `@` sign https://github.com/lightningnetwork/lnd/blob/master/cmd/lncli/commands.go#L259. The command pasted seems to also be missing it, is this an exact copy of the command you used?

[2017-11-19 22:36] nalinbhardwaj commented on #430
But for tests etc. to work, it's easier to just make it right now. Or is there some other pending change before that can be done? I'll hold off my PR if so.

[2017-11-20 00:21] halseth commented on #430
Hm, you might need to create a common interface that the `btcd/chaincfg.Params` and `ltcd/chaincfg.Params` implements if that does not exist already. What I mean is that you shouldn't "convert" ltc params to btc params, but assume they are provided correctly from the caller creating and decoding invoices.

This issue might be a bit harder than I anticipated... 😛

[2017-11-20 22:08] cfromknecht commented on #385
@jimpo thanks for the detailed overview and thorough exploration of the design space! I'm going to take a stab at getting this issue :)

[2017-11-24 09:15] SmartMeshFoundation opened #437 "why the Lightning Network channel can't Increase balance？"
if A and B have a Lightning Network channel，A has put some balance to this channel,when A translate some time with B, the balance of A is will be spend all, at this time the channel will be closed ,so why Lightning Network channel did not support increase balance to this existing channel，then A and B can continue use this channel for translate？

[2017-11-24 10:17] halseth commented on #298
I'll finish this one up :)

[2017-11-27 23:14] #420 closed

[2017-11-27 23:49] marcopeereboom commented on #423
Looks about right.

[2017-11-28 21:10] marcopeereboom commented on #423
Works for me.

[2017-11-28 21:10] #423 closed

[2017-11-29 06:51] minecraft2048 opened #441 "Trying to follow https://github.com/lightningnetwork/lnd/tree/master/docker and failed"
Here is my docker and docker-compose version:

[code]
Here is my output log:

[code]
I get this:

[code]

Then I do this:
[code]

[code]
Then I try check for Alice btc balance and there is none:

[code]

Continuing, I try to run `docker-compose run -d --name bob lnd_btc` and it tells me that:
[code]
which makes me think that one of the command arguments doesn't exist anymore, and https://docs.dock

[2017-11-29 09:12] davecgh opened #442 "Incorrect error check in channeldb tests"
As can be seen by looking at the following, the error being checked is not the error returned from `AddNextEntry`, rather the one returned from `AtIndex`.

https://github.com/lightningnetwork/lnd/blob/b98e993d764f545f0dac9b4e9df9bc7ad0ae734e/channeldb/channel_test.go#L124

[2017-11-29 09:36] Roasbeef commented on #442
Nice catch! That's a nasty little scoping quirk.

[2017-11-29 19:59] devrandom opened #444 "newaddress hangs if not caught up"
During initial catchup, the following command hangs with no feedback:

    lncli newaddress np2wkh

[2017-12-02 20:00] Raulo opened #448 "Lnd exits with json: cannot unmarshal array into Go struct field Vin.txinwitness of type string"
I have used lnd a few times, opened a few channels and after some time offline, I started the daemon again. It crashed with the following error:

2017-12-02 20:55:15.544 [INF] NTFN: New spend subscription: utxo=79b41c3894466bc2a957db94727e5e50951bfd8e8bc9d83ee2d1fe0e0b996d5c:0
2017-12-02 20:55:15.712 [ERR] BRAR: unable to load channel from disk: json: cannot unmarshal array into Go struct field Vi

[2017-12-02 21:00] Raulo commented on #448
Problem fixed after updating to HEAD.

[2017-12-02 21:00] #448 closed

[2017-12-03 01:36] mlerner commented on #414
After investigating more, and talking with Fei, it seems like the `listpayments` method is operating as desired. The code indicates that `listpayments` ["returns all outgoing payments in DB"](https://github.com/lightningnetwork/lnd/blob/2b2a3714c16791aaf7626fdfcda50331657e319d/channeldb/payments.go#L87).

The `listpayments` code currently shows multiple _outgoing_ payments for a single payment has

[2017-12-03 02:56] #408 closed

[2017-12-04 00:35] Roasbeef commented on #442
Closed by #446.

[2017-12-04 00:35] #442 closed

[2017-12-04 00:36] Roasbeef commented on #437
It can. We call that "splicing in". It allows A to add additional fund to the channel _without_ needing to halt all channel updates. They can continue updating the channel on the fly while the splice in/out transaction is confirming.

`lnd` hasn't implemented this feature yet though.

[2017-12-04 00:36] #437 closed

[2017-12-04 00:48] #415 closed

[2017-12-04 09:42] nalinbhardwaj commented on #430
@halseth but currently we have [chainparams.go](https://github.com/lightningnetwork/lnd/blob/master/chainparams.go#L60) which just applies the lite coin chain parameters to the btcCfg parameters. Is it not desirable to use that? Or is that code being deprecated?

[2017-12-04 20:45] cfromknecht opened #451 "Add Bootstrapped Connections to Persistent Peers"
Overview
=======

At the moment, when a peer disconnects from lnd, it will be handled in one of two ways depending on whether the connection is persistent or non-persistent. A _persistent connection_ is one that our daemon will try and reestablish if a disconnect occurs, while a non-persistent one will be allowed to disconnect without any further action. The goal of this issue is to modify the ser

[2017-12-04 20:54] cfromknecht commented on #451
@bajohns has expressed interest in tackling this one, let me know if anything needs clarification!

[2017-12-05 21:04] halseth opened #456 "Opening channel with Eclair: -22: TX rejected: insufficient priority"
@mably Reports that opening channels with Eclair sometimes fails with error
[code]
(logs [NdHU5paC.txt](https://github.com/lightningnetwork/lnd/files/1532864/NdHU5paC.txt))

1.  This error comes from the funding transaction having an insufficient fee. We should figure out why this fee is being set too low, and
2. handle the returned error by cancelling the funding flow and clearing out leftover st

[2017-12-05 21:14] mably commented on #456
Don't know if it has any kind of importance but I was trying to open a channel with the Acinq endurance Eclair node.

[2017-12-06 04:57] bajohns commented on #451
@cfromknecht I will review this and start working through setting up persistent peers.

It seems as though the assumption is that peers will stay online or at least that 1/3 of the bootstrapped peers will. In testnet that doesn't seem to hold as peers not only drop but a set of nodes can become isolated from the entire network. This isolation occurs if both nodes lose all peers but each other. Bef

[2017-12-06 18:52] pm47 opened #458 "No `channel_reestablish` before funding tx is confirmed"
Exact scenario:

1) eclair opens a channel to lnd
2) eclair publishes the funding tx
3) shutdown and restart eclair
4) eclair reconnects to lnd, handshake successful, but no `channel_reestablish` is received

If we remove step 3), channel establishment goes fine, and subsequent disconnections/reconnections work without any problem.

@cdecker was able to reproduce with `c-lightning` funding the cha

[2017-12-06 19:04] Roasbeef commented on #458
See https://github.com/lightningnetwork/lnd/pull/457

In this case, were enough confirmations reached to send the `FundingLocked`?

[2017-12-06 19:05] pm47 commented on #458
No, we disconnect as soon as the channel is funded (frequent use case on the mobile app)

[2017-12-06 19:08] Roasbeef commented on #458
I see. Atm we don't consider a channel "active" until the channel has received a sufficient number of confirmations. So from the PoV of the current code, it doesn't send `channel_reestablish` as the channel isn't yet active (no confs, no `FundingLocked`). This can be added to that PR I linked by loading a channel even if it's pending.

Looking at the spec, why would a node send the `FundingLocked`

[2017-12-06 19:15] pm47 commented on #458
I don't see where the specs says that?

To be clear expected behavior in my scenario is that if I reconnect immediately I just receive a `channel_reestablish`, no `funding_locked`.

[2017-12-06 19:16] Roasbeef commented on #458
See the fragment above I pasted. IMO it should be amended to say _only_ send funding locked iff it's reach the num confs.

I'll amend that PR I sent above to also address this case (_always_ send `channel_reestablish` even if the channel isn't open yet). Though IMO sending it does no purpose as neither sides can actually operate the channel yet.

[2017-12-06 19:23] halseth opened #459 "Autopilot goroutines stuck on connect"
As seen by @juscamarena, if the max number of autopilot channels is set too high (`autopilot.MaxChannels`), more goroutines than there are peers on the network might get created, and get stuck trying to connect/open channels.

We should limit the number of simultaneously spawned goroutines in this case to avoid this.

[2017-12-06 19:33] juscamarena commented on #459
In my case I had set 100.

[2017-12-06 21:07] pm47 commented on #458
Gotcha, agree!

I think `channel_reestablish` is related to the presence of commitments, not to the state of the channel. From that PoV it *kind* of makes sense to send `channel_reestablish` as soon as the first commitment has been exchanged.

[2017-12-07 01:34] #458 closed

[2017-12-07 01:34] Roasbeef commented on #458
Test myself with that PR, can we'll now properly always send the chan sync message. Should also fix some issues users have reported when using the eclair app with `lnd`.

[2017-12-07 13:44] juscamarena opened #461 "Panic Crash"
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xc31bf5]

goroutine 6184 [running]:
main.(*peer).logWireMessage(0xc420271080, 0x14a3a00, 0xc42090e300, 0x14a3a01)
        /home/ubuntu/projects/lightning/src/github.com/lightningnetwork/lnd/peer.go:930 +0x965
main.(*peer).readNextMessage(0xc420271080, 0x0, 0xc4205ec

[2017-12-07 20:29] Sjors opened #462 "sample-lnd is outdated?"
The example sample-lnd.conf is quite different from the one in the [installation instructions](https://github.com/lightningnetwork/lnd/blob/master/docs/INSTALL.md#creating-an-lndconf-optional), and `lnd` throws all sorts of complaints if you use it.

[2017-12-07 21:07] Roasbeef commented on #461
Ah, guessing you were connected to either `eclair` or `c-lightning` as I'm not sure if both of them have properly implemented the data loss protection option. Will fix!

[2017-12-07 21:13] #461 closed

[2017-12-07 22:16] stridentbean opened #463 "Linux specific bug after creating channel"
I'm running BTCD and LND in testnet on an old linux box. Everything had been running fine for a month or so. Then I updated master this week and see the following error. This happened after I created a new channel. It booted up fine without any channels. I send a few on chain transactions too without issue.

I think it has something to do with this commit. https://github.com/lightningnetwork/lnd/c

[2017-12-07 22:32] Roasbeef commented on #463
Ah I know what it is. It's due to alignment on ARM systems. Usage of atomics requires that the integers used be byte aligned.

[2017-12-07 22:42] halseth commented on #463
Wow, today I learned! Nice find 😀

[2017-12-07 22:54] stridentbean commented on #463
Thanks, guys!

[2017-12-07 22:58] Roasbeef commented on #463
Before:
[code]

After:
[code]

[2017-12-08 00:57] minecraft2048 opened #464 "lnd segfaults when trying to send payment to htlc.me"
I have updated my lnd installation by running this:

[code]
and I opened up a channel to htlc.me using this address:
`02995ec02804a3ae30e2e0a9bca58bd77af664eeff688d36c8f1ee677fe05b5394@45.63.87.131`
and using this command:
[code]
then I verified that the channel is actually open:

[code]
then when I try to send 100 satoshi to htlc.me this happened:

[code]
[code]

[2017-12-08 03:11] #464 closed

[2017-12-08 03:12] Roasbeef commented on #464
Thanks for the bug report! There was a slight logic error in a prior commit which I've spotted. The fix should be pushed out shortly. Additionally, I tracked down another `neutrino` related bug and fixed it as well in the process.

[2017-12-08 05:54] simonhorlick opened #465 "DNS seed bootstrapper doesn't seem to support IPV6"
I see the following error message repeated in the logs:

`DISC: Unable to query bootstrapper BOLT-0010 DNS Seed: [[nodes.lightning.directory soa.nodes.lightning.directory]]: address 2404:160:0:f:0:1:2d3f:5783:9735: too many colons in address`

[2017-12-08 09:17] Roasbeef commented on #276
This was fixed by #315, closing.

[2017-12-08 09:17] #276 closed

[2017-12-08 09:17] Roasbeef commented on #281
This was closed by #314.

[2017-12-08 09:17] #281 closed

[2017-12-08 19:46] juscamarena commented on #459
I haven't hit this since the last time, also updated to master.

[2017-12-08 21:18] #462 closed

[2017-12-08 23:11] Roasbeef commented on #416
Fixed by #426.

[2017-12-08 23:11] #416 closed

[2017-12-09 01:55] anaoum opened #468 "1 Satoshi Missing After Every Payment"
This is done using three nodes (alice, bob, charlie) on a local simnet and should be reproducible. I am not sure if this a bug, or is intentional but not accurately presented to the user.

We start with three nodes: alice, bob and charlie. Alice opens a channel with bob, and bob opens a channel with charlie:

[code]
[code]

We mine a few blocks to fully open the channels
[code]

Now we can see bot

[2017-12-09 01:55] anaoum commented on #468
Even closing this channel and examining the closing transaction shows one satoshi missing:
[code]

[2017-12-09 01:56] Roasbeef commented on #468
At any given point, we may be sending an additional satoshi to miner's fees. This is a result of the internal usage of milli-satoshis and our policy of always rounding down.

[2017-12-09 02:00] anaoum commented on #468
If the mining fee has increased as a result of the updated state, I would expect the commit_fee on the channel to reflect this.

[2017-12-09 02:01] Roasbeef commented on #468
It doesn't as this isn't an "explicit" fee. It's an artefact of the usage of `mSAT` within the protocol.

[2017-12-09 02:01] Roasbeef commented on #468
Note that further flows which create whole satoshis fee amounts in either direction can cause that 1 `SAT` to be re-credited.

[2017-12-09 21:42] anaoum opened #469 "lnd crashing soon after start up"
After unlocking the wallet, I receive the following segmentation fault:

[code]

I have uploaded the trace logging if this helps anyone identify the problem: https://gist.github.com/anaoum/c1f9594024d4d52745b8e9f28e17d3eb

This is a serious problem as it is completely preventing access to funds in my wallet.

[2017-12-09 22:18] Roasbeef commented on #469
Which commit are you running on? Does your local branch include: https://github.com/lightningnetwork/lnd/commit/ce6dee6ee4c3d4b161db65058c8afa4f541bae1f?

[2017-12-09 22:55] anaoum commented on #469
Sorry, I should have mentioned I am on 7a3116f8a97223bb8403aedb058bb4a6f0417eca, which does not include ce6dee6ee4c3d4b161db65058c8afa4f541bae1f.

[2017-12-09 23:27] halseth opened #470 "crash sending fee update for channel without `RemoteNextRevocation`"
`lnd` can crash trying to send a fee update for a channel where the `RemoteNextRevocation` is not yet set:

[code]

We must make sure fee updates are sent only if the link is `EligibleToForward`, as introduced here: https://github.com/lightningnetwork/lnd/pull/457/commits/36956d390fa77906cffb91eea50ac39403aad35e

[2017-12-10 00:33] #469 closed

[2017-12-10 23:59] philipwhiuk commented on #468
Sorry, you're internally representing currency at a greater precision that Bitcoin supports, rounding it and not making the discrepancy visible to the user?

This is on the same scale of error as storing currency as a double and then hand waving away the inevitable problems with accurately storing values.

It's not acceptable for a financial protocol to 'round off' and drop currency like this. It'

[2017-12-11 00:05] Roasbeef commented on #468
Not at all, we are using fixed point arithmetic here, no doubles involved. The error is bounded to a single satoshi. That single satoshi may end up adding to the commitment transaction's miner fee. Alternatively, an additional payment flows may end up restoring that satoshi.

If you would like to continue this discussion @philipwhiuk, I recommend you make an issue in the spec's repo: https://githu

[2017-12-11 01:24] Senso commented on #468
Could we get more certainty?

[2017-12-11 01:25] Roasbeef commented on #468
One last comment: the fee paid _within_ the protocol isn't `1 SAT`, it's actually `1001 mSAT`. So Alice ends up with `8998999 mSAT` (`8998.999 SAT`). Bob similarly ends up with  `1001001 mSAT` (`1001.001 SAT`). `8998.999 + 1001.001  = 10000.0 SAT`. However, we can't express that fractional amount (totaling `1 SAT` across both commitment transactions) so it goes to miner fees.

A commit will be pus

[2017-12-11 01:25] #468 closed

[2017-12-11 01:27] Roasbeef commented on #468
Continuing from my example above, if Bob sends Alice `1 mSAT`, then both parties will now have a whole number of satoshis. This may have been a multi-hop payment, or a direct payment.

[2017-12-11 02:28] Roasbeef commented on #470
Was closed due to #471.

[2017-12-11 02:28] #470 closed

[2017-12-11 06:18] jcyktor opened #473 "Add noencryptwallet option to tutorial lnd.conf"
While going through the beginning part of the tutorial, I ran into this message on trying to launch the `lnd` for alice:

I was getting a similar message trying to run `lncli` and pointing to alice's `lnd`. I found PR #367 and tried the --noencryptwallet flag, which makes everything work as expected.

I looked through this repo and couldn't find the tutorial pages. If they're in another repo, let

[2017-12-11 13:19] bitcoinsplit opened #474 "SIGSEGV after sending updatefee @ MacOS"
While doing nothing Lnd crashes after sending updatefee. I'm running it at MacOS with high sierra.

[code]

[2017-12-11 20:35] shtirlic commented on #431
Hi, yes it was missing the @, after I added it errors with this:
[code]

[2017-12-11 21:11] juscamarena opened #476 "Incoming Channel Opening Constraints"
Would be a nice feature to have a minimum set of parameters for anyone opening channels to a node and advertise that especially for merchants.

Some nodes may want to avoid having tens if not hundreds of small value channels which would could be expensive to close especially in times of high fee congestion.

Would be useful for me as I could peg the incoming channel btc rate to be the 100 USD equi

[2017-12-12 03:48] molxyz opened #477 "Not enough witness outputs to create funding transaction"
I sent 3 tBTC to a np2wkh address created from the LND wallet, and the transaction already has more than 6 confirmations but when I tried to open a channel, it says "not enough witness outputs to create funding transaction..."  This has happened to some other testers as well.

![not enough witness outputs error](https://user-images.githubusercontent.com/21127776/33866531-38462182-dec5-11e7-8ae0-56

[2017-12-12 10:22] rem0g opened #478 "Feature request: Specify wallet address for funding channel"
Regarding OpenChannelRequest gRPC Request there is no option to specify wallet address to fund the open channel.

It could be defined with:

request = ln.OpenChannelRequest(
        target_peer_id=<YOUR_PARAM>,
        node_pubkey=<YOUR_PARAM>,
        node_pubkey_string=<YOUR_PARAM>,
        local_funding_amount=<YOUR_PARAM>,
        push_sat=<YOUR_PARAM>,
        fund_addr=<YOUR_PARAM>
    )

Wh

[2017-12-12 13:20] halseth opened #479 "BOLT#11 r-field spec change"
The definition of the `r` field in the invoice was recently changed: https://github.com/lightningnetwork/lightning-rfc/pull/317

We must update our invoice decoding/encoding adhering to this change.

[2017-12-12 18:42] halseth commented on #474
Duplicate of #470.

[2017-12-12 18:42] #474 closed

[2017-12-13 12:41] joaojoyce opened #480 "LND insufficient priority"
Hi.

I'm trying to open a channel on testnet using lnd and Lnd Web Client (lncli-web).

I went to the lnd testnet explorer to get a peer (77.249.29.104:9735 025eeb02baf7555a3601b9eb894319bb7db594c9be11e5b5c289938274e1752894 ) and tried to open a channel but I'm getting the following error:

[code]

For the questions:
1. Am I doing something wrong or is this a bug?
2. Is this because the funding tr

[2017-12-13 12:43] halseth commented on #480
Thanks, this is definitely a bug!

Duplicate of #456

[2017-12-13 12:43] #480 closed

[2017-12-13 12:45] joaojoyce commented on #480
Thank you. Is there a way to bypass it for now, just to go through with some testing and poking around?

[2017-12-13 12:48] halseth commented on #480
Are you using the `btcd` (fullnode) backend? If you are, I think it should usually be enough to let the output you are trying to spend mature a bit, let more blocks be mined :)

[2017-12-13 12:50] joaojoyce commented on #480
Yes. But did the transaction left my machine? I can't see it at.

https://testnet.smartbit.com.au/tx/41de84f1763f925b0949b5b6699696837cf31e8f5b44c967cd8ced5e54011575

[2017-12-13 12:52] halseth commented on #480
It probably did not, since your fullnode rejected it. That it is still listed in `pendingchannels` is a bug.

[2017-12-13 12:53] joaojoyce commented on #480
OK. Thank you.

[2017-12-13 13:01] halseth commented on #480
You can tru updating to `1121b0c`, I think that might resolve this issue.

[2017-12-13 13:06] anaoum opened #481 "Cannot obtain payment preimage after payinvoice command"
Currently the user is only ever presented with the payment_preimage after the payinvoice command.

Using the listpayments command at a later time does not show the preimage for paid invoices, only their hashes.

The preimage serves as proof of payment of a specific invoice and should be obtainable by the user if needed.

[2017-12-13 13:46] anaoum opened #482 "Cannot balance channels by sending self payments"
Bob has two channels, CH1 to Alice, and CH2 to Charlie. Bob notices that these two channels are very unbalanced; CH1 has 1000 SAT local to Bob and 9000 SAT local to Alice, likewise CH2.
[code]

Bob wants to balance this and wishes to send himself 4000 SAT via CH2->CH3->CH1. This would result in the following updated state:
[code]

Unfortunately, this does not work with the current implementation.

[2017-12-13 17:55] joaojoyce commented on #480
I'll try and report back.

In case it is of any use I've also noticed that I only was able to create a channel in lncli by passing the --conf_target=1 flag.

[2017-12-13 18:45] joaojoyce commented on #480
OK. Was able to create the transaction with the update.
Thanks!

[2017-12-13 21:47] Roasbeef commented on #456
Fixed due to https://github.com/lightningnetwork/lnd/commit/1121b0c48b8eb0c4d7a2cdbca1aaa6cdb5a46153.

Closing.

[2017-12-13 21:47] #456 closed

[2017-12-13 21:49] Roasbeef commented on #459
I think this was partially related to the panic fixed in: https://github.com/lightningnetwork/lnd/commit/2e2b262999da6288abb46f106c0fd90e5588e208

Before access to the map wasn't thread safe, so golang would at times panic as it detected concurrent read/writes to the map.

[2017-12-13 21:49] Roasbeef commented on #465
Related to #431

[2017-12-13 21:50] Roasbeef commented on #473
The tutorials are housed in https://github.com/lightninglabs/lightning-dev-site

[2017-12-13 21:50] Roasbeef commented on #476
@halseth is working on a task related to this

[2017-12-13 21:53] Roasbeef commented on #478
Specify the wallet address to fund? The funds when you create a channel are sent to 2-of-2 multi-sig output. The structure of that output depends on the keys of the peer you're opening the channel with.

[2017-12-13 21:54] Roasbeef commented on #478
Closing to a specified address is def possible, just a matter of threading through a new parameter during the channel closure procedure. However, there's an option in the spec to open a channel and only allow it to be closed to a particular address for security reasons. So this feature would need to be aware of channels that have a closed delivery loop.

[2017-12-13 22:01] Roasbeef commented on #481
Definitely! We currently don't store the preimage, only the payment hash. It's relatively straight forward to just store the _preimage_ instead. Also we should be storing the _entire_ payment request as that itself acts as a signed receipt and proof-of-payment along with the pre-image.

Relevant code fragments that would need to be modified to fix this:
  * https://github.com/lightningnetwork/lnd/

[2017-12-13 22:08] Roasbeef commented on #482
Yep you're correct, this current implementation's default path finding doesn't allow circular routes. There's a pending PR for a `sendroutes` command which would let a higher level interface _manually_ craft a circular route. This was rolled into @cfromknecht's off-chain swap branch to allow swapping between BTC and LTC: https://github.com/cfromknecht/lnd/commits/swapz

A first step to exposing th

[2017-12-14 11:30] rem0g commented on #478
Yes, i want to build a 3rd party webservice for those who want to deposit bitcoins and manage channels remotely. Unless they have to deposit in one address, it would be preferable if there is coin selection bound by TOKEN_ID which I have definitely to manage by myself.

[2017-12-14 16:32] halseth commented on #273
We want to remove  `SetAlias` from the RPC interface, as it is enough to specify this at startup/lnd.conf.

[2017-12-14 18:23] Sjors opened #490 "Mainnet"
Just creating a placeholder ticket so I get a notification once I can try it out. I don't mind losing a small amount of bitcoin for the early adopter credit :-)

Right now if you launch `lnd --bitcoin.active --neutrino.active --neutrino.connect=faucet.lightning.community` without specifying testnet, it uses testnet anyway. I assume that's by design.

[2017-12-15 03:51] MDrollette commented on #431
ipv6 addresses need to be wrapped in square brackets. Does this work for you?
[code]

[2017-12-15 10:39] joaojoyce opened #493 "Can't close channels or reconnect to peers."
I have some channels showing as opened but can't do any payments, can't remove/close the channels and can't reconnect to the peers. Also can't see them in the https://explorer.acinq.co.

listchannels
[code]
Noticed that "active" is false.

listpeers
[code]

Closing a channel:
[code]

Trying to connect to a peer:
[code]

PS: Is there documentation where I can find some more information (message and

[2017-12-15 16:59] griffero commented on #297
I'm getting the same error here while unlocking the wallet. The only difference is that I'm not syncing chain in neutrino mode.

[code]

[2017-12-15 17:54] sangaman commented on #444
I could not reproduce this behavior. I'm running the latest lnd code. If I wipe the `.lnd` directory and then start lnd and run `lncli newaddress np2wkh` while lnd is still catching up, I get a normal response with an address.

[2017-12-15 19:00] devrandom commented on #444
Did you have wallet password on or off?

[2017-12-15 19:14] sangaman commented on #444
No wallet password, I was running with `--noencryptwallet`.

[2017-12-15 19:17] devrandom commented on #444
I believe I saw the issue with encrypted wallet.  Alternatively, maybe this has been fixed since.

[2017-12-15 19:26] sangaman commented on #444
I just started over from scratch with an encrypted wallet, it looked like I may have recreated it as it hung for ~15 seconds or so before finally spitting out an address. It didn't take long when I tried with an unencrypted wallet, maybe a second or two. So it's different behavior from what I observed before, but I'm using pretty modest resources on this machine so it could just be a performance i

[2017-12-15 20:11] halseth commented on #444
Should not have anything to do with encrypted wallet or not, since running with `--noencryptwallet` is still actually encrypting the wallet, just with a standard passphrase 😛

[2017-12-15 20:16] halseth commented on #297
Hey, ensure you are running with latest update, should be fixed by https://github.com/lightningnetwork/lnd/commit/ce6dee6ee4c3d4b161db65058c8afa4f541bae1f

[2017-12-18 02:36] Roasbeef commented on #306
Closed by #411.

[2017-12-18 02:36] Roasbeef commented on #305
Closed by #411.

[2017-12-18 02:36] #305 closed

[2017-12-18 02:36] #306 closed

[2017-12-18 09:10] creslinux commented on #463
Builds on Raspberry Pi3 also falling foul of this bug.
The Pi3 is 64bit, but only the Pi2 32bit GO binaries are provided in standard builds of its Raspbian OS.
[code]

[2017-12-18 09:42] whizz opened #497 "CMGR: Can't accept connection: chacha20poly1305: message authentication failed"
I don't know if this is actually a problem, but every now and then the log contains this message.

[code]

As there is no other detail in the log, I cannot determine what authentication failed and why. Maybe at least the error message should be clearer as what to do about it.

I am able to connect to peers.

[2017-12-18 10:55] ghanavati27 opened #498 "lncli can't set the wallet password at lnd startup. unlock ,too"
Error message is "Input wallet password: [lncli] The handle is invalid."
Lines: 748,755,788 in https://github.com/lightningnetwork/lnd/blob/master/cmd/lncli/commands.go
need to change from
pw, err := terminal.ReadPassword(0)
to
pw, err := terminal.ReadPassword(int(syscall.Stdin))
also, import "syscall" at top of file.

[2017-12-18 13:14] halseth commented on #498
Thanks! I Googled this and it seems this is an issue on Windows?

I think the fix you suggested should work :)

[2017-12-18 14:35] ghanavati27 commented on #498
Yes, i tested it on windows.
I fixed it by changing 0 to int(syscall.Stdin)
see https://golang.org/pkg/syscall/#pkg-variables
also , zero is true value. but i don't know why in windows in not true.

[2017-12-18 14:37] ghanavati27 commented on #498
However , int(syscall.Stdin) will work in all systems.

[2017-12-18 17:21] Roasbeef commented on #497
There's no issue there. That's just the way that [`brontide`](https://github.com/lightningnetwork/lightning-rfc/blob/master/08-transport.md) works: if the connecting party doesn't know your pubkey, then you won't connect to them.

On the network as is, this can happen if you've wiped your state in the past and have a new public key, yet older nodes are still trying to connect using your prior publ

[2017-12-18 17:21] #497 closed

[2017-12-18 17:32] Roasbeef commented on #493
Those channels are inactive:
[code]

This means the remote peer isn't online. Additionally, those channels haven't finished the final funding state (chan_id: 0), so they're unusable as is. If you want to close them out, you need to force close (`--force`).

There's a PR that should be merged soon (https://github.com/lightningnetwork/lnd/pull/432) which will increase the reliability of the final ph

[2017-12-18 17:32] Roasbeef commented on #493
The logs on connecting to the peers look fine, does that repeat over and over again? Which commit are you running?

[2017-12-19 10:56] whizz opened #502 "Error when closing channel"
I created a channel between lnd and eclair. I made few transactions and wanted to close the channel. I initiated the close from Eclair side. This appeared in lnd logs:

[code]

The listchannels now shows this (chan_id is 0):

[code]

EDIT: A related issue is logged in eclair too (https://github.com/ACINQ/eclair/issues/295)

[2017-12-19 12:34] pm47 commented on #502
@roasbeef look how nice we are, the whole tx is included in the error message now :-) Hope that'll help get to the bottom of this

[2017-12-19 15:41] coonce commented on #498
@ghanavati27 - Thanks for the fix! It seems that Windows always needs a little extra attention. :)

[2017-12-19 15:42] halseth commented on #498
Closed by #499

[2017-12-19 15:42] #498 closed

[2017-12-19 16:20] Roasbeef commented on #502
Hmm, I thought [this commit fixed it](https://github.com/lightningnetwork/lnd/commit/94ba7f964d8ba586e4a812d966c98f6d94f00160#diff-1e29d10b32bf24e38a03eff98464f450)

Which commit are you running on @whizz? Atm we don't properly route non-funding related errors to the proper sub-system, otherwise, the `chanCloser` would've detected that eclair failed the co-op closing procedure. The `chan_id: 0` sh

[2017-12-19 16:29] whizz commented on #502
I am on https://github.com/lightningnetwork/lnd/commit/8411a5b8ce2a8c953876375160cd8399cf16147a

[2017-12-19 18:21] Roasbeef commented on #502
Hmm, ran a few times on testnet and was able to successfully close out each time. Will repeat locally in regtest/simnet mode later in the week as I'll be able to more rapidly perform close attempts.

[2017-12-19 18:25] whizz commented on #502
@Roasbeef I can try to do the same thing I did last time and see what I get. Any special log settings I should use to capture what you need? Also if you have tips on how to isolate the relevant log lines, that would be helpful, as the log can be quite noisy sometimes.

[2017-12-19 18:33] Roasbeef commented on #502
If you apply this diff:
[code]

Our closing tx will be printed out each time.

If you use the following program, you'll be able to print out a dump of their transaction as included within their error message:
[code]

When compiled, it can be us like so:
[code]

[2017-12-19 18:33] Roasbeef commented on #502
As for the logs, using `lncli debuglevel --level=X`, you can turn all the other sub-systems to `info`, then have `PEER=debug`, and `LNWL=trace`.

[2017-12-19 20:16] Raulo opened #503 "lnd crashes with invalid magic in compressed pubkey string: 26"
I updated lnd to the current HEAD and lnd is unable to start. It crashes with

2017-12-19 21:12:38.847 [DBG] LTND: Adding debug invoice (*channeldb.Invoice)(0xc4200af1e0)({
 Memo: ([]uint8) <nil>,
 Receipt: ([]uint8) <nil>,
 PaymentRequest: ([]uint8) <nil>,
 CreationDate: (time.Time) 2017-12-19 21:12:38.847298526 +0100 CET m=+7.381764617,
 SettleDate: (time.Time) 0001-01-01 00:00:00 +0000 UTC,
 Te

[2017-12-19 20:29] Roasbeef commented on #503
There was a breaking database change recently. If you were on a prior commit, then you'll need to go back to that commit, close out your channels, then update to the new version.

[2017-12-19 20:51] whizz commented on #502
So, I got into the same state again. I am attaching log slice which I think is relevant. It was channel d7199b2b52f9eccfda56a02bc1f31742575184396aff168534380d4541aa82e5 between 021e329bee6013d151ed0e8f5193ccbafdf4ca65579ed51149d57d5344c6c0af46 (eclair) and 030d57c9f04a290e71b141e2b6949c35247188ac059ced81e1621b30cd08a2bbe8 (lnd with the diff applied). The lnd node has 13 channels with several peers

[2017-12-19 20:52] stevenroose commented on #503
I think I got the same thing:
[code]

What is the commit that had the breaking change? Ugh, I have a lot of channels to close out :D

[2017-12-19 21:43] stevenroose commented on #503
Hmm, I guess it should be either 48e22219c0926d8f75613ca08b0edbc4e79aa059 or cf6f313cff967164dbb1685529b6819b9794cb17.

[2017-12-19 21:52] Raulo commented on #503
@Roasbeef

I managed to close all the channels except one and now I'm stuck

 lncli  closechannel --force 4a09ec8029146c979e98ed1fea1e06de59393a601b4d70994f268d1156e251c2 0 3
[lncli] rpc error: code = Unknown desc = -22: TX rejected: output 4a09ec8029146c979e98ed1fea1e06de59393a601b4d70994f268d1156e251c2:0 referenced from transaction 015b93824319b1d00f7741f96cb9a334b7f54b7f7459d88b2a5c003b0b625cea

[2017-12-20 14:32] stevenroose commented on #503
For me, this one worked: 8411a5b8ce2a8c953876375160cd8399cf16147a

I'm having trouble closing all my channels (120). I made this little program, but I'm getting errors from the RPC.

`Error receiving channel update for channel 1378804073908928512:
rpc error: code = Unknown desc = invalid hash length of 0, want 32`

I have both my lnd node and the lnrpc dependency on the same commit, but the respon

[2017-12-20 14:55] gabbello opened #505 "Panic: runtime error: invalid memory address or nil pointer dereference"
Hello,
I setup lnd on a raspbberyPi 3 (running in neutrino mode) and after 1 day of running I got the below crash in the logs:

[2017-12-21 04:05] sangaman commented on #316
I've tried this both ways on debian distros, using the `apt-get` method as well as `wget`. Both ways seem to work. The one thing I've consistently encountered that could make the installation process smoother is that the `go` binaries need to get added to `PATH` explicitly, otherwise it won't find the `go` command.

[2017-12-21 07:06] Roasbeef commented on #503
@Raulo if the peer isn't online, then you can tack on `--force` to force close the channel.

@stevenroose that's an odd error it isn't related to closing out channels at all. I'd check to see if you have the latest set of proto files. As I pointed out above, you may have some dormant peers that haven't come online for some time. In that case you can just force close the channel.

Closing this issu

[2017-12-21 07:06] #503 closed

[2017-12-21 07:07] Roasbeef commented on #493
Closing to clear up some clutter in the issues. If you want to discuss this further you can jump on `#lnd` on freenode, or our developer/test slack.

[2017-12-21 07:07] #493 closed

[2017-12-21 07:10] Roasbeef commented on #490
Yes it's testnet by design. No need for a placeholder, you'll likely see the tag on this repo (if you're watching it) once we tag our beta release (along with an announcement post, etc).

[2017-12-21 07:10] #490 closed

[2017-12-21 08:12] whizz commented on #502
Well it definitely stayed as an open channel with chan_id 0 until I restarted lnd some time later. I will try to do some more tests and isolate it.

[2017-12-21 20:48] sangaman opened #508 "ConnectPeer returning incorrect peer_id"
I've been seeing this behavior several times where the `peer_id` returned from `lncli connect` doesn't match the `peer_id` that's returned when I do `lncli listpeers`. My node isn't fully behaving as I'd expect yet with autopilot so it could be caused by some other issue, but it still seems like a faulty response. I suppose it could also be that `listpeers` is returning an incorrect `peer_id`?

Th

[2017-12-21 21:13] sangaman opened #510 "Segmentation Violations on Windows Subsystem for Linux"
I've been experimenting on Windows Subsystem for Linux on my Windows 10 laptop. Here's what I have installed along with the latest code from btcd/roasbeef and lnd:

`go version go1.8.3 linux/amd64`
`Ubuntu 16.04.3 LTS`

On running `lnd` in neutrino mode, it crashes almost immediately with a segfault. The stack traces are long so I've put them into gists, here's an example using neutrino https://gi

[2017-12-21 22:25] halseth commented on #510
Looks like database errors. Don't know much about "Linux on Windows", but maybe there are some special file system access privileges you don't have?

[2017-12-21 22:36] sangaman commented on #510
I'm no WSL expert either... btcd synced the testnet blockchain without issue which I'd expect to be much heavier on I/O and database activity. I found some similar errors people searching online but nothing in the way of a clear solution or what causes it. I'm guessing it may be related to incoming connections, I synced btcd without being reachable but maybe I'll try forwarding port 18333 and see

[2017-12-22 04:12] sangaman commented on #510
Interestingly, I've been trying this some more this evening and it seems to be working fine now. The only thing I did differently was set `--externalip` and forward the 9735 port to my laptop (which doesn't seem to be working because it's still not accepting incoming connections but that's a separate issue). I've had lnd running for several hours with multiple peers and an open channel, no problem

[2017-12-22 10:59] Roasbeef commented on #508
Yeh peer ID isn't really used at all currently. We're planning on deprecating it all together.

[2017-12-22 11:04] Roasbeef commented on #510
Hmm, all those traces point to issues with `bolt` running on WSL. `btcd` would be unaffected as it uses `leveldb` which doesn't seem to run into this particular edge case.

Tracing down the point of panic, it looks like it's failing the following check:
https://github.com/golang/go/blob/master/src/runtime/signal_unix.go#L297

[2017-12-22 11:05] Roasbeef commented on #510
Looks like this was also filed as an issue on the OG bolt repo: https://github.com/boltdb/bolt/issues/702

[2017-12-22 11:06] Roasbeef commented on #510
Which then lead to a fix: https://github.com/Microsoft/WSL/issues/2304

Perhaps try to update your version of WSL?

[2017-12-22 12:26] whizz commented on #502
I have another instance, hopefully isolated logs this time. I had an open channel between Eclair and lnd. I sent 5mBTC from Eclair do lnd and 2mBTC from lnd to Eclair. Then I initiated close from Eclair. This is what happened. This time, the channel looks like it's open on lnd side, but is in Closing state on Eclair side.
[code]

[2017-12-22 15:07] sangaman commented on #510
Interesting. I believe I am on the latest version, I keep Windows updated and I've done the Fall Creators update - I actually came across that same bolt#702 issue as you but discounted it because I figured I'm up to date. I only installed WSL and the Ubuntu app within the past couple of days and one of the first things I did was updating/upgrading all the packages.

On the bright side, LND has bee

[2017-12-22 15:32] #505 closed

[2017-12-22 15:53] Roasbeef commented on #510
Yeh seems like they don't yet emmulate the behavior of `mmap` with full fidelity yet.

[2017-12-22 16:12] Roasbeef commented on #502
Thanks for that last log fragment! It looks like we're setting the sequence number differently for the single input in the closing transaction 🤔

[2017-12-22 16:17] Roasbeef commented on #502
That's very odd though, as after inserting that additional logging locally, all my closing transactions (on simnet between lnd), have the sequence input of `4294967295`.

[2017-12-22 16:26] Roasbeef commented on #502
Ah actually, I think I now what the culprit might be! We never properly wipe out the sequence on the txin to the funding transaction when we attempt to do a cooperative channel closure.

[2017-12-22 16:33] Roasbeef commented on #502
Proposed fix:
[code]

[2017-12-22 18:47] #502 closed

[2017-12-22 19:12] #465 closed

[2017-12-22 21:28] whizz commented on #502
Confirmed fix. Channel now closes OK with correct settlement transaction. Good job @Roasbeef !

[2017-12-23 16:17] sangaman opened #511 "synced_to_chain flips to false after initial sync w/ neutrino"
Shortly after running lnd for the first time, completing initial sync with neutrino, and connecting to a peer, the `synced_to_chain` value from `getinfo` shows false and I'm unable to accept incoming `openchannel` requests. I was also able to observe that `synced_to_chain` was actually true for a while before switching to false. If I restart lnd, `synced_to_chain` immediately shows true and I'm ab

[2017-12-23 16:48] sangaman opened #512 "New incoming channel from faucet stalls and blocks_till_open shows negative w/ neutrino"
When I sync an lnd instance using neutrino and try to get my first channel by connecting to the node at faucet.lightning.community and then using its website to open a channel with my node, a pending channel is created and the funding transaction is broadcast. However, the channel never becomes active even after hours and over a dozen confirmations for the funding transaction. If I shut down lnd,

[2017-12-23 23:08] johng commented on #386
I've done the first part here #514

[2017-12-24 12:42] mcdallas commented on #105
I am having the same problem and I am running the latest version of btcd

2017-12-24 12:27:31.717 [INF] LTND: Version 0.3.0-alpha
2017-12-24 12:27:31.718 [INF] CHDB: Checking for schema update: latest_version=0, db_version=0
2017-12-24 12:27:31.718 [INF] LTND: Primary chain is set to: bitcoin
2017-12-24 12:27:32.612 [INF] LNWL: Opened wallet
2017-12-24 12:27:32.697 [INF] LNWL: Established connecti

[2017-12-24 13:41] mandelmonkey opened #515 "/v1/invoices/ REST apis ordering issue?"
Seems that all variations of the /v1/invoices/ are always being interpreted as  /v1/invoices/{pending_only}

so if I called /v1/invoices/{r_hash_str} or v1/invoices/subscribe
response is
[code]

[2017-12-24 20:19] helgabutters opened #516 "listinvoices: can't list (invalid field length)"
Doing some testing with ZAP I came across the following bug: https://github.com/LN-Zap/zap-desktop/issues/123

This seems to be an issue on the underlying lnd RPC as well:
[code]

LND Invoice Log:
[code]

[2017-12-24 21:58] derekbeau opened #517 "Add support for sending partial payment to invoices"
## Reproduce
Testing using the [Stage 1 Tutorial](http://dev.lightning.community/tutorial/01-lncli/index.html)

- Alice creates a payment request for 4000 SAT
- Bob sends 1000 SAT `lncli-bob sendpayment --amt=1000 --pay_req=<ALICE_REQUEST>`
- Result: Bob sends 4000 SAT to Alice and payment request is settled

Not sure if I am doing the command wrong or if `--amt` is not supported with a specific `

[2017-12-25 07:03] camalolo opened #519 "Speed up TLS generation step on slow/32-bit platforms"
Here is what I see in the logs :

2017-12-25 06:51:43.003 [INF] LTND: Version 0.3.0-alpha
2017-12-25 06:51:43.047 [INF] CHDB: Checking for schema update: latest_version=0, db_version=0
2017-12-25 06:51:43.075 [INF] RPCS: Generating TLS certificates...

Nothing happens after that. As far as I can tell there was no error showing up anywhere (including when running lnd with -d trace). It just waits f

[2017-12-25 08:42] Alonzo-Coeus commented on #273
Someone got here before me. This is getting old.